<html lang="ko"
    xmlns:th="https://www.thymeleaf.org">

    <!-- Config -->
    <th:block th:fragment="config">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CRUD</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link th:href="@{/images/logo/crudLogo2.png}" rel="icon"/>
        <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/ruang-admin.min.css}" rel="stylesheet">
    </th:block>

</html>