<!DOCTYPE html>
<html lang="ko"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- Config -->
    <th:block th:replace="@{/common/config} :: config"></th:block>
</head>
<body>
    <!-- Header -->
    <th:block th:replace="@{/common/header} :: header"></th:block>
    
    <!-- Sidebar -->
    <th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>
    
    <!-- Content -->
    <th:block layout:fragment="content"></th:block>

    <!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>
</body>
</html>