<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">

	<!-- Script -->
	<th:block th:fragment="script">
		<a class="scroll-to-top rounded" th:href="@{#page-top}">
			<i class="fas fa-angle-up"></i>
		</a>

		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
		<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/vendor/bootstrap-touchspin/js/jquery.bootstrap-touchspin.js}"></script>
		<script th:src="@{/vendor/select2/dist/js/select2.min.js}"></script>
		<script th:src="@{/js/ruang-admin.min.js}"></script>
		<script defer th:src="@{/js/employee/changePwd.js}"></script>
	</th:block>

</html>