<html lang="ko"
    xmlns:th="https://www.thymeleaf.org">

    <!-- start Emp Sidebar -->
    <div th:fragment="sidebar" id="wrapper">
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon">
                    <img th:src="@{img/logo/crudLogo.png}">
                </div>
                <div class="sidebar-brand-text mx-3">CRUD</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                MAIN
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmp" aria-expanded="true"
                   aria-controls="collapseEmp">
                    <i class="fas fa-address-card"></i>
                    <span>사원현황</span>
                </a>
                <div id="collapseEmp" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">전체 사원 조회</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomer" aria-expanded="true"
                   aria-controls="collapseCustomer">
                    <i class="fas fa-handshake"></i>
                    <span>고객관리</span>
                </a>
                <div id="collapseCustomer" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="../customer/selectAllCustomer.html">고객 목록 조회</a>
                        <a class="collapse-item" href="#">분석 고객 목록 조회</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales" aria-expanded="true"
                   aria-controls="collapseSales">
                    <i class="fas fa-headset"></i>
                    <span>영업관리</span>
                </a>
                <div id="collapseSales" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">영업기회 조회</a>
                        <a class="collapse-item" href="#">영업기회 통계</a>
                        <a class="collapse-item" href="#">영업활동</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePurchase" aria-expanded="true"
                aria-controls="collapsePurchase">
                <i class="far fa-credit-card"></i>
                <span>매입주문</span>
                </a>
                <div id="collapsePurchase" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">견적서 관리</a>
                        <a class="collapse-item" href="#">청구서 작성</a>
                        <a class="collapse-item" href="#">청구서 관리</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIncome" aria-expanded="true"
                   aria-controls="collapseIncome">
                    <i class="fas fa-chart-line"></i>
                    <span>매출관리</span>
                </a>
                <div id="collapseIncome" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">수금현황</a>
                        <a class="collapse-item" href="#">사원실적</a>
                        <a class="collapse-item" href="#">영업그룹별 실적 조회</a>
                        <a class="collapse-item" href="#">카테고리별 실적 조회</a>
                        <a class="collapse-item" href="#">상품별 실적 조회</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventory" aria-expanded="true"
                   aria-controls="collapseInventory">
                    <i class="fas fa-boxes"></i>
                    <span>재고관리</span>
                </a>
                <div id="collapseInventory" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">전체 재고 관리</a>
                        <a class="collapse-item" href="#">개인 창고 관리</a>
                        <a class="collapse-item" href="#">창고 이동 내역</a>
                        <a class="collapse-item" href="#">요청목록</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="true"
                   aria-controls="collapseProduct">
                    <i class="fas fa-archive"></i>
                    <span>상품관리</span>
                </a>
                <div id="collapseProduct" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">카테고리 관리</a>
                        <a class="collapse-item" href="#">품목 관리</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBoard" aria-expanded="true"
                   aria-controls="collapseBoard">
                    <i class="far fa-edit"></i>
                    <span>게시판</span>
                </a>
                <div id="collapseBoard" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#">공지사항</a>
                        <a class="collapse-item" href="#">자유게시판</a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- end Emp Sidebar -->

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="js/ruang-admin.min.js"></script> -->
        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>
        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>
        <script src="js/demo/chart-bar-demo.js"></script>
    </div>

</html>