<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<script>
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">카테고리 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="./">Home</a></li>
							<li class="breadcrumb-item">Tables</li>
							<li class="breadcrumb-item active" aria-current="page">재고관리</li>
						</ol>
					</div>
			
					<!-- 카테고리(중) 조회 -->
					<!-- Row -->
					<div class="row">
			
						<div class="col-lg-12">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">전체상품 재고현황</h6>
									<div>
										<input type="button" class="btn btn-primary" value="카테고리(중) 등록" data-toggle="modal" data-target="#refCategoryModal">
									</div>
								</div>
			
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="categoryM">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>카테고리(중)</th>
												<th>카테고리 번호</th>
												<th>수정하기</th>
											</tr>
										</thead>
										<tbody th:align="center"> 
											<tr th:each = "categoryList : ${allCategoryList}" th:if="${categoryList.refCategoryCode} == 0">
												<td th:text = "${categoryList.categoryName}"></td>
												<td th:text = "${categoryList.categoryCode}"></td>
												<td>
													<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateRefCategoryModal"
													id="#updateRefCategoryModal" th:value= "${categoryList.categoryCode}" onclick="getCategoryCode(this.value)">수정하기</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div> 
							</div> 
						</div> 
					</div> 
					<!-- 카테고리(중) 조회 끝-->
					
					<!-- 카테고리(소) 조회 -->
					<div class="row">
			
						<!-- DataTable with Hover -->
						<div class="col-lg-12">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">전체상품 재고현황</h6>
									<div>
										 <input type="button" class="btn btn-primary" value="카테고리(소) 등록" 
										   data-toggle="modal" data-target="#categoryModal">
									</div>
								</div>
			
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="categoryS">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>카테고리(중)</th>
												<th>카테고리(소)</th>
												<th>카테고리 번호</th>
												<th>수정하기</th>
											</tr>
										</thead>
										<tbody th:align="center"> 
											<tr th:each= "categoryList : ${allCategoryList}" th:if="${categoryList.refCategoryCode} != 0">
												<td th:text= "${categoryList.refCategoryName}"></td>
												<td th:text= "${categoryList.categoryName}"></td>
												<td th:text= "${categoryList.categoryCode}"></td>
												<td>
													<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateCategoryModal"
													   		th:data-category-no="${categoryList.categoryCode}" th:data-ref-category-no="${categoryList.refCategoryCode}"
															th:data-ref-category-list="${refCategoryList}">수정하기</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div> 
							</div> 
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 카테고리(소) 조회 끝 -->
	
	<!-- 카테고리(대) 등록 모달 -->
	<div class="modal fade" id="refCategoryModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog modal-" role="document">
			<form class="modal-content" action="/product/category/medium/insert" method="post" onsubmit="return checkRefCategory()">
				<div class="modal-header">
					<h6 class="modal-title" id="exampleModalLongTitle">카테고리(중) 등록</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="goBackRefCategoryModal()">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-group row col-lg-12">
							<label for="refCategoryName" class="col-lg-3 col-form-label">카테고리(중)</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="refCategoryName" name="refCategoryName" placeholder="내용을 입력하세요">
							</div>
							<small id="emailHelp" class="form-text ml-3" style="color:red;">카테고리(중) 등록을 할 시 카테고리(소)를 등록을 해야합니다.</small>
						</div>
					</div>
					<div class="row">
						<div class="row col-lg-12 mt-3">
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="refStatusY" name="categoryStatus" class="custom-control-input mb-1" th:value="활성화" checked>
								<label class="custom-control-label" for="refStatusY">활성화</label>
							</div>
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="refStatusN" name="categoryStatus" class="custom-control-input mb-1" th:value="비활성화">
								<label class="custom-control-label" for="refStatusN">비활성화</label>
							</div>
						</div>
					</div> 
				</div> 
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="insertRefCategoryBtn" name="insertRefCategoryBtn">등록</button>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="goBackRefCategoryModal()">닫기</button>
				</div>
			</form>
		</div>  
    </div>
    <!-- 카테고리(대) 등록 모달 끝 -->

	<!-- 카테고리(소) 등록 모달 -->
	<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog modal-" role="document">
			<form class="modal-content" action="/product/category/small/insert" method="post" onsubmit="return checkCategory()">
				<div class="modal-header">
					<h6 class="modal-title" id="exampleModalLongTitle">카테고리(소) 등록</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="goBackCategoryModal()">
					<span aria-hidden="true">&times;</span>
					</button>
				</div> 
				<div class="modal-body">
					<div class="row">
						<div class="form-group row col-lg-12"> 
							<label for="refCategory" class="col-lg-3 mt-2">카테고리(중)</label>
							<div class="col-lg-9">
								<select class="form-control" id="refCategoryCode" name="refCategoryCode">
									<option th:each="refCategory : ${refCategoryList}" th:text="${refCategory.refCategoryName}" th:value="${refCategory.refCategoryCode}"></option>
								</select>
							</div>	
					 	</div> 
					</div>  
					<div class="row">
						<div class="form-group row col-lg-12">
							<label for="categoryName" class="col-lg-3 col-form-label">카테고리(소)</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="내용을 입력하세요">
							</div>
						</div>
					</div>
					<div class="row"> 
						<div class="row col-lg-12 mt-3">
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="statusY" name="categoryStatus" class="custom-control-input mb-1" th:value="활성화" checked>
								<label class="custom-control-label" for="statusY">활성화</label>
							</div>
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="statusN" name="categoryStatus" class="custom-control-input mb-1" th:value="비활성화">
								<label class="custom-control-label" for="statusN">비활성화</label>
							</div> 
						</div>
					</div>     
				</div> 
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="insertCategoryBtn" name="insertCategoryBtn">등록</button>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="goBackCategoryModal()">닫기</button>
				</div>
			</form>
		</div>  
    </div>
	<!-- 카테고리(소) 등록 모달 끝 -->
	
	<!-- 카테고리(중) 수정 -->
	<div class="modal fade" id="updateRefCategoryModal" tabindex="-1" role="dialog"
            aria-labelledby="updateRefCategoryModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
        	<form class="modal-content" action="/product/category/medium/update" method="post" onsubmit="return checkUpdateRefCategory()"> 
            	<div class="modal-header">
                	<h5 class="modal-title" id="updateRefCategoryModalCenterTitle">카테고리(중) 수정</h5>
                  	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  	</button>
                </div>
                <div class="modal-body">
					<div class="row">
						<div class="form-group row col-lg-12">
							<label for="refCategoryName" class="col-lg-3 col-form-label">카테고리(중)</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="refCategoryNameForUpdate" name="refCategoryName" placeholder="수정할 내용을 입력하세요">
								<input type="hidden" id="refCategoryCodeForUpdate" name="refCategoryCode" th:value="refCategoryCode">
							</div>
						</div>
					</div>
					
					<div class="row"> 
						<div class="row col-lg-12 mt-3">
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="updateStatusY" name="categoryStatus" class="custom-control-input mb-1" th:value="활성화" checked>
								<label class="custom-control-label" for="updateStatusY">활성화</label>
							</div>
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="updateStatusN" name="categoryStatus" class="custom-control-input mb-1" th:value="비활성화">
								<label class="custom-control-label" for="updateStatusN">비활성화</label>
							</div> 
						</div>
					</div>     	
				</div>
                <div class="modal-footer">
					<button type="submit" class="btn btn-primary">수정</button>
                  	<button type="button" class="btn btn-outline-primary" data-dismiss="modal">닫기</button>
				</div>
			</form>
		</div>
	</div>
	<!-- 카테고리(중) 수정 끝-->

	<!-- 카테고리(소) 수정 -->
	<div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog"
            aria-labelledby="updateCategoryModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updateCategoryModalCenterTitle">Modal Vertically Centered</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span> 
                  </button>
                </div>
                <div class="modal-body">
					<div class="row">
						<div class="form-group col-lg-12 row">
						   <label for="refCategoryList" class="col-sm-3 col-form-label" th:align="center">카테고리(중)</label>
						   <select class="form-control col-sm-9" id="refCategoryList" name="refCategoryCode">
							   <option th:each="refCategoryList : ${refCategoryList}" 
									  
							   		   th:text="${refCategoryList.refCategoryName}" th:value="${refCategoryList.refCategoryCode}">
							   </option> 
						   </select>
						</div>	   
                	</div>
                	<div class="modal-footer">
						<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">수정하기</button>
                	</div>
				</div>
			</div>
		</div>
	</div> 
    <!-- 카테고리(소) 수정 -->
	
	<!-- Script -->  
    <th:block th:replace="@{/common/script} :: script"></th:block>
    	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script>
    $(document).ready(function() {
      $('#categoryM').DataTable(); // ID From dataTable with Hover
      $('#categoryS').DataTable(); // ID From dataTable with Hover

	  $('#updateCategoryModal').on('show.bs.modal', function(e){
		  const categoryCode = $(e.relatedTarget).data('category-no');
		  const refCategoryCode = $(e.relatedTarget).data('ref-category-no');
		  const refCategoryList =$(e.relatedTarget).data('ref-category-list');
		//   refCategoryList = JSON.parse(refCategoryList);
		  
		  
		  //   console.log(categoryCode);
		  //   console.log(refCategoryCode);
		  console.log($("#refCategoryList option").val()); 
		  console.log(refCategoryList);
		  
		  const x = $("#refCategoryList option");
		  console.log(x);


		//   for(let index in refCategoryList) {
			//   console.log(refCategoryList[index]);
			for(let index in x) {
				console.log(x[index].value);
				if(refCategoryCode == x[index].value) {
					// x[index].attr('selected', 'selected'); 
				} 
			}
  
		//   }   
 
			// $.ajax({
			// 	url: "/product/category/small/selectAll",
			// 	success: function(data, status, xhr) { 
			// 		console.table(data);
					
			// 		for(let index in data) {
						
			// 		}
					 
			// 	},
					
			// 	error: function(xhr, stauts, error) {
			// 		console.log(error);
			// 	}
					
			// });
		  
		});
    }); 
	
	function checkRefCategory() {
		
		if($("#refCategoryName").val() == "") {
			alert("등록할 카테고리를 입력해주세요!");
			$("#refCategoryName").val("");
			return false;
		} 
		
		if(!/^[가-힣|[a-z]|[A-Z]{3,20}$/.test($("#refCategoryName").val())) {
			alert("형식에 맞지 않습니다.");
			$("#refCategoryName").val("");
			return false;
		} else {
			if(!confirm("카테고리를 등록하시겠습니까?")) {
				return false;
			}
		}
	} 

	function goBackRefCategoryModal() {
		$("#refCategoryName").val("");
		$("#categoryName").val("");
		$("#refStatusY").prop("checked", true); 
	} 

	function checkCategory() {
		
		if($("#categoryName").val() == "") {
			alert("등록할 카테고리를 입력해주세요!");
			$("#categoryName").val("");
			return false;
		} 
		
		if(!/^[가-힣]{3,20}$/.test($("#categoryName").val())) {
			alert("형식에 맞지 않습니다.");
			$("#categoryName").val("");
			return false;
		} else if(!confirm("카테고리를 등록하시겠습니까?")) {
			return false; 
		}
	}

	function goBackCategoryModal() {
		
		$("#refCategoryName").val("");
		$("#categoryName").val("");
		$("#statusY").prop("checked", true); 
	}
	
	function getRefCategoryCode(refCategoryCode) {
		
		console.log(refCategoryCode);
		const $hidden = $("#refCategoryCodeForUpdate");
		$hidden.val("");
		$hidden.val(refCategoryCode);
		console.log($hidden);
		
		
	}
	
	function checkUpdateRefCategory() {
		
		if($("#refCategoryNameForUpdate").val() == "") {
			alert("등록할 카테고리를 입력해주세요!");
			$("#refCategoryNameForUpdate").val("");
			return false;
		} 
		
		if(!/^[가-힣|[a-z]|[A-Z]{3,20}$/.test($("#refCategoryNameForUpdate").val())) {
			alert("형식에 맞지 않습니다.");
			$("#refCategoryNameForUpdate").val("");
			return false;
		} else {
			if(!confirm("카테고리를 등록하시겠습니까?")) {
				return false;
			}
		}
	} 
	
	</script>
</body>
</html>