<!-- <!DOCTYPE html> -->
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<script>
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">카테고리 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="./">Home</a></li>
							<li class="breadcrumb-item">Tables</li>
							<li class="breadcrumb-item active" aria-current="page">재고관리</li>
						</ol>
					</div>
			
					<!-- 카테고리(중) 조회, 카테고리(소) 조회 -->
					<!-- Row -->
					<div class="row">
			
						<div class="col-lg-5">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">카테고리(중)</h6>
									<div>
										<input type="button" class="btn btn-primary" value="카테고리(중) 등록" data-toggle="modal" data-target="#refCategoryModal">
									</div>
								</div>
			
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="categoryM">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>카테고리(중)</th>
												<th>카테고리 번호</th>
												<th>수정하기</th>
											</tr>
										</thead>
										<tbody th:align="center"> 
											<tr th:each = "categoryList : ${allCategoryList}" th:if="${categoryList.refCategoryCode} == 0">
												<td th:text = "${categoryList.categoryName}"></td>
												<td th:text = "${categoryList.categoryCode}"></td>
												<td>
													<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modifyRefCategoryModal"
													id="#modifyRefCategoryModal" th:value= "${categoryList.categoryCode}" onclick="getRefCategoryCode(this.value)">수정하기</button>
												</td>
											</tr>
										</tbody>
									</table> 
								</div> 
							</div> 
						</div> 
						
						<!-- DataTable with Hover -->
						<div class="col-lg-7">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">카테고리(소)</h6>
									<div>
										 <input type="button" class="btn btn-primary" value="카테고리(소) 등록" 
										   data-toggle="modal" data-target="#categoryModal">
									</div>
								</div>
			
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="categoryS">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>카테고리(중)</th>
												<th>카테고리(소)</th>
												<th>카테고리 번호</th>
												<th>수정하기</th>
											</tr>
										</thead>
										<tbody th:align="center"> 
											<tr th:each= "categoryList,num : ${allCategoryList}" th:if="${categoryList.refCategoryCode} != 0">
												<td th:text= "${categoryList.refCategoryName}"></td>
												<td th:text= "${categoryList.categoryName}"></td>
												<td th:text= "${categoryList.categoryCode}"></td>
												<td>
													<button th:id="'categoryNo'+ ${num.count}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateCategoryModal"
													   		th:data-category-no="${categoryList.categoryCode}" th:data-ref-category-no="${categoryList.refCategoryCode}"
															th:data-ref-category-list="${refCategoryList}"><input id="categoryMidNo" th:value="${categoryList.categoryCode}" hidden="hidden">수정하기</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div> 
							</div> 
						</div> 
					</div> 
					<!-- 카테고리(중), 카테고리(소) 조회 끝-->
				</div>
			</div>
		</div>
	</div>
	
	<!-- 카테고리(대) 등록 모달 -->
	<div class="modal fade" id="refCategoryModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog modal-" role="document">
			<form class="modal-content" action="/product/category/medium/insert" method="post" onsubmit="return checkRefCategory()">
				<div class="modal-header">
					<h6 class="modal-title" id="exampleModalLongTitle">카테고리(중) 등록</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="goBackRefCategoryModal()">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-group row col-lg-12">
							<label for="refCategoryName" class="col-lg-3 col-form-label">카테고리(중)</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="refCategoryName" name="refCategoryName" placeholder="내용을 입력하세요">
							</div>
							<small id="emailHelp" class="form-text ml-3" style="color:red;">카테고리(중) 등록을 할 시 카테고리(소)를 등록을 해야합니다.</small>
						</div>
					</div>
					<div class="row">
						<div class="row col-lg-12 mt-3">
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="refStatusY" name="categoryStatus" class="custom-control-input mb-1" th:value="활성화" checked>
								<label class="custom-control-label" for="refStatusY">활성화</label>
							</div>
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="refStatusN" name="categoryStatus" class="custom-control-input mb-1" th:value="비활성화">
								<label class="custom-control-label" for="refStatusN">비활성화</label>
							</div>
						</div>
					</div> 
				</div> 
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="insertRefCategoryBtn" name="insertRefCategoryBtn">등록</button>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="goBackRefCategoryModal()">닫기</button>
				</div>
			</form>
		</div>  
    </div>
    <!-- 카테고리(대) 등록 모달 끝 -->

	<!-- 카테고리(소) 등록 모달 -->
	<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog modal-" role="document">
			<form class="modal-content" action="/product/category/small/insert" method="post" onsubmit="return checkCategory()">
				<div class="modal-header">
					<h6 class="modal-title" id="exampleModalLongTitle">카테고리(소) 등록</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="goBackCategoryModal()">
					<span aria-hidden="true">&times;</span>
					</button>
				</div> 
				<div class="modal-body">
					<div class="row">
						<div class="form-group row col-lg-12"> 
							<label for="refCategory" class="col-lg-3 mt-2">카테고리(중)</label>
							<div class="col-lg-9">
								<select class="form-control" id="refCategoryCode" name="refCategoryCode">
									<option th:each="refCategory : ${refCategoryList}" th:text="${refCategory.refCategoryName}" th:value="${refCategory.refCategoryCode}"></option>
								</select>
							</div>	
					 	</div> 
					</div>  
					<div class="row">
						<div class="form-group row col-lg-12">
							<label for="categoryName" class="col-lg-3 col-form-label">카테고리(소)</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="내용을 입력하세요">
							</div>
						</div>
					</div>
					<div class="row"> 
						<div class="row col-lg-12 mt-3">
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="statusY" name="categoryStatus" class="custom-control-input mb-1" th:value="활성화" checked>
								<label class="custom-control-label" for="statusY">활성화</label>
							</div>
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="statusN" name="categoryStatus" class="custom-control-input mb-1" th:value="비활성화">
								<label class="custom-control-label" for="statusN">비활성화</label>
							</div> 
						</div>
					</div>     
				</div> 
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" id="insertCategoryBtn" name="insertCategoryBtn">등록</button>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="goBackCategoryModal()">닫기</button>
				</div>
			</form>
		</div>  
    </div>
	<!-- 카테고리(소) 등록 모달 끝 -->
	
	<!-- 카테고리(중) 수정 -->
	<div class="modal fade" id="modifyRefCategoryModal" tabindex="-1" role="dialog"
            aria-labelledby="modifyRefCategoryModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
        	<form class="modal-content" action="/product/category/medium/modify" method="post" onsubmit="return checkModifyRefCategory()"> 
            	<div class="modal-header">
                	<h5 class="modal-title" id="modifyRefCategoryModalCenterTitle">카테고리(중) 수정</h5>
                  	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  	</button>
                </div>
                <div class="modal-body">
					<div class="row">
						<div class="form-group row col-lg-12">
							<label for="refCategoryName" class="col-lg-3 col-form-label">카테고리(중)</label>
							<div class="col-lg-9">
								<input type="text" class="form-control" id="refCategoryNameForModify" name="refCategoryName" placeholder="수정할 내용을 입력하세요">
								<input type="hidden" id="refCategoryCodeForModify" name="refCategoryCode" th:value="refCategoryCode"> 
							</div>
						</div>
					</div>
					 
					<div class="row"> 
						<div class="row col-lg-12 mt-3">
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="modifyRefStatusY" name="categoryStatus" class="custom-control-input mb-1" th:value="활성화" checked>
								<label class="custom-control-label" for="modifyStatusY">활성화</label>
							</div>
							<div class="custom-control custom-radio mx-3">
								<input type="radio" id="modifyRefStatusN" name="categoryStatus" class="custom-control-input mb-1" th:value="비활성화">
								<label class="custom-control-label" for="modifyStatusN">비활성화</label>
							</div> 
						</div>
					</div>     	
				</div>
                <div class="modal-footer">
					<button type="submit" class="btn btn-primary">수정</button>
                  	<button type="button" class="btn btn-outline-primary" data-dismiss="modal">닫기</button>
				</div>
			</form>
		</div>
	</div>
	<!-- 카테고리(중) 수정 끝-->

	<!-- 카테고리(소) 수정 -->
	<div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog"
            aria-labelledby="updateCategoryModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updateCategoryModalCenterTitle">카테고리(소) 수정</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span> 
                  </button>
                </div>
				<form action="/product/category/small/modify" method="post" onsubmit="return checkModifyCategory()">
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-lg-12 row">
							<label for="refCategoryList" class="col-sm-3 col-form-label" th:align="center">카테고리(중)</label>
							<select class="form-control col-sm-9" id="refCategoryList" name="refCategoryCode">
									<option id="selectedCategory"></option>
									<option th:each="refCategory : ${refCategoryList}" th:text="${refCategory.refCategoryName}" th:value="${refCategory.refCategoryCode}"></option>
							</select>
							<br><br>
								<label for="categoryNameForModify" class="col-sm-3 col-form-label" th:align="center">하위 카테고리명</label>
								<input type="text" id="categoryNameForModify" class="form-control col-sm-9" name="categoryName">
								<input type="hidden" id="selectCategoryCode" name="categoryCode">
							</div>	   
						</div>
						
						<div class="row"> 
							<div class="row col-lg-12 mt-3">
								<div class="custom-control custom-radio mx-3">
									<input type="radio" id="modifyStatusY" name="categoryStatus" class="custom-control-input mb-1" th:value="활성화" checked>
									<label class="custom-control-label" for="modifyStatusY">활성화</label>
								</div>
								<div class="custom-control custom-radio mx-3">
									<input type="radio" id="modifyStatusN" name="categoryStatus" class="custom-control-input mb-1" th:value="비활성화">
									<label class="custom-control-label" for="modifyStatusN">비활성화</label>
								</div> 
							</div>
						</div>     	

						<div class="modal-footer">
							<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">수정하기</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> 

	
	<!-- Script -->  
    <th:block th:replace="@{/common/script} :: script"></th:block>
    	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<script>

	$(document).ready(function() {
      $('#categoryM').DataTable(); 				// 상위카테고리 테이블
      $('#categoryS').DataTable(); 				// 하위카테고리 테이블

    });
	
	/* 하위카테고리 수정시 현재 상위카테고리가 어떤건지 보여주기 위해 ajax로 데이터 가지고를 온다.*/
	$("[id^=categoryNo]").click(function(){
		  console.log("카테고리 번호 호출");
		  const categoryCode = $(this).find('#categoryMidNo').val();
		  console.log(categoryCode);
		  $.ajax({
			  type:"get",
			  url: "/product/editCategory",
			  data:{"selectedCategory" : categoryCode},
			  success: function(data,status,xhr){
				  
				  console.log(data);
				  const $selectedCategory = $('#selectedCategory');
				  const $selectCategoryName = $('#categoryNameForModify');
				  let $selectCategoryCode = $('#selectCategoryCode');
				  $selectedCategory.html("");
				  $selectCategoryName.html("");
				  $selectCategoryCode.html("");
				  $selectedNo = $selectedCategory.text("현재 상위 카테고리 : " + data["selectOneCategory"].refCategoryName).val(data["selectOneCategory"].refCategoryCode);
				  $selectedCategoryName = $selectCategoryName.val(data["selectOneCategory"].categoryName);
				  $selectCategoryCode = $selectCategoryCode.val(data["selectOneCategory"].categoryCode);
			  },
			  error: function(xhr, status,error){
				  
			  }
		  });

	});
	
	/* 상위카테고리 등록 정규식 */
	function checkRefCategory() {
		
		if($("#refCategoryName").val() == "") {
			alert("등록할 카테고리를 입력해주세요!");
			$("#refCategoryName").val("");
			return false;
		} 
		
		if(!/^[가-힣|[a-z]|[A-Z]{3, 20}$/.test($("#refCategoryName").val())) {
			alert("형식에 맞지 않습니다.");
			$("#refCategoryName").val("");
			return false;
		} else {
			if(!confirm("카테고리를 등록하시겠습니까?")) {
				return false;
			}
		}
	} 
	
	/* 뒤로갔을 때 체크했던거 다 초기화 */
	function goBackRefCategoryModal() {
		$("#refCategoryName").val("");
		$("#categoryName").val("");
		$("#refStatusY").prop("checked", true); 
	} 

	/* 하위카테고리 등록 정규식 */
	function checkCategory() {
		
		if($("#categoryName").val() == "") {
			alert("등록할 카테고리를 입력해주세요!");
			$("#categoryName").val("");
			return false;
		} 
		
		if(!/^[가-힣|[a-z]|[A-Z]{3, 20}$/.test($("#categoryName").val())) {
			alert("형식에 맞지 않습니다.");
			$("#categoryName").val("");
			return false;
		} else if(!confirm("카테고리를 등록하시겠습니까?")) {
			return false; 
		}
	}
	
	/* 뒤로갔을 때 체크했던거 다 초기화*/
	function goBackCategoryModal() {
		
		$("#refCategoryName").val("");
		$("#categoryName").val("");
		$("#statusY").prop("checked", true); 
	}
	
	
	/* 상위 카테고리 수정할 떄 번호를 가지고 온다. */
	function getRefCategoryCode(refCategoryCode) {
		
		console.log(refCategoryCode);
		const $hidden = $("#refCategoryCodeForModify");
		$hidden.val("");
		$hidden.val(refCategoryCode);
		console.log($hidden);
		
		
	}
	
	/* 상위카테고리 수정 정규식*/
	function checkModifyRefCategory() {
		
		if($("#refCategoryNameForModify").val() == "") {
			alert("수정할 카테고리를 입력해주세요!");
			$("#refCategoryNameForModify").val("");
			return false;
		} 
		
		if(!/^[가-힣|[a-z]|[A-Z]{3, 20}$/.test($("#refCategoryNameForModify").val())) {
			alert("형식에 맞지 않습니다.");
			$("#refCategoryNameForModify").val("");
			return false;
		} else {
			if(!confirm("카테고리를 수정하시겠습니까?")) {
				return false;
			}
		}
	} 
	
	/* 하위 카테고리 수정 정규식*/
	function checkModifyCategory() {
		
		if($("#categoryNameForModify").val() == "") {
			alert("수정할 카테고리를 입력해주세요!");
			$("#refCategoryNameForModify").val("");
			return false;
		} 
		
		if(!/^[가-힣|[a-z]|[A-Z]{3, 20}$/.test($("#categoryNameForModify").val())) {
			alert("형식에 맞지 않습니다.");
			$("#categoryNameForModify").val("");
			return false;
		} else {
			if(!confirm("카테고리를 수정하시겠습니까?")) {
				return false;
			}
		}
	} 
	
	
	
	</script>
</body>
</html>