<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
</head>
<script>

	/* 성공 확인 메세지 */
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">상품관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="./">Home</a></li>
							<li class="breadcrumb-item">Tables</li>
							<li class="breadcrumb-item active" aria-current="page">상품조회</li>
						</ol>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">전체상품현황</h6>
									<a th:href="@{/product/insert}"><input type="button" id="insertProduct" class="btn btn-primary" value="상품등록"></a>
								</div>
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="productTable">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>상품번호</th>
												<th>상품명</th>
												<th>카테고리(중)</th>
												<th>카테고리(소)</th>
												<th>판매상태</th>
												<th>상품관리</th>
											</tr>
										</thead>
										<tbody th:align="center">
											<tr th:each = "productList : ${allProductList}">
												<td th:text = "${productList.productNo}"></td>
												<td th:text = "${productList.productName}"></td>
												<td th:text = "${productList.category.refCategoryName}"></td>
												<td th:text = "${productList.category.categoryName}"></td>
												<td th:text = "${productList.sellStatus}"></td>
												<td>
													<a th:href="@{/product/select(productNo=${productList.productNo})}">
														<input type="button" id="detailButton" class="btn btn-primary" value="상품관리">
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>

	<!-- 테이블 스크립트 -->
	<script>
    $(document).ready(function () {
      $('#productTable').DataTable(); // ID From dataTable 
    });
    	
    </script>
</body>
</html>
