<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<script>
	const message = '[[${ message }]]';
	
	if(message) {
		alert(message);
	}
</script>
<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content"> 
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">실적조회</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="./">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">사원실적조회</li>
						</ol>
					</div>
                    
                    <!-- Row -->
					<div class="row">
                        
                        <!-- DataTable with Hover -->
						<div class="col-lg-12">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">사원실적조회</h6>
									<input type="button" id="insertProduct" class="btn btn-primary" data-toggle="modal" data-target="#insertSalesTarget" value="목표실적등록">
								</div>
								<div class="row ml-3">
									<div class="form-group col-lg-2">
										<label for="collectBillYear">연도</label>
										<select class="form-control" id="performYear" name="performYear">
											<option th:selected="${performYear} == '2021'">2021</option>
											<option th:selected="${performYear} == '2020'">2020</option>
											<option th:selected="${performYear} == '2019'">2019</option>
											<option th:selected="${performYear} == '2018'">2018</option>
											<option th:selected="${performYear} == '2017'">2017</option>
										</select>
									</div>
									<div class="form-group col-lg-2">
										<button type="button" class="btn btn-outline-primary my-4" id="selectPerformButton">확인</button>
									</div>
								</div>	
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="userPerformTable">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>월</th>
												<th>목표계약수</th>
												<th>실적(계약)</th>
												<th>달성률(%)</th>
												<th>목표실적</th>
												<th>실적</th>
												<th>달성률(%)</th>
												<th>상세보기</th>
											</tr>
										</thead>
										<tbody th:align="center">
											<tr th:each = "targetPerform : ${empTargetPerformList}">
												<td th:text="${targetPerform.performMonth}"></td>
												<td th:text="${targetPerform.targetContract}"></td>
												<td></td>
												<td></td>
												<td th:text="${targetPerform.targetSales}"></td>
												<td></td>
												<td></td>
												<td>
													<button type="button" id="detailButton" name="detailButton" class="btn btn-primary">상세보기</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="insertSalesTarget" tabindex="-1" role="dialog"
		aria-labelledby="insertSalesTargetCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-md" role="document"> 
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title row col-lg-5" id="insertSalesTargetCenterTitle" style="color: #6777EF;">매출목표 등록</h4>
					<h6 class="row col-lg-7">목표 실적은 매 달 한번만 등록이 가능합니다.</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="row lg-1" aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="insertTarget" action="/sales/insert/target" method="post">
					<div class="row">
						<div class="form-group row col-lg-12">
							<h5 class="modal-title col-lg-5" id="insertSalesTargetCenterTitle" style="color: #6777EF;">매출실적 등록</h5>
							<div class="row col-lg-4">
								<input type="text" class="form-control col-lg-8" id="performYear" name="performYear" th:value="${performYear}" readonly>
								<label for="performYear" class="col-form-label col-lg-4">년</label>
							</div>
							<div class="row col-lg-3"> 
								<input type="text" class="form-control col-lg-8" id="performMonth" name="performMonth" th:value="${performMonth}" readonly>
								<label for="performMonth" class="col-form-label col-lg-4">월</label>
							</div>  
						</div>
					</div>
					<div class="row mt-3">
						<div class="form-group row col-lg-12">
							<label for="inputTargetSales" class="col-sm-5 col-form-label">목표매출(원)</label>
							<div class="col-sm-7">
								<input type="number" class="form-control" id="inputTargetSales" name="targetSales" min=0>
							</div>
						</div> 
					</div>
					<div class="row">
						<div class="form-group row col-lg-12">
							<label for="inputTargetSales" class="col-sm-5 col-form-label">목표계약수(건)</label>
							<div class="col-sm-7">
								<input type="number" class="form-control" id="inputTargetContract" name="targetContract" min=0>
							</div>
						</div>
					</div>
					<hr>
					<h5 class="modal-title" id="insertSalesTargetCenterTitle" style="color: #6777EF;">전월 실적</h5>
					<div class="row mt-3">
						<div class="form-group row col-lg-12">
							<label for="departmentSales" class="col-sm-5 col-form-label">전월 부서 평균 실적</label>
							<div class="col-sm-7">
								<label class="form-control" id="departmentSales">80000000원/13건</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group row col-lg-12">
							<label for="mySales" class="col-sm-5 col-form-label">전월 나의 실적</label>
							<div class="col-sm-7">
								<label class="form-control" id="mySales">3000000원/5건</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="check()">등록</button>
						<button type="button" class="btn btn-outline-primary" data-dismiss="modal">닫기</button>
					</div>
				</form>
				</div>
			</div>
		</div>	
	</div>
</body>	

    <!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>
    <!-- Page level custom scripts -->
	<script>
		$(document).ready(function () {
			$('#userPerformTable').DataTable({  // ID From dataTable
				order:[]
			});
			
			let performYear = $('#performYear').val();
			
			$.ajax({
				url: "/sales/user/perform/selectAll",
				type: "post",
				data: { "performYear" : performYear },
				success: function(data, status, xhr) {
					
					const empPerformList = JSON.parse(data.empPerformList);
					
					const $table = $("#userPerformTable tbody");
						
					// 					1,2,4,5(index)
					for(let i = 0; i < empPerformList.length; i++) {
						let collectBillYear = empPerformList[i].collect.collectBillYear;
						let performanceCount = empPerformList[i].performanceCount;
						let collectBillAmount = empPerformList[i].collect.collectBillAmount;
						let empNo = empPerformList[i].empNo;
						
						for(let j = 0; j < $table.children().length; j++) {
							let performMonth = $table.children().eq(j).children().eq(0).text();
							let targetContract = $table.children().eq(j).children().eq(1).text();
							let targetSales = $table.children().eq(j).children().eq(4).text();
							
							//1,2,4,5,6
							if(performYear == collectBillYear) {
								let contractPercent = (performanceCount / targetContract * 100).toFixed(1);
								let salesPercent = (collectBillAmount / targetSales * 100).toFixed(1);
								
								
								$table.children().eq(j).children().eq(2).text(performanceCount);
								$table.children().eq(j).children().eq(3).text(contractPercent);
								$table.children().eq(j).children().eq(5).text(collectBillAmount);
								$table.children().eq(j).children().eq(6).text(salesPercent);
								$table.children().eq(j).children().eq(7).children().attr('value', empNo);
								
							}
						}
					}
				}, 
				
				error: function(xhr, status, error) {
					console.log(error);
				}
			});

		});  
			
			$(document).on('click', '#selectPerformButton', function() {
				
				let performYear = $('#performYear').val();
				
				$.ajax({
					url: "/sales/user/perform/checked/selectAll",
					type: "post",
					data: { "performYear" : performYear },
					success: function(data, status, xhr) {
						
						console.log(data);
						
						const empTargetPerformList = JSON.parse(data.checkedEmpTargetPerformList);
						const empPerformList = JSON.parse(data.empPerformList);
						
						const $table = $("#userPerformTable tbody");

						console.log($table.children().length);
						
						$table.html("")			 
						
						for(let i = 0; i < empTargetPerformList.length; i++) {
							let performYear = empTargetPerformList[i].performYear;
							let performMonth = empTargetPerformList[i].performMonth; 
							let targetContract = empTargetPerformList[i].targetContract;
							let targetSales = empTargetPerformList[i].targetSales;
							let empNo = empTargetPerformList[i].empNo;
							let detailButtonForAppend = $("<button>").addClass("btn btn-primary").text("상세보기").attr('value', empNo).attr('name', 'detailButton');

							$tr = $("<tr>");
							$performMonth = $("<td>").text(performMonth);             
							$targetContract = $("<td>").text(targetContract);
							$performanceCount = $("<td>");
							$contractPercent = $("<td>").text(0);
							$targetSales = $("<td>").text(targetSales);
							$collectBillAmount = $("<td>")
							$salesPercent = $("<td>").text(0);
							$detailButton = $("<td>").append(detailButtonForAppend);
							 
								
							$tr.append($performMonth);
							$tr.append($targetContract);
							$tr.append($performanceCount);
							$tr.append($contractPercent);
							$tr.append($targetSales); 
							$tr.append($collectBillAmount); 
							$tr.append($salesPercent);
							$tr.append($detailButton);
								 
							$table.append($tr);
							
							
							for(let j = 0; j < empPerformList.length; j++) {
								
								
								let collectBillYear = empPerformList[j].collect.collectBillYear;														
								let collectBillMonth = empPerformList[j].collect.collectBillMonth;
								let performanceCount = empPerformList[j].performanceCount;
								let collectBillAmount = empPerformList[j].collect.collectBillAmount;
								
								
								if(performYear == collectBillYear && performMonth == collectBillMonth) {
									
									contractPercent = (Number(performanceCount) / targetContract * 100).toFixed(1);
									salesPercent = (Number(collectBillAmount) / targetSales * 100).toFixed(1);
									
									$performanceCount.text(performanceCount);
									$collectBillAmount.text(collectBillAmount);
									$contractPercent.text(contractPercent);
									$salesPercent.text(salesPercent);
								}
							}
						}
					},   
					
					error: function(xhr, status, error) {
						console.log(error);
					}
				}); 
			}); 
			
			$(document).on('click', "button[name='detailButton']", function () {   
				
				let collectBillYear = $("#performYear option:selected").val();
				let collectBillMonth = $(this).parent("td").siblings("td").eq(0).text();
				let empNo = $(this).val();    

				console.log(collectBillYear);
				console.log(collectBillMonth);
				console.log(empNo);


				location.href = "/sales/select?empNo=" + empNo + "&collectBillYear=" + collectBillYear + "&collectBillMonth=" + collectBillMonth;

			});
    
		function check() {

		if($("#inputTargetSales").val() == "") {
			alert("목표매출을 작성해주세요!");
			return false;
		} else if($("#inputTargetContract").val() == "") {
			alert("목표계약수를 작성해주세요!");
			return false;
		} else if(!confirm("목표 계약수를 등록하시겠습니까? \n한 달에 한번만 등록할 수 있습니다.")) {
			return false;
		}
	
		$('#insertTarget').submit();
	}	

	

    </script>
 
</html>


                