<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
	<div id="wrapper"> 
        <!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">상품별 실적 조회</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="./">Home</a></li>
							<li class="breadcrumb-item">Tables</li>
							<li class="breadcrumb-item active" aria-current="page">상품별 실적 조회</li>
						</ol>
                    </div>
                    
                    <!-- Row -->
					<div class="row">
                        <!-- 상품실적 테이블 -->
                        <div class="col lg-12">
                            <div class="card mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h4 class="m-0 font-weight-bold text-primary">상품 실적</h4>
                                </div>
                                <div class="row mx-3">
                                    <div class="form-group col-lg-2">
                                        <label for="collectBillYear">연도</label>
                                        <select class="form-control" id="collectBillYear" name="collectBillYear">
                                            <option th:selected="${collectBillYear}" th:text="${collectBillYear}"></option>
                                            <option th:text="${collectBillYear} - 1"></option>
                                            <option th:text="${collectBillYear} - 2"></option>
                                            <option th:text="${collectBillYear} - 3"></option>
                                            <option th:text="${collectBillYear} - 4"></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label for="collectBillMonth">월</label>
                                        <select class="form-control" id="collectBillMonth" name="collectBillMonth">
                                            <option th:selected="${collectBillMonth} == '1'">1</option>
                                            <option th:selected="${collectBillMonth} == '2'">2</option>
                                            <option th:selected="${collectBillMonth} == '3'">3</option>
                                            <option th:selected="${collectBillMonth} == '4'">4</option>
                                            <option th:selected="${collectBillMonth} == '5'">5</option>
                                            <option th:selected="${collectBillMonth} == '6'">6</option>
                                            <option th:selected="${collectBillMonth} == '7'">7</option>
                                            <option th:selected="${collectBillMonth} == '8'">8</option>
                                            <option th:selected="${collectBillMonth} == '9'">9</option>
                                            <option th:selected="${collectBillMonth} == '10'">10</option>
                                            <option th:selected="${collectBillMonth} == '11'">11</option>
                                            <option th:selected="${collectBillMonth} == '12'">12</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <button type="button" class="btn btn-outline-primary my-4" id="selectPerformButton">확인</button>
                                    </div>
                                    <div class="table-responsive p-3">
                                        <table class="table align-items-center table-flush table-hover" id="productPerform">
                                            <thead th:align="center" class="thead-light">
                                                <tr>
                                                    <th>수금일자</th>
                                                    <th>카테고리(중)</th>
                                                    <th>카테고리(소)</th>
                                                    <th>상품명</th>
                                                    <th>실적</th>
                                                    <th>상세보기</th>
                                                </tr>
                                            </thead>
                                            <tbody th:align="center">
                                                <tr th:each="productList : ${selectProductPerformList}" >
                                                    <td th:text = "${productList.collect.collectBillDate}"></td>
                                                    <td th:text = "${productList.purchaseOrder.productList[0].category.refCategoryName}"></td>
                                                    <td th:text = "${productList.purchaseOrder.productList[0].category.categoryName}"></td>
                                                    <td th:text = "${productList.purchaseOrder.productList[0].productName}"></td>
                                                    <td th:text = "|${#numbers.formatDecimal(productList.collect.collectBillAmount, 0, 'COMMA', 0, 'POINT')}"></td>
                                                    <td>
                                                        <button type="button" id="detailButton" name="detailButton" class="btn btn-primary" th:value="${productList.empNo}">상세보기</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div>
        </div>        
    </div>
    <!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>

	<!-- Page level custom scripts -->
	<script>
    $(document).ready(function () {
      $('#productPerform').DataTable(); // ID From dataTable 
    });

    /* 날짜별 실적 확인 */
    $(document).on('click', '#selectPerformButton', function() {

        let collectBillYear = $('#collectBillYear').val();
    	let collectBillMonth = $('#collectBillMonth').val();
    	
    	console.log(collectBillYear);
    	console.log(collectBillMonth);

        let data = {"collectBillYear" : collectBillYear, "collectBillMonth" : collectBillMonth};

        
        $.ajax({
            url: "/sales/select/product/peform/date",
            data: data,
            success: function(data, status, xhr) {

                const selectProductPeformForDate = JSON.parse(data.selectProductPeformForDate);

                console.table(selectProductPeformForDate);

                const $table = $("#productPerform tbody");

                $table.html("");

                for(let index in selectProductPeformForDate) {
                    let productPerformForDate = selectProductPeformForDate[index];
                    let collectBillAmountForNumberFormat = productPerformForDate.collect.collectBillAmount;
                    collectBillAmountForNumberFormat = collectBillAmountForNumberFormat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    console.log(collectBillAmountForNumberFormat);

                    $tr = $("<tr>");
                    $collectBillDate = $("<td>").text(productPerformForDate.collect.collectBillDate);
                    $refCategoryName = $("<td>").text(productPerformForDate.purchaseOrder.productList[0].category.refCategoryName);
                    $categoryName = $("<td>").text(productPerformForDate.purchaseOrder.productList[0].category.categoryName);
                    $productName = $("<td>").text(productPerformForDate.purchaseOrder.productList[0].productName);
                    $collectBillAmount = $("<td>").text(collectBillAmountForNumberFormat);
                    $detailButton = $("<button>").addClass("btn btn-primary mt-2").text("상세정보").attr('value', productPerformForDate.empNo).attr('name', 'detailButton');
                    
                    $tr.append($collectBillDate);
                    $tr.append($refCategoryName);
                    $tr.append($categoryName);
                    $tr.append($productName);
                    $tr.append($collectBillAmount);
                    $tr.append($detailButton);
                    
                    $table.append($tr);
                }

            },
           
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });
    
    /* 상세보기 페이지 */
    $(document).on('click', "button[name='detailButton']", function () {   
        
        let collectBillYear = $("#collectBillYear option:selected").val();
        let collectBillMonth = $("#collectBillMonth option:selected").val();
        let empNo = $(this).val();    

        console.log(collectBillYear);
        console.log(collectBillMonth);
        console.log(empNo);

        location.href = "/sales/select?empNo=" + empNo + "&collectBillYear=" + collectBillYear + "&collectBillMonth=" + collectBillMonth;

    });  				
    </script>
</body>
</html>