<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">견적서 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item"><a th:href="@{/estimate/selectAll}">견적서 조회</a></li>
							<li class="breadcrumb-item active" aria-current="page">견적서 작성</li>
						</ol>
					</div>

					<div class="row">
						<div class="col-lg-12" th:align="center">
							<form th:action="@{/estimate/insert}" method="POST" id="insertEstimate">

								<!-- EstimateInfo -->
								<div class="card mb-4">
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">견적서 작성</h6>
									</div>
									<div class="card-body" th:object="${estimate}">
										<div class="form-group row mb-2" th:align="right">
												<label for="estimateTitle" class="col-form-label col-lg-1">제목</label>
												<input type="text" class="form-control col-lg-10" th:field="*{estimateTitle}" required>
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="estimateNo" class="col-form-label col-lg-1">견적번호</label>
											<input type="text" class="form-control col-lg-4" th:field="*{estimateNo}" readonly>
											<label for="estimateDate" class="col-form-label col-lg-2">견적일자</label>
											<input type="text" class="form-control col-lg-4" th:field="*{estimateDate}" readonly>
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="customerCompany" class="col-form-label col-lg-1">고객사</label>
											<input type="text" class="form-control col-lg-4" id="customerCompany"
													th:field="*{customer.company.companyName}" readonly>
											<label for="customerName" class="col-form-label col-lg-2">고객명</label>
											<input type="text" class="form-control col-lg-4" id="customerName"
													th:field="*{customer.customerName}" readonly>
											<input type="hidden" class="form-control" th:field="*{customerNo}">
											<div class="input-group-btn col-lg-1" th:align="left">
												<button type="button" class="btn btn-primary" id="searchCustomer"
														data-toggle="modal" data-target="#customerModal">검색</button>
											</div>
										</div>
										<div class="form-group row mb-4" th:align="right">
											<label for="estimateStatus" class="col-form-label col-lg-1">진행상태</label>
											<select class="form-control col-lg-4" th:field="*{estimateStatus}">
												<option th:value="progress" th:text="진행중"></option>
												<option th:value="success" th:text="완료"></option>
												<option th:value="postpone" th:text="보류"></option>
												<option th:value="failed" th:text="실패"></option>
											</select>
											<label for="resEmpName" class="col-form-label col-lg-2">담당사원</label>
											<input type="text" class="form-control col-lg-4" id="resEmpName" th:field="*{customer.empInfo.empName}" readonly>
											<input type="hidden" class="form-control" id="resEmpNo" th:field="*{customer.empNo}">
										</div>

										<div class="form-group row mb-2" th:align="right">
											<label for="discountRate" class="col-form-label col-lg-1">금액할인</label>
											<div class="custom-control custom-radio mt-2 col-lg-1">
												<input type="radio" class="custom-control-input" id="noApplyDiscount" th:field="*{discountStatus}" value="N" required>
												<label for="noApplyDiscount" class="custom-control-label">미적용</label>
											</div>
											<div class="custom-control custom-radio mt-2 col-lg-1">
												<input type="radio" class="custom-control-input" id="applyDiscount" th:field="*{discountStatus}" value="Y">
												<label for="applyDiscount" class="custom-control-label">적용</label>
											</div>
											<div class="input-group bootstrap-touchspin bootstrap-touchspin-injected col-lg-2">
												<input type="text" class="form-control" id="discountRate" th:field="*{discountRate}" value="0" disabled>
											</div>
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="estimateTotal" class="col-form-label col-lg-1">합계금액</label>
											<input type="text" class="form-control col-lg-4" th:field="*{estimateTotal}" readonly>
											<h5 class="col-lg-4" id="estimateTotalKor" th:align="left"></h5>
										</div>
									</div>
								</div>
								<!-- End EstimateInfo -->

								<!-- EstimateProductList -->
								<div class="card mb-4">
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">견적 품목</h6>
									</div>
									<div class="table-responsible">
										<table class="table align-items-center table-flush" id="estimateProductTable">
											<thead class="thead-light" th:align="center">
												<tr>
													<th>No</th>
													<th>상품번호</th>
													<th>상품명</th>
													<th>공급가</th>
													<th>할인가</th>
													<th>단위</th>
													<th>수량</th>
													<th>합계</th>
													<th>세액</th>
													<th></th>
												</tr>
											</thead>
											<tbody th:align="center">
											</tbody>
											<tfoot>
												<tr id="addProductBtn">
													<td colspan="10" th:align="center">
														<button type="button" class="btn btn-sm btn-dark btn-icon-split" id="addProduct"
																data-toggle="modal" data-target="#stockModal">
															<span class="icon text-white-50"><i class="fas fa-search-plus"></i></span>
															<span class="text text-white">상품 추가</span>
														</button>
													</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<div class="mb-4" th:align="center">
									<button type="button" class="btn btn-primary mx-2" id="registEstimateBtn">등록</button>
									<button type="reset" class="btn btn-outline-danger mx-2"
									th:onclick="history.back()">취소</button>
								</div>
								<!-- End EstimateProductList -->

							</form>
						</div>
					</div>

					<!-- CustomerModal -->
					<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel"
							aria-hidden="true">
						<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title font-weight-bold" id="customerModalLabel">고객 조회</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true"><i class="far fa-times-circle"></i></span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="card mb-4">
												<div class="table-responsive p-3" style="height:500px; overflow:auto;">
													<table class="table align-items-center table-flush table-hover" id="customerTable">
														<thead class="thead-light" th:align="center">
															<tr>
																<th>고객번호</th>
																<th>업태</th>
																<th>고객사</th>
																<th>고객명</th>
																<th>담당사원</th>
																<th></th>
															</tr>
														</thead>
														<tbody th:align="center">
															<tr th:each="customer : ${customerList}">
																<td th:text="${customer.customerNo}"></td>
																<td th:text="${customer.company.businessStatus}"></td>
																<td th:text="${customer.company.companyName}"></td>
																<td th:text="${customer.customerName}"></td>
																<td th:text="|${customer.empInfo.empName} ${customer.empInfo.job.jobName}|"></td>
																<td>
																	<button class="btn btn-sm btn-dark" name="selectCustomer"
																			th:text="선택" data-dismiss="modal"></button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer mb-6">
									<button type="button" class="btn btn-outline-primary" data-dismiss="modal">닫기</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End CustomerModal -->

					<!-- StockModal -->
					<div class="modal fade" id="stockModal" tabindex="-1" role="dialog" aria-labelledby="stockModalLabel"
							aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title font-weight-bold" id="stockModalLabel">상품 추가</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true"><i class="far fa-times-circle"></i></span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="card mb-4">
												<div class="table-responsive-sm p-3" style="height:500px; overflow:auto;">
													<table class="table align-items-center table-flush table-hover" id="stockTable">
														<thead class="thead-light" th:align="center">
															<tr>
																<th>상품번호</th>
																<th>카테고리(중)</th>
																<th>카테고리(소)</th>
																<th>상품명</th>
																<th>제조사</th>
																<th>공급가</th>
																<th>단위</th>
																<th>재고수량</th>
																<th>수량</th>
																<th></th>
															</tr>
														</thead>
														<tbody th:align="center">
															<tr th:each="stock : ${stockList}">
																<td name="productNo" th:text="${stock.productNo}"></td>
																<td th:text="${stock.product.category.refCategoryName}"></td>
																<td th:text="${stock.product.category.categoryName}"></td>
																<td th:text="${stock.product.productName}"></td>
																<td th:text="${stock.product.manufacturer.manufacturerName}"></td>
																<td th:text="${stock.product.sellingPrice}"></td>
																<td th:text="${stock.product.unit}"></td>
																<td th:text="${stock.productStock}"></td>
																<td>
																	<input type="number" class="form-control" name="stockQty" min="0">
																</td>
																<td>
																	<button class="btn btn-sm btn-dark" name="selectStockBtn"
																			th:text="선택" data-dismiss="modal"></button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer mb-6">
									<button type="button" class="btn btn-outline-primary" data-dismiss="modal">닫기</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End StockModal -->

				</div>
			</div>
		</div>
	</div>

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>
	<script>
		$(document).ready(function() {
			$("#customerTable").DataTable();
			$("#stockTable").DataTable();
			
			$("#discountRate").TouchSpin({
				min: 0,
				max: 100,
				initval: 0,
				boostat: 5,
				maxboostedstep: 10,
				postfix: "%"
			});
		});

		/* 고객 목록 중 선택하여 정보 입력 */
		$("button[name='selectCustomer']").on("click", function() {
			$td = $(this).parent();

			const customerNo = $td.siblings().eq(0).text();
			const customerCompany = $td.siblings().eq(2).text();
			const customerName = $td.siblings().eq(3).text();
			const empName = $td.siblings().eq(4).text();
			
			$("#customerCompany").val(customerCompany);
			$("#customerName").val(customerName);
			$("#customerNo").val(customerNo);
			$("#resEmpName").val(empName);
		});
		
		/* 할인 적용에 따라 수치 입력 칸 활성화/비활성화 */
		$("input:radio[name='discountStatus']").on("click", function() {
			if($(this).val() == "Y") {
				$("#discountRate").attr("disabled", false);
			} else {
				$("#discountRate").val(0).attr("disabled", true);
				calculateTotal();
			}
		});
		
		/* 입력한 수치로 할인 적용 */
		$("#discountRate").on("change", function() {
			calculateTotal();
		});
			
		/* 상품 검색 후 리스트에 추가 */
		$("button[name='selectStockBtn']").on("click", function() {
			const $estimateProduct = $("#estimateProductTable tbody");
			const $stockTr = $(this).parent().parent();

			if($stockTr.children().eq(8).children().val() == 0) {
				alert("상품 수량이 입력되지 않았습니다.");
				$("input[name='stockQty']").val("");
				return;
			}
			
			// if(Number($stockTr.children().eq(7).text()) < $stockTr.children().eq(8).children().val()) {
			// 	alert("상품 재고가 부족합니다.");
			// 	$("input[name='stockQty']").val("");
			// 	return;
			// }

			for(let i = 0; i < $estimateProduct.children().length; i++) {
				if($estimateProduct.children().eq(i).children().eq(1).text() == $stockTr.children().eq(0).text()) {
					alert("이미 선택된 상품입니다.");
					$("input[name='stockQty']").val("");
					return;
				}
			}

			$tr = $("<tr>");
			$noTd = $("<td>").text($estimateProduct.children().length + 1);
			$productNoTd = $("<td>").text($stockTr.children().eq(0).text());
			$productNameTd = $("<td>").text($stockTr.children().eq(3).text());
			$sellingPriceTd = $("<td>").text($stockTr.children().eq(5).text());
			$discountPriceTd = $("<td>").text($sellingPriceTd.text());
			$unitTd = $("<td>").text($stockTr.children().eq(6).text());
			$qtyTd = $("<td>").text($stockTr.children().eq(8).children().val())
					.attr("value", $stockTr.children().eq(8).children().val())
					.attr("name", "productAmount");
			$subtotalTd = $("<td>").text(Number($discountPriceTd.text()) * Number($qtyTd.text()));
			$taxTd = $("<td>").text(Number($subtotalTd.text()) * 0.1);
			$deleteStockBtn = $("<button>").addClass("btn btn-sm btn-outline-dark")
					.prop("name", "deleteStockBtn").text("삭제");
			$deleteStockTd = $("<td>").append($deleteStockBtn);
			
			$tr.append($noTd);
			$tr.append($productNoTd);
			$tr.append($productNameTd);
			$tr.append($sellingPriceTd);
			$tr.append($discountPriceTd);
			$tr.append($unitTd);
			$tr.append($qtyTd);
			$tr.append($subtotalTd);
			$tr.append($taxTd);
			$tr.append($deleteStockTd);
			
			$estimateProduct.append($tr);

			$("input[name='stockQty']").val("");

			calculateTotal();
		});

		/* 선택한 상품 삭제 */
		$(document).on("click", "button[name='deleteStockBtn']", function() {
			$(this).parent().parent().remove();

			const $estimateProduct = $("#estimateProductTable tbody");
			for(let i = 0; i < $estimateProduct.children().length; i++) {
				$estimateProduct.children().eq(i).children().eq(0).text(i + 1);
			}

			calculateTotal();
		});

		/* 합계 금액 계산 */
		function calculateTotal() {
			const $estimateProduct = $("#estimateProductTable tbody");
			const discountRate = $("#discountRate").val();
			let total = 0;

			for(let i = 0; i < $estimateProduct.children().length; i++) {
				let discountPrice = (Number($estimateProduct.children().eq(i).children().eq(3).text())
						* (100 - discountRate) / 100).toFixed();
				let qty = $estimateProduct.children().eq(i).children().eq(6).text();
				let subtotal = Number(discountPrice) * Number(qty);
				let tax = Number((subtotal * 0.1).toFixed());
				
				total += subtotal + tax;

				$estimateProduct.children().eq(i).children().eq(4).text(discountPrice);
				$estimateProduct.children().eq(i).children().eq(7).text(subtotal);
				$estimateProduct.children().eq(i).children().eq(8).text(tax);
			}

			$("#estimateTotal").val(total);
			$("#estimateTotalKor").text("(" + translateKor(total) + ")");
		}

		/* 금액을 한글로 변경하여 출력 */
		function translateKor(number) {
			const digit = new Array("", "일", "이", "삼", "사", "오", "육", "칠", "팔", "구");
			const tenUnit = new Array("", "십", "백", "천");
			const tenThousandUnit = new Array(" ", "만 ", "억 ");
			let unit = 10000;
			let index = 0;
			let division = Math.pow(unit, index);
			let result = "";
			
			while(Math.floor(number / division) > 0) {
				let mod = Math.floor(number % (division * unit) / division);
				mod = mod.toString().padStart(4, "0");

				if(mod) {
					let modToArray = mod.toString().split("");
					let str = "";
					
					for(let i = 0; i < modToArray.length; i++) {
						if(modToArray[i] != 0){
							str += digit[modToArray[i]] + tenUnit[(modToArray.length - 1) - i];
						}
					}
					result = str + tenThousandUnit[index] + result;
				}
				division = Math.pow(unit, ++index);
			}

			return "일금 " + result + "원";
		}

		/* 입력된 견적서 정보를 post 방식으로 전송 */
		$(document).on("click", "#registEstimateBtn", function() {

			const $estimateProduct = $("#estimateProductTable tbody");
			let productList = [];

			if($estimateProduct.children().length == 0) {
				alert("등록된 상품이 없습니다.");
				return false;
			}

			for(let i = 0; i < $estimateProduct.children().length; i++) {
				productNo = $estimateProduct.children().eq(i).children().eq(1).text();
				qty = $estimateProduct.children().eq(i).children().eq(6).text();
				
				const product = {"productNo": productNo, "productAmount": qty};
				productList.push(product);
			}

			const estimate = {"estimateTitle" : $("#estimateTitle").val(),
							"estimateNo" : $("#estimateNo").val(),
							"estimateDate" : $("#estimateDate").val(),
							"discountRate" : $("#discountRate").val(),
							"customerNo" : $("#customerNo").val(),
							"estimateStatus" : $("#estimateStatus option:selected").text(),
							"estimateProductList" : productList};
							
			if(confirm("견적서를 등록하시겠습니까?")) {
				$.ajax({
					url: "/estimate/insert",
					type: "POST",
					data: JSON.stringify(estimate),
					contentType: "application/json; charset=UTF-8",
					success: function(data, status, xhr) {
						alert(data.message);
						location.href="/estimate/selectAll";
					},
					error: function(xhr, status, error) {
						alert("예기치 못한 에러가 발생하였습니다.");
						console.log(error);
					}
				});
			}
		});
	</script>
</body>

</html>