<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">견적서 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item"><a th:href="@{/estimate/selectAll}">견적서 조회</a></li>
							<li class="breadcrumb-item active" aria-current="page">견적서 작성</li>
						</ol>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<form>
								<div class="card mb-4">
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">견적서 작성</h6>
									</div>
									<div class="card-body">
										<div class="form-group row mb-2" th:align="right">
												<label for="estimateTitle" class="col-lg-1 col-form-label">제목</label>
												<input type="text" class="form-control col-lg-10" id="estimateTitle">
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="estimateNo" class="col-lg-1 col-form-label">견적번호</label>
											<input type="text" class="form-control col-lg-4" id="estimateNo">
											<label for="resEmp" class="col-lg-2 col-form-label">담당사원</label>
											<input type="text" class="form-control col-lg-4" id="resEmp"
													th:value=empName readonly>
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="customerCompany" class="col-lg-1 col-form-label">고객사</label>
											<input type="text" class="form-control col-lg-4" id="customerCompany">
											<label for="customerName" class="col-lg-2 col-form-label">고객명</label>
											<input type="text" class="form-control col-lg-4" id="customerName">
											<button type="button" class="btn btn-primary">검색</button>
										</div>
										<div class="form-group row mb-4" th:align="right">
											<label for="estimateDate" class="col-lg-1 col-form-label">견적일자</label>
											<input type="text" class="form-control col-lg-4" id="estimateDate">
											<label for="estimateStatus" class="col-lg-2 col-form-label">진행상태</label>
											<input type="text" class="form-control col-lg-4" id="estimateStatus">
										</div>
										
										<div class="form-group row mb-2" th:align="right">
											<label class="col-lg-1 col-form-label">금액할인</label>
											<div class="custom-control custom-radio mt-2 col-lg-1">
												<input type="radio" class="custom-control-input" id="noApplyDiscount" name="discountRate" checked>
												<label for="noApplyDiscount" class="custom-control-label">미적용</label>
											</div>
											<div class="custom-control custom-radio mt-2 col-lg-1">
												<input type="radio" class="custom-control-input" id="applyDiscount" name="discountRate">
												<label for="applyDiscount" class="custom-control-label">적용</label>
											</div>
											<div class="form-group">
												<input type="text" class="form-control col-lg-3" id="discountRate" disabled>
											</div>
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="estimateDate" class="col-lg-1 col-form-label">합계금액</label>
											<input type="text" class="form-control col-lg-10" id="estimateDate">
										</div>
									</div>
								</div>
								<div class="card mb-4">
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">물품 추가</h6>
									</div>
									<div class="card-body">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>
	<script>
		$(document).ready(function() {
			$("#applyDiscount").click(function() {
				$("#discountRate").attr("disabled", false);
			});
			
			$("#noApplyDiscount").click(function() {
				$("#discountRate").attr("disabled", true);
			});
			
			$("#discountRate").TouchSpin({
				min: 0,
				max: 100,
				decimals: 1,
				step: 1,
				postfix: '%',
				initval: 0,
				boostat: 5,
				maxboostedstep: 10
			});
		});
	</script>
</body>

</html>

