<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="@{/common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">견적서 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">견적서 조회</li>
						</ol>
					</div>

					<div class="row">
						<!-- Datatables -->
						<div class="col-lg-12">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">견적서 조회 (전체)</h6>
									<button type="button" class="btn btn-info btn-icon-split" id="insertEstimateBtn"
											th:onclick="|location.href='@{/estimate/insert}'|">
										<span class="icon text-white"><i class="fas fa-edit"></i></span>
										<span class="text text-white">견적서 작성</span>
									</button>
								</div>
								<ul class="nav nav-tabs nav-justfied">
									<li class="nav-item">
										<a th:href="@{#estimateTable}" th:name="status" th:value="all" class="nav-link active" data-toggle="tab">전체</a>
									</li>
									<li class="nav-item">
										<a th:href="@{#estimateTable}" th:name="status" th:value="progress" class="nav-link" data-toggle="tab">진행중</a>
									</li>
									<li class="nav-item">
										<a th:href="@{#estimateTable}" th:name="status" th:value="success" class="nav-link" data-toggle="tab">완료</a>
									</li>
									<li class="nav-item">
										<a th:href="@{#estimateTable}" th:name="status" th:value="postpone" class="nav-link" data-toggle="tab">보류</a>
									</li>
									<li class="nav-item">
										<a th:href="@{#estimateTable}" th:name="status" th:value="failed" class="nav-link" data-toggle="tab">실패</a>
									</li>
								</ul>
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="estimateTable">
										<thead class="thead-light" th:align="center">
											<tr>
												<th>견적번호</th>
												<th>고객명</th>
												<th>제목</th>
												<th>상태</th>
												<th>작성자</th>
												<th>등록일</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="estimate : ${estimateList}" th:object="${estimate}" th:align="center">
												<td th:text="*{estimateNo}"></td>
												<td th:text="*{customer.customerName}"></td>
												<td th:text="*{estimateTitle}" th:align="left"></td>
												<td th:switch="*{estimateStatus}">
													<h5>
														<span th:case="진행중" class="badge badge-success" th:text="*{estimateStatus}"></span>
														<span th:case="완료" class="badge badge-info" th:text="*{estimateStatus}"></span>
														<span th:case="보류" class="badge badge-warning" th:text="*{estimateStatus}"></span>
														<span th:case="실패" class="badge badge-danger" th:text="*{estimateStatus}"></span>
													</h5>
												</td>
												<td th:text="*{customer.empInfo.empName}"></td>
												<td th:text="*{estimateDate}"></td>
												<td>
													<button type="button" class="btn btn-sm btn-dark btn-icon-split" name="estimateDetailBtn"
															th:onclick="|location.href='@{/estimate/select(estimateNo=*{estimateNo})}'|">
														<span class="icon text-white-50"><i class="fas fa-clipboard-list"></i></span>
														<span class="text text-white">상세정보</span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Content -->
				
			</div>
		</div>
	</div>

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>

	<script>
		$(document).ready(function () {
        	$("#estimateTable").DataTable({
				order:[]
			});
        });

		$(document).on("click", "a[name='status']", function() {
			let estimateStatus = $(this).attr('value');
			let estimateStatusKor = $(this).text();

			$.ajax({
				url: "/estimate/selectAll/status",
				type: "GET",
				data: {"estimateStatus" : estimateStatus},
				success: function(data, status, xhr) {

					const estimateList = JSON.parse(data.estimateListByStatus);
					const $table = $("#estimateTable tbody");

					$("#tableTitle").html("견적서 조회 (" + estimateStatusKor + ")");

					$table.html("");

					if(estimateList.length != 0) {
						for(let index in estimateList) {
							let estimate = estimateList[index];

							$tr = $("<tr>").prop("align", "center");
							$estimateNoTd = $("<td>").text(estimate.estimateNo);
							$customerNameTd = $("<td>").text(estimate.customer.customerName);
							$estimateTitleTd = $("<td>").attr("align", "left").text(estimate.estimateTitle);
							$badgeSpan = $("<span>").text(estimate.estimateStatus);
							switch(estimate.estimateStatus) {
								case "진행중" : $badgeSpan.addClass("badge badge-success"); break;
								case "완료" : $badgeSpan.addClass("badge badge-info"); break;
								case "보류" : $badgeSpan.addClass("badge badge-warning"); break;
								case "실패" : $badgeSpan.addClass("badge badge-danger"); break;
							}
							$estimateStatusTd = $("<td>").append($("<h5>").append($badgeSpan));
							$empNameTd = $("<td>").text(estimate.customer.empInfo.empName);
							$estimateDateTd = $("<td>").text(estimate.estimateDate);
							$btnIcon = $("<i>").addClass("fas fa-clipboard-list");
							$btnIconSpan = $("<span>").addClass("icon text-white-50").append($btnIcon);
							$btnTextSpan = $("<span>").addClass("text text-white").text("상세정보");
							$detailBtn = $("<button>").addClass("btn btn-sm btn-dark btn-icon-split")
									.prop("name", "estimateDetailBtn").append($btnIconSpan).append($btnTextSpan);
							$detailTd = $("<td>").append($detailBtn);

							$tr.append($estimateNoTd);
							$tr.append($customerNameTd);
							$tr.append($estimateTitleTd);
							$tr.append($estimateStatusTd);
							$tr.append($empNameTd);
							$tr.append($estimateDateTd);
							$tr.append($detailTd);
							
							$table.append($tr);
						}
					}
				},
				error: function(xhr, status, error) {
					console.log(xhr);
				}
			});
		});

		$(document).on("click", "button[name='estimateDetailBtn']", function() {
			const estimateNo = $(this).parent().siblings().eq(0).text();

			location.href="/estimate/select?estimateNo=" + estimateNo;
		});
	</script>
</body>

</html>