<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">견적서 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">견적서 관리</li>
						</ol>
					</div>

					<!-- Row -->
					<div class="row">
						<!-- Datatables -->
						<div class="col-lg-2">
							<ul class="navbar-nav">
								<li class="alert alert-danger mb-1">전체</li>
								<li class="alert alert-light mb-1">진행중</li>
								<li class="alert alert-light mb-1">완료</li>
								<li class="alert alert-light mb-1">보류</li>
								<li class="alert alert-light mb-1">실패</li>
							</ul>
						</div>
						<div class="col-lg-10">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">전체 견적서 조회</h6>
								</div>
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="dataTableHover">
										<thead class="thead-light">
											<tr>
												<th>견적번호</th>
												<th>고객명</th>
												<th>제목</th>
												<th>상태</th>
												<th>작성자</th>
												<th>등록일</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="estimate : ${estimateList}">
												<td th:text="${estimate.estimateNo}"></td>
												<td th:text="${estimate.customer.customerName}"></td>
												<td th:text="${estimate.estimateTitle}"></td>
												<td th:text="${estimate.estimateStatus}"></td>
												<td th:text="${estimate.customer.empInfo.empName}"></td>
												<td th:text="${estimate.estimateDate}"></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>							

						<div class="col-lg-12 mb-4">
							<!-- Simple Tables -->
							<div class="card">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">Simple Tables</h6>
								</div>
								<div class="table-responsive">
									<table class="table align-items-center table-flush">
										<thead class="thead-light" align="center">
											<tr>
												<th>Order ID</th>
												<th>Customer</th>
												<th>Item</th>
												<th>Status</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><a href="#">RA0449</a></td>
												<td>Udin Wayang</td>
												<td>Nasi Padang</td>
												<td><span class="badge badge-success">Delivered</span></td>
												<td><a href="#" class="btn btn-sm btn-primary">Detail</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>		<!-- End ContainerFluid -->
			</div>
		</div>
	</div>

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>
</body>

</html>