<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-spingsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link href="img/logo/logo.png" rel="icon">
<title>RuangAdmin - Register</title>
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/css/ruang-admin.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-login">
	<!-- Register Content -->
	<div class="container-login">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12 col-md-9">
				<div class="card shadow-sm my-5">
					<div class="card-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<div class="login-form">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">사원등록페이지</h1>
									</div>
									<form action="/admin/member/insert" method="post">
										<div class="row">
											<div class="col-lg-2" style="margin-top: 60px;">
												<div align="center">
													<label>프로필 사진</label>
													<div style="height: 300px; width: 200px; border: 1px solid black; ">
													</div>
													<br>
													<div>
														<input type="file">
													</div>
												</div>
											</div>
											<div class="col-lg-5">
												<div class="form-group">
													<label>사원번호</label> 
														<input type="text" class="form-control"	name="empNo" placeholder="사원번호">
												</div>
												<div class="form-group">
													<label>ID</label>&nbsp;<span id="checkId"></span> 
														<input type="text" id="empId" class="form-control" name="empId"	placeholder="ID" required>
												</div>
												<div class="form-group">
													<label>비밀번호</label>&nbsp;<span id="checkPwd1"></span> 
														<input type="password" class="form-control" name="empPwd" id="pwd1" placeholder="Password">
												</div>
												<div class="form-group">
													<label>비밀번호 재확인</label>&nbsp;<span id="checkPwd2"></span> 
														<input type="password" name="empPwd2" id="pwd2" class="form-control" placeholder="Repeat Password" required>
												</div>
												<div class="form-group">
													<label>Email</label> 
														<input type="email" class="form-control" name="empEmail" aria-describedby="emailHelp" placeholder="Enter Email Address" required>
												</div>
												<div class="row">
													<div class="form-group col-xl-6">
														<label>부서</label> 
															<input type="text" name="deptNo" class="form-control" required>
													</div>
													<div class="form-group col-xl-6">
														<label>직급</label> 
															<input type="text" name="jobNo" class="form-control" required>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-xl-6">
														<label>담당자</label> 
															<input type="text" name="managerNo"	class="form-control" required>
													</div>
													<div class="form-group col-xl-6">
														<label>권한</label> 
															<input type="text" name="authority" class="form-control" required>
													</div>
												</div>
											</div>
											<div class="col-lg-5">
												<div class="form-group">
													<label>사원명</label> 
														<input type="text" class="form-control" name="empName" placeholder="사원명" required>
												</div>
												<div class="row">
													<div class="form-group col-xl-6">
														<label>생년월일</label> 
															<input type="date" class="form-control" name="empBirth" required>
													</div>
													<div class="form-group col-xl-6">
														<label>성별</label>
														<div class="form-control">
															<input type="radio" name="gender" value="남" required><label>남</label> 
															<input type="radio" name="gender" value="여" required><label>여</label>
														</div>
													</div>

												</div>
												<div class="row">
													<div class="form-group col-xl-6">
														<label>PHONE</label> 
															<input type="text" name="empPhone" class="form-control" id="empPhone" required>
													</div>
													<div class="form-group col-xl-6">
														<label>자택번호</label> 
															<input type="text" class="form-control" name="empTel">
													</div>
												</div>
												<div class="row">
													<div class="form-group col-xl-6">
														<label>입사일</label> 
															<input type="date" class="form-control" name="hireDate" required>
													</div>
													<div class="form-group col-xl-6">
														<label>퇴사일</label> 
															<input type="date" class="form-control"	name="entDate">
													</div>
												</div>
											</div>
										</div>
										<div class="form-group col-xl-12">
											<br>
											<button type="submit" class="btn btn-primary btn-block">사원등록</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Register Content -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/js/admin/insertMember.js"></script>
	<script src="/js/ruang-admin.min.js"></script>
</body>
</html>