<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-spingsecurity5">
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>

	<style>
	input {
		text-align: center;
	}
	</style>
</head>

<body id="page-top">
	<div id="wrapper">
		
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Register Content -->
				<div class="container-login">
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-9">
							<div class="card shadow-sm my-5">
								<div class="card-body p-0">
									<div class="row">
										<div class="col-lg-12">
											<div class="login-form">
												<div class="text-center">
													<h1 class="h4 text-gray-900 mb-4">사원등록</h1>
												</div>
												<form action="/admin/emp/insert" method="post" enctype="multipart/form-data" onsubmit="return checkInsertMember()">
													<div class="row" th:align="center">
														<div class="col-lg-2" style="margin-top: 60px;">
															<div th:align="center">
																<label>프로필 사진</label>
																<div class="form-group">
																	<img id="profileImg" width="200px" height="253px">
																<div style="margin-top: 20px;">	
																	<input type="file" class="col-xl-9" id="profileThumbNail" name="profileThumbNail" onchange="loadImg(this,1)" required>
																</div>	
																</div>
															</div>
														</div>
														<div class="col-lg-5">
															<div class="form-group">
																<label for="empId">ID</label>&nbsp;<span id="checkId"></span> 
																<input type="text" id="empId" class="form-control" name="empId"	placeholder="ID" required>
															</div>
															<div class="form-group">
																<label for="pwd1">비밀번호</label>&nbsp;<span id="checkPwd1"></span> 
																<input type="password" class="form-control" name="empPwd" id="pwd1" placeholder="Password">
															</div>
															<div class="form-group">
																<label for="pwd2">비밀번호 재확인</label>&nbsp;<span id="checkPwd2"></span> 
																<input type="password" name="empPwd2" id="pwd2" class="form-control" placeholder="Repeat Password" required>
															</div>
															<div class="form-group">
																<label for="empEmail">Email</label> 
																<input type="email" class="form-control" id="empEmail" name="empEmail" aria-describedby="emailHelp" placeholder="Enter Email Address" required>
															</div>
															<div class="row">
																<div class="form-group col-xl-6">
																	<label for="deptNmae">부서</label> 
																	<select id="deptNmae" name="deptCode" class="form-control">
																		<option selected>-</option>
																		<option th:each="deptList : ${deptList}" 
																				th:text="${deptList.deptName}" th:value="${deptList.deptCode}"></option>
																	</select>	
																</div>
																<div class="form-group col-xl-6">
																	<label for="jobName">직급</label> 
																	<select id="jobName" name="jobCode" class="form-control">
																		<option selected>-</option>
																		<option th:each="jobList : ${jobList}" 
																				th:text="${jobList.jobName}" th:value="${jobList.jobCode}"></option>
																	</select>	
																</div>
															</div>
															<div class="row">
																<div class="form-group col-xl-6">
																	<label for="managerName">담당자</label> 
																		<select id="managerName" name="managerNo" class="form-control">
															
																		</select>
																</div>
																<div class="form-group col-xl-6">
																	<label for="authority">권한</label> 
																	<select id="authority" name="authority" class="form-control">
																		<option selected>-</option>
																		<option th:text="사원" th:value="ROLE_EMP"></option>
																		<option th:text="담당자" th:value="ROLE_MANAGER"></option>
																		<option th:text="관리자" th:value="ROLE_ADMIN"></option>
																	</select>	
																</div>
															</div>
														</div>
														<div class="col-lg-5">
															<div class="form-group">
																<label for="empName">사원명</label> 
																<input type="text" class="form-control" id="empName" name="empName" placeholder="사원명" required>
															</div>
															<div class="row">
																<div class="form-group col-xl-6">
																	<label for="empBirth">생년월일</label> 
																	<input type="date" class="form-control" id="empBirth" name="empBirth" required>
																</div>
																<div class="form-group col-xl-6">
																	<label for="empGender">성별</label>
																	<div class="form-control">
																		<input type="radio" id="empGender1" name="empGender" value="남" required><label>남</label> 
																		<input type="radio" id="empGender2" name="empGender" value="여" required><label>여</label>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="form-group col-xl-6">
																	<label for="empPhone">PHONE</label> 
																	<input type="text" name="empPhone" class="form-control" id="empPhone" required>
																</div>
																<div class="form-group col-xl-6">
																	<label for="empTel">자택번호</label> 
																	<input type="text" class="form-control" id="empTel" name="empTel">
																</div>
															</div>
															<div class="row">
															<div class="form-group col-xl-6"></div>
																<div class="form-group col-xl-6">
																	<label for="hireDate">입사일</label> 
																	<input type="date" class="form-control" id="hireDate" name="hireDate" required>
																</div>
																<div class="form-group col-xl-6">
																</div>
															</div>
														</div>
													</div>
													<div class="form-group col-xl-12">
													<br>
														<button type="submit" class="btn btn-primary btn-block">사원등록</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Register Content -->
	<th:block th:replace="@{/common/script} :: script"></th:block>
	<script src="/js/admin/insertMember.js"></script>
	
	<script>
	/* 프로필 이미지 선택시 화면에서 미리보기 */
	function loadImg(value) {
		if(value.files) {
			const reader = new FileReader();
			reader.onload = function(e) {
				document.getElementById("profileImg").src = e.target.result;
			}
			reader.readAsDataURL(value.files[0]);
		}
	}

	/* 사원등록 여부 확인 버튼 */
	function checkInsertMember() {
	
		if(!confirm("신규사원을 등록하시겠습니까?")) {
			return false;
		} 
	}
	</script>	
	
</body>
</html>