<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">직급 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="./">Home</a></li>
							<li class="breadcrumb-item">Tables</li>
							<li class="breadcrumb-item active" aria-current="page">직급 관리</li>
						</ol>
					</div>
					<div align="right">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobinsert" id="#jobbtn">직급 추가</button>
					</div>
						<br>
					
					<!-- Row -->
					<div class="row">

						<!-- DataTable with Hover -->
						<div class="col-lg-12">
							<div class="card mb-4">
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">직급 조회</h6>
								</div>

								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="dataTableHover">
										<thead align="center" class="thead-light">
											<tr>
												<th>직급코드</th>
												<th>직급명</th>
												<th>상태</th>
												<th></th>
											</tr>
										</thead>
										<tbody align="center">
											<tr th:each="job: ${jobList}">
												<td th:text="${job.jobCode}"></td>
												<td th:text="${job.jobName}"></td>
												<td th:text="${job.jobStatus}"></td>
												<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobModify" id="#jobmodifybtn" >직급관리</button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
				<!-- 직급 추가 모달 -->
				<form th:action="jobinsert" method="post">
				<div class="modal fade" id="jobinsert" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLongTitle"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle"
									style="color: blue;">직급추가</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label>추가할 직급</label>
									<input type="text" class="form-control" name="jobName">
								</div>
							  	<div class="form-group">
									<label>직급상태</label>
									<div class="custom-control custom-radio">
										 <input type="radio" id="customRadio3" name="jobStatus" class="custom-control-input" value="Y">
                        				<label class="custom-control-label" for="customRadio3">Y</label>
									</div>
									 <div class="custom-control custom-radio">
										<input type="radio" id="customRadio4" name="jobStatus" class="custom-control-input" value="N">
                        				<label class="custom-control-label" for="customRadio4">N</label>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">신규직급 추가</button>
							</div>
						</div>
					</div>
				</div>
				</form>
				<!-- 직급 수정 -->
					<!-- 직급 수정 -->
				<form action="jobmodify" method="post">
						<div class="modal fade" id="jobModify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle" style="color: blue;">직급 관리</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
								</div>
									<div class="modal-body">
										<div class="form-group">
											<label>직급 코드</label>
											<input type="text" class="form-control" name="jobCode" value="${ jobDTO.jobCode }" th:readonly="readonly">
										</div> 
									    <div class="form-group">
											<label>직급명</label>
											<input type="text" class="form-control" value="${jobDTO.jobName}" name="jobName">
										</div>
									<div class="custom-control custom-radio" >
										 <input type="radio" id="customRadio5" name="jobStatus" class="custom-control-input" value="Y">
                        				<label class="custom-control-label" for="customRadio5">Y</label>
									</div>
									 <div class="custom-control custom-radio" >
										<input type="radio" id="customRadio6" name="jobStatus" class="custom-control-input" value="N">
                        				<label class="custom-control-label" for="customRadio6">N</label>
									</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary" >수정하기</button>
									</div>
							</div>     
						</div>
					</div>  
				</form>
		<!-- Script -->
		<th:block th:replace="@{/common/script} :: script"></th:block>
		 	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
		<script>
	$("#updatebtn").click(function(){
		if(confirm("수정하시겠습니까?") == true){
			alert("수정되었습니다.")
		}
		else{
			return;
		}
	})
	</script>
</body>

</html>
