<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="@{/common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">청구서 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item"><a th:href="@{/charge/selectAll}">청구서 조회</a></li>
							<li class="breadcrumb-item active" aria-current="page">청구서 수정</li>
						</ol>
					</div>

					<div class="row">
						<div class="col-lg-12" th:align="center" th:object="${charge}">
							<form th:action="@{/charge/modify}" method="POST" id="modifyCharge">

								<!-- ChargeInfo -->
								<div class="card mb-4">
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">청구서 수정</h6>
										<button type="button" class="btn btn-info btn-icon-split" id="searchOrderBtn"
												data-toggle="modal" data-target="#orderModal">
											<span class="icon text-white"><i class="fas fa-edit"></i></span>
											<span class="text text-white">주문서 불러오기</span>
										</button>
									</div>
									<div class="card-body">
										<div class="form-group row mb-2" th:align="right">
											<label for="chargeTitle" class="col-form-label col-lg-1">제목</label>
											<input type="text" class="form-control col-lg-10" id="chargeTitle"
													th:field="*{order.orderTitle}" readonly>
											<input type="hidden" class="form-control col-lg-4" th:field="*{orderNo}">
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="chargeNo" class="col-form-label col-lg-1">청구번호</label>
											<input type="text" class="form-control col-lg-4" th:field="*{chargeNo}" readonly>
											<label for="chargeDate" class="col-form-label col-lg-2">청구일자</label>
											<input type="date" class="form-control col-lg-4" th:field="*{chargeDate}" readonly>
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="customerCompany" class="col-form-label col-lg-1">고객사</label>
											<input type="text" class="form-control col-lg-4" id="customerCompany"
													th:field="*{order.customer.company.companyName}" readonly>
											<label for="customerName" class="col-form-label col-lg-2">고객명</label>
											<input type="text" class="form-control col-lg-4" id="customerName"
													th:field="*{order.customer.customerName}" readonly>
											<input type="hidden" class="form-control" id="customerNo" th:field="*{order.customerNo}">
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="chargeStatus" class="col-form-label col-lg-1">청구상태</label>
											<select class="form-control col-lg-4" name="chargeStatus" th:field="*{chargeStatus}">
												<option th:selected="*{chargeStatus == '미청구'}" th:value="미청구">미청구</option>
												<option th:selected="*{chargeStatus == '청구'}" th:value="청구">청구</option>
											</select>
											<label for="resEmpName" class="col-form-label col-lg-2">담당사원</label>
											<input type="text" class="form-control col-lg-4" id="resEmpName" name="empName"
													th:value="|*{order.customer.empInfo.empName} *{order.customer.empInfo.job.jobName}|" readonly>
											<input type="hidden" class="form-control" id="resEmpNo" th:field="*{order.customer.empNo}">
										</div>
										<hr>

										<div class="form-group row mb-2" th:align="right">
											<label for="discountRate" class="col-form-label col-lg-1">금액할인</label>
											<div class="custom-control custom-radio mt-2 col-lg-1">
												<input type="radio" class="custom-control-input" id="noApplyDiscount" name="discountStatus"
														th:field="*{order.discountStatus}" value="N" th:checked="*{order.discountStatus == 'N'}" disabled>
												<label for="noApplyDiscount" class="custom-control-label">미적용</label>
											</div>
											<div class="custom-control custom-radio mt-2 col-lg-1">
												<input type="radio" class="custom-control-input" id="applyDiscount" name="discountStatus"
														th:field="*{order.discountStatus}" value="Y" th:checked="*{order.discountStatus == 'Y'}" disabled>
												<label for="applyDiscount" class="custom-control-label">적용</label>
											</div>
											<div class="input-group bootstrap-touchspin bootstrap-touchspin-injected col-lg-2">
												<input type="text" class="form-control" id="discountRate" th:field="*{order.discountRate}" disabled>
											</div>
											<label for="paymentStatus" class="col-form-label col-lg-2">결제방법</label>
											<select class="form-control col-lg-4" id="paymentStatus" name="paymentStatus" disabled>
												<option th:selected="*{order.paymentStatus == '세금계산서'}">세금계산서</option>
												<option th:selected="*{order.paymentStatus == '카드'}">카드</option>
											</select>
										</div>
										<div class="form-group row mb-2" th:align="right">
											<label for="chargeTotal" class="col-form-label col-lg-1">합계금액</label>
											<input type="text" class="form-control col-lg-4" id="chargeTotal" th:field="*{order.sumPrice}" readonly>
											<h5 class="col-lg-4" id="chargeTotalKor" th:align="left"></h5>
										</div>
									</div>
								</div>
								<!-- End ChargeInfo -->

								<!-- OrderProductList -->
								<div class="card mb-4">
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">주문 품목</h6>
									</div>
									<div class="table-responsible">
										<table class="table align-items-center table-flush" id="orderProductTable">
											<thead class="thead-light" th:align="center">
												<tr>
													<th>No</th>
													<th>상품번호</th>
													<th>상품명</th>
													<th>공급가</th>
													<th>할인가</th>
													<th>단위</th>
													<th>수량</th>
													<th>합계</th>
													<th>세액</th>
												</tr>
											</thead>
											<tbody th:align="center">
												<tr th:each="orderProduct, i : *{order.orderProductList}" th:object="${orderProduct}">
													<td th:text="${i.count}"></td>
													<td th:text="*{productNo}"></td>
													<td th:text="*{product.productName}"></td>
													<td th:text="*{product.sellingPrice}"></td>
													<td th:text="*{product.discountedPrice}"></td>
													<td th:text="*{product.unit}"></td>
													<td th:text="*{productAmount}"></td>
													<td th:text="*{product.subtotal}"></td>
													<td th:text="*{product.tax}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- End OrderProductList -->

								<div class="mb-4" th:align="center">
									<button type="button" class="btn btn-primary mx-2" id="modifyChargeBtn">수정</button>
									<button type="reset" class="btn btn-outline-danger mx-2" id="resetBtn"
											th:onclick="|location.href='@{/charge/select(chargeNo=*{chargeNo})}'|">취소</button>
								</div>
							</form>
						</div>
					</div>

					<!-- OrderModal -->
					<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
							aria-hidden="true">
						<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title font-weight-bold" id="orderModalLabel">주문서 조회</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true"><i class="far fa-times-circle"></i></span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-lg-12">
											<div class="card mb-4">
												<div class="table p-3" style="height:500px; overflow:auto;">
													<table class="table align-items-center table-flush table-hover" id="orderTable">
														<thead class="thead-light" th:align="center">
															<tr>
																<th>주문번호</th>
																<th>제목</th>
																<th>고객사</th>
																<th>고객명</th>
																<th>금액(원)</th>
																<th>주문일</th>
																<th></th>
															</tr>
														</thead>
														<tbody th:align="center">
															<tr th:each="order : ${orderList}" th:object="${order}" th:align="center">
																<td th:text="*{orderNo}"></td>
																<td th:text="*{orderTitle}"></td>
																<td th:text="*{customer.company.companyName}"></td>
																<td th:text="*{customer.customerName}"></td>
																<td th:text="*{sumPrice}"></td>
																<td th:text="*{orderDate}"></td>
																<td>
																	<input type="hidden" th:value="*{customerNo}">
																	<input type="hidden" th:value="|*{customer.empInfo.empName} *{customer.empInfo.job.jobName}|">
																	<button type="button" class="btn btn-sm btn-dark" name="selectOrderBtn"
																			data-dismiss="modal">선택</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer mb-6">
									<button type="button" class="btn btn-outline-primary" data-dismiss="modal">닫기</button>
								</div>
							</div>
						</div>
					</div>
					<!-- End OrderModal -->

				</div>
			</div>
		</div>
	</div>

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>
	<script>
		$(document).ready(function() {
			$("#orderTable").DataTable({
				"order": [ 0, "desc" ]
			});

			$("#discountRate").TouchSpin({
				min: 0,
				max: 100,
				initval: 0,
				boostat: 5,
				maxboostedstep: 10,
				postfix: '%'
			});
		});

		/* 결재 완료된 주문서 중 선택하여 정보 입력 */
		$("button[name='selectOrderBtn']").on("click", function() {
			const orderNo = $(this).parent().siblings().eq(0).text();

			$.ajax({
				url: "/charge/order/select",
				type: "GET",
				data: {"orderNo": orderNo},
				success: function(data, status, xhr) {
					const order = JSON.parse(data.order);
					const orderProductList = order.orderProductList;

					$("#chargeTitle").val(order.orderTitle);
					$("#orderNo").val(order.orderNo);
					$("#customerNo").val(order.customerNo);
					$("#customerCompany").val(order.customer.company.companyName);
					$("#customerName").val(order.customer.customerName);
					$("#resEmpName").val(order.customer.empInfo.empName + " " + order.customer.empInfo.job.jobName);
					if(order.discountStatus == "Y") {
						$("#noApplyDiscount").attr("checked", false);
						$("#applyDiscount").attr("checked", true);
					} else {
						$("#applyDiscount").attr("checked", false);
						$("#noApplyDiscount").attr("checked", true);
					}
					$("#discountRate").val(order.discountRate);
					$("#chargeTotal").val(order.sumPrice);

					const $orderProduct = $("#orderProductTable tbody");
					$orderProduct.html("");

					for(let index in orderProductList) {
						let orderProduct = orderProductList[index];

						$tr = $("<tr>");
						$noTd = $("<td>").text(Number(index) + 1);
						$productNoTd = $("<td>").text(orderProduct.productNo);
						$productNameTd = $("<td>").text(orderProduct.product.productName);
						$sellingPriceTd = $("<td>").text(orderProduct.product.sellingPrice);
						$discountPriceTd = $("<td>").text(orderProduct.product.discountedPrice);
						$unitTd = $("<td>").text(orderProduct.product.unit);
						$qtyTd = $("<td>").text(orderProduct.productAmount)
								.attr("value", orderProduct.productAmount)
								.attr("name", "productAmount");
						$subtotalTd = $("<td>").text(orderProduct.product.subtotal);
						$taxTd = $("<td>").text(orderProduct.product.tax);
						
						$tr.append($noTd);
						$tr.append($productNoTd);
						$tr.append($productNameTd);
						$tr.append($sellingPriceTd);
						$tr.append($discountPriceTd);
						$tr.append($unitTd);
						$tr.append($qtyTd);
						$tr.append($subtotalTd);
						$tr.append($taxTd);
						
						$orderProduct.append($tr);
					}

					let total = $("#chargeTotal").val();
					$("#chargeTotalKor").text("(" + translateKor(total) + ")");
				},
				error: function(xhr, status, error) {
					console.log(error);
				}
			});
		});

		/* 금액을 한글로 변경하여 출력 */
		function translateKor(number) {
			const digit = new Array("", "일", "이", "삼", "사", "오", "육", "칠", "팔", "구");
			const tenUnit = new Array("", "십", "백", "천");
			const tenThousandUnit = new Array(" ", "만 ", "억 ");
			let unit = 10000;
			let index = 0;
			let division = Math.pow(unit, index);
			let result = "";
			
			while(Math.floor(number / division) > 0) {
				let mod = Math.floor(number % (division * unit) / division);
				mod = mod.toString().padStart(4, "0");

				if(mod) {
					let modToArray = mod.toString().split("");
					let str = "";
					
					for(let i = 0; i < modToArray.length; i++) {
						if(modToArray[i] != 0){
							str += digit[modToArray[i]] + tenUnit[(modToArray.length - 1) - i];
						}
					}
					result = str + tenThousandUnit[index] + result;
				}
				division = Math.pow(unit, ++index);
			}

			return "일금 " + result + "원";
		}

		/* 입력된 주문서 정보를 post 방식으로 전송 */
		$(document).on("click", "#modifyChargeBtn", function() {

			if($("#orderNo").val() == "") {
				alert("선택된 주문서가 없습니다.");
				return false;
			}

			const charge = { "chargeNo" : $("#chargeNo").val(),
							"orderNo" : $("#orderNo").val(),
							"chargeStatus" : $("#chargeStatus option:selected").val(),
							"chargeDate" : $("#chargeDate").val() };

			const chargeNo = $("#chargeNo").val();

			if(confirm("청구서를 수정하시겠습니까?")) {
				$.ajax({
					url: "/charge/modify",
					type: "POST",
					data: JSON.stringify(charge),
					contentType: "application/json; charset=UTF-8",
					success: function(data, status, xhr) {
						alert(data.message);
						location.href="/charge/select?chargeNo=" + chargeNo;
					},
					error: function(xhr, status, error) {
						alert("예기치 못한 에러가 발생하였습니다.");
						console.log(error);
					}
				});
			}
		});
	</script>
</body>

</html>