<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="@{/common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">청구서 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">청구서 조회</li>
						</ol>
					</div>

					<div class="row">
						<!-- Datatables -->
						<div class="col-lg-12">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">청구서 조회</h6>
									<button type="button" class="btn btn-info btn-icon-split" id="insertChargeBtn"
											th:onclick="|location.href='@{/charge/insert}'|">
										<span class="icon text-white"><i class="fas fa-edit"></i></span>
										<span class="text text-white">청구서 등록</span>
									</button>
								</div>
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="chargeTable">
										<thead class="thead-light" th:align="center">
											<tr>
												<th>청구번호</th>
												<th>제목</th>
												<th>고객사</th>
												<th>고객명</th>
												<th>금액(원)</th>
												<th>청구일</th>
												<th>결제방법</th>
												<th>청구상태</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="charge : ${chargeList}" th:object="${charge}" th:align="center">
												<td th:text="*{chargeNo}"></td>
												<td th:text="*{order.orderTitle}"></td>
												<td th:text="*{order.customer.company.companyName}"></td>
												<td th:text="*{order.customer.customerName}"></td>
												<td th:text="*{order.sumPrice}"></td>
												<td th:text="*{chargeDate}"></td>
												<td th:text="*{order.paymentStatus}"></td>
												<td th:switch="*{chargeStatus}">
													<h5>
														<span th:case="미청구" class="badge badge-danger">미청구</span>
														<span th:case="청구" class="badge badge-success">청구</span>
													</h5>
												</td>
												<td>
													<button type="button" class="btn btn-sm btn-dark btn-icon-split" name="chargeDetailBtn"
															th:onclick="|location.href='@{/charge/select(chargeNo=*{chargeNo})}'|">
														<span class="icon text-white-50"><i class="fas fa-clipboard-list"></i></span>
														<span class="text text-white">상세정보</span>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Content -->

			</div>
		</div>
	</div>

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>

	<script>
		$(document).ready(function () {
        	$("#chargeTable").DataTable({
				"order": [ 0, "desc" ]
			});
        });
	</script>
</body>

</html>