<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-spingsecurity5">

<head>
<th:block th:replace="@{common/config} :: config"></th:block>

<style>
input {
	text-align: center;
}
</style>

</head>

<body id="page-top">
	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">재고관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
							<li class="breadcrumb-item">재고관리</li>
							<li class="breadcrumb-item active" aria-current="page">창고재고관리</li>
						</ol>
					</div>

					<!-- Row -->
					<div class="row">

						<!-- DataTable with Hover -->
						<div class="col-lg-1"></div>
						<div class="col-lg-10">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">창고 재고현황</h6>
									<div>
										<a class="btn btn-success btn-icon-split" id="stockOrderBtn">
											<span class="icon text-white">
												<i class="fas fa-arrow-circle-down"></i>
											</span>
											<span class="text text-white">입고요청서작성</span>
										</a> &nbsp&nbsp&nbsp&nbsp
										 <a id="stockOrder" class="btn btn-info btn-icon-split">
											<span class="icon text-white">
												<i class="fas fa-arrow-circle-up"></i>
											</span>
											<span class="text text-white">출고요청서작성</span>
										</a>
									</div>
								</div>
								<div class="table-responsive p-3">
									<table id="dataTableHover"
										class="table align-items-center table-flush table-hover">
										<thead align="center" class="thead-light">
											<tr>
												<th>상품번호</th>
												<th>카테고리</th>
												<th>상품명</th>
												<th>재고수량</th>
												<th>단위</th>
												<th>상태</th>
												<th>창고보관위치</th>
												<th>관리</th>
											</tr>
										</thead>

										<tbody align="center">
											<tr th:each="stock : ${stockList}">
												<td id="productNo" th:value="${stock.productNo}"
													th:text="${stock.productNo}"></td>
												<td id="categoryName" th:text="${stock.product.category.categoryName}"></td>
												<td id="productName" th:text="${stock.product.productName}"></td>
												<td th:text="${stock.productStock}"></td>
												<td th:text="${stock.product.unit}"></td>
												<td th:switch="${stock.product.sellStatus}">
												<h5><span th:case="'판매'" class="badge badge-success"
													  th:text="${stock.product.sellStatus}">
												</span></h5>
												<h5><span th:case="'미판매'" class="badge badge-danger"
													  th:text="${stock.product.sellStatus}">
												</span></h5>
												</td>
												<td	th:text="|${stock.storageSection} - ${stock.storageSpace}|"></td>

												<!-- 관리자 권한이 있는 아이디일경우 재고관리페이지로 이동하는 버튼 -->
												<!-- <th:if sec:authorize-expr ="hasRole('ROLE_ADMIN')"> -->
												<td>
													<button class="btn btn-dark btn-icon-split"
															name="stockManagerBtn" data-toggle="modal"
															data-target="#stockManagerModal"
															th:data-product-no="${stock.productNo}">
														<span class="icon text-white-50">
															<i class="fas fa-clipboard-list"></i>
														</span>
														<span class="text text-white">재고관리</span>
													</button>
												</td>

											</tr>
										</tbody>

									</table>
								</div>
							</div>
						</div>
						<div class="col-lg-1"></div>
					</div>
				</div>

				<!-- End ContainerFluid -->
			</div>
		</div>
	</div>

	<!------------- 입고요청서 Modal --------------->
	<div class="modal fade" id="stockOrderModal" role="dialog">
		<div class="modal-dialog modal-center"
			 style="font-size: 13px; max-height: 100%; height: 300px; max-width: 100%; width: 85%; display: table;">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" style="color: #0da8ee">입고요청서 작성</h4>
					<button type="button" id="modalCloseBtn" class="close" data-dismiss="modal">
						<i class="far fa-times-circle"></i>
					</button>
					<div class="row">
						<div class="form-group col-lg-12">
							<input type="hidden" value="emptyRow">
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">전체상품현황</h6>
								</div>
								<div class="table-responsive p-3" style="overflow-y: scroll; height: 650px;">
									<table id="modalDataTableHover" class="table align-items-center table-flush table-hover">
										<thead align="center" class="thead-light">
											<tr>
												<th>상품번호</th>
												<th>카테고리</th>
												<th>상품명</th>
												<th>재고수량</th>
												<th>단위</th>
												<th></th>
											</tr>
										</thead>
										<tbody align="center">
											<tr th:each="sellableProduct : ${sellableProductList}">
												<td th:text="${sellableProduct.productNo}"></td>
												<td th:text="${sellableProduct.product.category.categoryName}"></td>
												<td th:text="${sellableProduct.product.productName}"></td>
												<td th:text="${sellableProduct.productStock}"></td>
												<td th:text="${sellableProduct.product.unit}"></td>
												<td>
													<a class="btn btn-white btn-icon-split addBtn">
														<span class="icon text-black" style="color: #66bb6a;">
															<i class="fas fa-cart-plus fa-lg"></i>
														</span>
													</a>
												</td>
											</tr>
										</tbody>
										<tfoot align="center">
										</tfoot>
									</table>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<h5 class="m-0 font-weight-bold text-primary" th:align="center">입고요청할 상품</h5>
							<br>
								<div class="table-group" style="text-align: center; height: 210px; overflow-y: scroll;">
									<table id="orderProduct" border="1" style="width: 100%;">
										<thead style="background: lightgray;">
											<tr>
												<th style="width: 40px;">상품번호</th>
												<th style="width: 200px;">상품명</th>
												<th style="width: 60px;">현재창고재고수량</th>
												<th style="width: 20px;">단위</th>
												<th style="width: 60px;">추가요청수량</th>
												<th style="width: 15px;"></th>
											</tr>
										</thead>
										<tbody style="font-size: 18px;">

										</tbody>
									</table>
								</div>
								<div class="row">
									<div class="form-group col-xl-12"></div>
								</div>
								<div class="row">
									<div class="form-group col-xl-12" >
										<label>요청서제목</label>
										<input type="text" id="orderTitle" 
									       name="orderTitle" class="form-control" style="text-align: left;" required>
									</div>
								</div>
								<div class="form-group row mb-12" th:align="right">
									<div class="col-lg-6 col-form-label"></div>
											<label for="customerName" class="col-lg-2 col-form-label">결재 담당자</label>
											<span class="form-control col-lg-3" id="ManagerName">
												<span sec:authentication='principal.managerNo'></span>
												<span sec:authentication='principal.managerName'></span>
											</span>
											<input class="form-control" id="managerNo" name="managerNo" hidden="hidden">
											
										</div>
								<div class="row">
									<div class="form-group col-xl-12">
										<label>요청사유</label>
										<textarea id="orderContent" class="form-control" name="orderContent" style="height: 150px; resize: none;" required></textarea>
									</div>
									<div class="form-group col-xl-4"></div>
									<div class="form-group col-xl-4" th:align="center" style="margin-top: 40px;">
										<button id="receivingProductBtn" onclick="receivingProduct()"
												type="button" class="btn btn-primary">입고요청</button>
									</div>
									<div class="form-group col-xl-4"></div>
								</div>
							</div>
						</div>
					</div>
				<div class="modal-footer"></div>
				<div id="count" value="1"></div>
			</div>
		</div>
	</div>

	<!------------- 재고관리 Modal --------------->
	<div class="modal fade" id="stockManagerModal" role="dialog">
		<div class="modal-dialog modal-xl centered">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" style="color: #0da8ee">상품재고 관리</h4>
					<button type="button" id="stockManagerModalCloseBtn" class="close" data-dismiss="modal">
						<i class="far fa-times-circle"></i>
					</button>
					<div class="row">
						<div class="form-group col-lg-12">
							<input type="hidden" value="emptyRow">
						</div>
					</div>
				</div>

				<div class="modal-body">
					<form id="stockConditionForm"
						th:action="@{/stock/stockCondition/modify}" method="post">
						<div class="row" th:align="center">
							<div class="col-lg-4" style="margin-top: 30px;">
								<div class="card mb-4">
									<div class="card-header flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">상품이미지</h6>
									</div>
									<div align="center" class="card-body" style="width: 90%; height: 300px;">
										<div align="center" class="form-group">
											<img alt="noImage" src="" width=80%; height=80%;>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label>카테고리(중)</label>
									<input type="text" id="stockRefCategoryName" class="form-control"
										   name="stockRefCategoryName" readonly>
								</div>
								<div class="form-group">
									<label>상품번호</label>
									<input type="text" id="stockProductNo"
									       name="stockProductNo" class="form-control" readonly>
								</div>
								<div class="form-group">
									<label>제조사</label>
									<input type="text" id="companyName"
										   name="companyName" class="form-control" readonly>

								</div>
								<div class="form-group">
									<label>판매가</label>
									<input type="text" id="sellingPrice"
										   name="sellingPrice" class="form-control" readonly>
								</div>
								<div class="row form-group">
									<div class="col-xl-5">
										<label>상품위치</label>
										<div class="row ">
											<select id="storageSection" name="storageSection"
													class="ui search dropdown form-control col-xl-6">
												<option id="A" value="A">A</option>
												<option id="B" value="B">B</option>
												<option id="C" value="C">C</option>
												<option id="D" value="D">D</option>
												<option id="E" value="E">E</option>
												<option id="F" value="F">F</option>
												<option id="G" value="G">G</option>
												<option id="H" value="H">H</option>
												<option id="I" value="I">I</option>
												<option id="J" value="J">J</option>
												<option id="K" value="K">K</option>
											</select>
											
											 <select id="storageSpace" name="storageSpace"
													 class="ui search dropdown form-control col-xl-6">
												<option id="01" value="01">01</option>
												<option id="02" value="02">02</option>
												<option id="03" value="03">03</option>
												<option id="04" value="04">04</option>
												<option id="05" value="05">05</option>
												<option id="06" value="06">06</option>
												<option id="07" value="07">07</option>
												<option id="08" value="08">08</option>
												<option id="09" value="09">09</option>
											</select>
										</div>
									</div>
									<div class="col-xl-4">
										<label>재고수량</label>
										<input type="text" class="form-control"
											id="productStock" name="productStock" disabled>
									</div>
									<div class="col-xl-3">
										<label>단위</label>
										<input type="text" class="form-control"
											id="unit" name="unit" disabled>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label>카테고리(소)</label>
									<input type="text" class="form-control"
										id="stockCategoryName" name="stockCategoryName" readonly>
								</div>
								<div class="form-group">
									<label>상품명</label>
									<input type="text" class="form-control"
										id="stockProductName" name="stockProductName" disabled>
								</div>
								<div class="form-group">
									<label>거래처</label>
									<input type="text" class="form-control"
										id="manufacturerName" name="manufacturerName" disabled>
								</div>
								<div class="form-group">
									<label>판매상태</label>
									<div class="form-control" style="border: 0;">
									<h4><span id="sellStatus"></span></h4>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-xl-3"></div>
									<div class="form-group col-xl-6" th:align="center">
										<label>추가 or 삭제할 수량</label>
										<input type="number" class="form-control"
											   id="orderStockAmount" name="orderStockAmount" min="-${ '#prodcutStock' }.val()" required>
									</div>
									<div class="form-group col-xl-3"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-xl-4"></div>
							<div class="form-group col-xl-4"></div>
							<div class="form-group col-xl-4">
								<br>
								<button id="modifyStockBtn" onclick="check()" class="btn btn-primary btn-block"
										type="button">재고상태변경</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer"></div>
		<div id="count" value="1"></div>
	</div>

	<!-- Script -->
<th:block th:replace="@{/common/script} :: script"></th:block>

	<!-- Page level custom scripts -->
<script>

	const message = '[[${ message }]]';

		if(message) {
			alert(message);
		}
	
	$(document).ready(function() {
		$('#dataTableHover').DataTable(); 								// 창고 재고 현황 테이블
		$('#modalDataTableHover').DataTable(); 							// [Modal]입고요청서작성시 입고요청할 판매가능상태의 상품목록
		$('#table_activity').DataTable(); 								// ID From dataTable with Hover
		$('#stockManagerModal').on('show.bs.modal', function(event) {   //영업활동 모달창이 보여질때 동작

			const productNo = $(event.relatedTarget).data('product-no');

			 	$.ajax({
					url : "/stock/productInfo/selectOne",
					type : "GET",
					data : { productNo : productNo },
					success : function(data, status, xhr) {

						const productInfo = JSON.parse(data.productStockInfo);
						
						console.table(productInfo);
						
						let minOrderStockAmount = (-1 * productInfo.productStock);
						
						$('#stockRefCategoryName').val(productInfo.stockRefCategoryName);
						$('#stockProductNo').val(productInfo.stockProductNo);
						$('#companyName').val(productInfo.companyName);
						$('#sellingPrice').val(productInfo.sellingPrice);
						$('#productStock').val(productInfo.productStock);
						$('#unit').val(productInfo.unit);
						$('#stockCategoryName').val(productInfo.stockCategoryName);
						$('#stockProductName').val(productInfo.stockProductName);
						$('#manufacturerName').val(productInfo.manufacturerName);
						$('#sellStatus').text(productInfo.sellStatus);
						$('#sellStatus').removeClass();		//클래스 제거
						switch(productInfo.sellStatus) {
							case "판매" : $('#sellStatus').addClass("badge badge-success"); break;
							case "미판매" : $('#sellStatus').addClass("badge badge-danger"); break;
						}
						$('#storageSection').val(productInfo.storageSection).attr("selected", "selected");
						$('#storageSpace').val(productInfo.storageSpace).attr("selected", "selected");
						$('#orderStockAmount').attr('min', minOrderStockAmount);
					},
					error : function(xhr, status, error) {
						console.log(error);
					}
				}); 

			});

		});

		$('#stockOrderBtn').click(function() { 		//입고요청서작성 버튼
		
			$('#stockOrderModal').modal();
		
		});

		
		/* 입고요청서 작성 왼쪽 테이블에서 오른쪽 입고요청할 목록으로 추가 버튼 클릭시 동작 */
		$('.addBtn').click(function() {
			var str = ""
			var tdArr = new Array(); 			// 배열 선언
			var addBtn = $(this);
							
			var tr = addBtn.parent().parent();	// addBtn.parent().parent() : <td>의 부모이므로 <tr>이다.
			var td = tr.children();				

			var productNo = td.eq(0).text();
			var categoryName = td.eq(1).text();
			var productName = td.eq(2).text();
			var productStock = td.eq(3).text();
			var unit = td.eq(4).text();
				
			/* 중복된 상품을 우측 요청목록에 담은 경우 */
			if(!productNoCheck(productNo))
				return alert("중복된 상품은 담을 수 없습니다.")

				$('#orderProduct > tbody:last').append(
							'<tr><td id="productNo" class="productTest" name="productNo">'	+ productNo	+ '</td>'
							+ '<td name="productName">' + productName + '</td>'
							+ '<td id="productStock" name="productStock">' + productStock + '</td>'
							+ '<td name="unit">' + unit	+ '</td>'
							+ '<td name="requestOrderStock">'
							+ '<input type="number" style="width: 60px;" value=0 min=0>'
							+ '</td>'
							+ '<td>'
							+ '<a class="btn btn-white btn-icon-split removeBtn">'
							+ '<i class="fas fa-trash-alt"></i>'
							+ '</a>'
							+ '</td>'
							+ '</tr>');
		});

		// 입고요청할 상품 테이블 제거 버튼 클릭시 동작
		$(document).on('click', '.removeBtn', function() {
			$(this).parent().parent().remove();
		});

		// 모달창 닫기 X버튼 클릭시 동작 
		$(document).on('click', '#modalCloseBtn', function() {
			$('#orderProduct > tbody').empty();
			$('#orderTitle').val().empty();
			$('#orderContent').val().empty();
			
		});
		
		/* 입고요청 버튼 눌렀을경우 동작 */
		function receivingProduct() {
			const trLength = $('#orderProduct > tbody > tr').length;
			let request = [];
			
			for(let i = 0; i < trLength; i++) {
				const orderContent = $('#orderContent').val();
				const orderCount = $('#orderProduct').find('tbody').find('input').eq(i).val();
				const existProductNo = $('#orderProduct').find('tbody').find('#productNo').eq(i).text();
				const orderTitle = $('#orderTitle').val();
				
				if(orderCount <= 0)
					return alert("요청 수량을 확인해주세요.")
				
					
				const data = {stockProductNo: existProductNo, productStock: orderCount, orderContent: orderContent, orderTitle: orderTitle};	
				request.push(data);
			}
			
			console.log(request)
			
			if(confirm("입고요청을 하시겠습니까?")) {
			
		 	$.ajax({
				url : "/stock/receivingProduct/insert",
				type : "POST",
				data : JSON.stringify(request),
				contentType:"application/json;charset=UTF-8",
				success : function(data, status, xhr) {
					if(data) {
						alert("입고요청이 완료되었습니다.")
						location.reload();
					} else {
						alert("오류가 발생하였습니다.")
						location.reload();
					}
				},
				error : function(xhr, status, error) {
					console.log(error);
					alert("입고요청 실패!")
				}
			}); 
		} else {
			return false
		}
	}
		
		function productNoCheck(productNo) {
			const trLength = $('#orderProduct > tbody > tr').length;
			
			for(let i = 0; i < trLength; i++) {
				const existProductNo = $('#orderProduct').find('tbody').find('#productNo').eq(i).text()
				
				if(existProductNo == productNo)
					return false
			}
			
			return true
		}
		
		
		/* 재고관리버튼 눌렀을경우 이전값 현재값 비교 */
		function check() {
			
			const productNo = $('#stockProductNo').val();
			
			let valueStatus = true;
			
			$.ajax({
				url : "/stock/productInfo/selectOne",
				type : "GET",
				data : { productNo : productNo },
				success : function(data, status, xhr) {

					const productInfo = JSON.parse(data.productStockInfo);
					
					const beforeSection = productInfo.storageSection;
					const beforeSpace = productInfo.storageSpace;
					const beforeStock = parseInt(productInfo.productStock);
					
					const afterSection = $('#storageSection').val();
					const afterSpace = $('#storageSpace').val();		//const는 final같은 개념이라 값 변경이 안된다.
					const afterStock = parseInt($('#orderStockAmount').val());
					
					console.log("요청재고량 : " + afterStock);
					
					const checkStock =  beforeStock + afterStock; 
					console.log("창고재고량 + 요청 재고량 : " + checkStock);
					
					if(beforeSection == afterSection &&	beforeSpace == afterSpace &&
						$('#orderStockAmount').val() == 0) {
						
						alert("변경할 내용이 없습니다."); 
						
						valueStatus = false;
						
					} else if(checkStock < 0) {
						
						alert("요청재고수량이 창고재고수량보다 많습니다.");
						
						valueStatus = false;
						
					} else if(confirm("재고상태를 변경하시겠습니까?")) {
						
						$('#stockConditionForm').submit();
					}
					
				},
				error : function(xhr, status, error) {
					console.log(error);
				}
			}); 
			
			return valueStatus;

		}
	</script>

</body>
</html>

