<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">재고관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
							<li class="breadcrumb-item">재고관리</li>
							<li class="breadcrumb-item active" aria-current="page">창고재고관리</li>
						</ol>
					</div>

					<!-- Row -->
					<div class="row">

						<!-- DataTable with Hover -->
						<div class="col-lg-1"></div>
						<div class="col-lg-10">
							<div class="card mb-4">
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">창고 재고현황</h6>
									<div>
										<a class="btn btn-success btn-icon-split" id="stockOrder">
											<span class="icon text-white"> <i
												class="fas fa-arrow-circle-down"></i>
										</span> <span class="text text-white">입고요청서작성</span>
										</a> &nbsp&nbsp&nbsp&nbsp <a class="btn btn-info btn-icon-split"
											id="stockOrder"> <span class="icon text-white"> <i
												class="fas fa-arrow-circle-up"></i>
										</span> <span class="text text-white">출고요청서작성</span>
										</a>
									</div>
								</div>
								<div class="table-responsive p-3">
									<table id="dataTableHover"
										class="table align-items-center table-flush table-hover">
										<thead align="center" class="thead-light">
											<tr>
												<th>상품번호</th>
												<th>카테고리</th>
												<th>상품명</th>
												<th>재고수량</th>
												<th>단위</th>
												<th>상태</th>
												<th>창고보관위치</th>
												<th>관리</th>
											</tr>
										</thead>

										<tbody align="center">
											<tr th:each="stock : ${stockList}">
												<td th:text="${stock.productNo}"></td>
												<td th:text="${stock.categoryName}"></td>
												<td th:text="${stock.productName}"></td>
												<td th:text="${stock.productStock}"></td>
												<td th:text="${stock.unit}"></td>
												<td th:switch="${stock.sellStatus}"><span
													th:case="'판매'" class="badge badge-success"
													th:text="${stock.sellStatus}"></span> <span th:case="'미판매'"
													class="badge badge-danger" th:text="${stock.sellStatus}"></span>
												</td>
												<td
													th:text="${stock.storageSection} + '-' + ${stock.storageSpace}"></td>

												<!-- 관리자 권한 아이디일경우 재고관리페이지로 이동하는 버튼 -->
												<!-- <th:if sec:authorize-expr ="hasRole('ROLE_ADMIN')"> -->
												<td><a class="btn btn-dark btn-icon-split"
													th:href="@{/product/productList(productNo=${ stock.productNo })}">
														<span class="icon text-white-50"> <i
															class="fas fa-clipboard-list"></i>
													</span> <span class="text text-white">재고관리</span>
												</a></td>
												<!-- </th:if> -->

												<!-- 관지자 권한이 없는 아이디인경우 상품정보 페이지로 이동 버튼 -->
												<!-- 	<th:if sec:authorize-expr ="!hasRole('ROLE_ADMIN')">
												<td><a class="btn btn-dark btn-icon-split" 
													th:onclick="location.href=''">
													<span class="icon text-white-50">
														<i class="fas fa-clipboard-list"></i>
													</span>
													<span class="text text-white">상세정보</span>
													</a>
												</td>
												</th:if> -->

											</tr>
										</tbody>

										<tfoot align="center">
										</tfoot>

									</table>
								</div>
							</div>
						</div>
						<div class="col-lg-1"></div>
					</div>
				</div>

				<!-- End ContainerFluid -->
			</div>
		</div>
	</div>

	<!------------- 입고요청서 Modal --------------->
	<div class="modal fade" id="stockOrderModal" role="dialog">
		<div class="modal-dialog modal-center"
			style="font-size: 13px; max-height: 100%; height: 300px; max-width: 100%; width: 85%; display: table;">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" style="color: #0da8ee">입고요청서 작성</h4>
					<button type="button" id="modalCloseBtn" class="close" data-dismiss="modal">
						<i class="far fa-times-circle"></i>
					</button>
					<div class="row">
						<div class="form-group col-lg-12">
							<input type="hidden" value="emptyRow">
						</div>
					</div>
				</div>
				<div class="modal-body">
						<div class="row">
							<div class="col-lg-6">
								<div class="card mb-4">
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">전체상품현황</h6>
									</div>
									<div class="table-responsive p-3"
										style="overflow-y: scroll; height: 500px;">
										<table id="modalDataTableHover"
											class="table align-items-center table-flush table-hover">
											<thead align="center" class="thead-light">
												<tr>
													<th>상품번호</th>
													<th>카테고리</th>
													<th>상품명</th>
													<th>재고수량</th>
													<th>단위</th>
													<th></th>
												</tr>
											</thead>
											<tbody align="center">
												<tr th:each="sellAbleProduct : ${sellAbleProductList}">
													<td th:text="${sellAbleProduct.productNo}"></td>
													<td th:text="${sellAbleProduct.categoryName}"></td>
													<td th:text="${sellAbleProduct.productName}"></td>
													<td th:text="${sellAbleProduct.productStock}"></td>
													<td th:text="${sellAbleProduct.unit}"></td>
													<td><a class="btn btn-white btn-icon-split addBtn">
														<!-- th:value="${ sellAbleProduct.productNo }"> -->
														 <span class="icon text-black" style="color: #66bb6a;">
															 <i class="fas fa-cart-plus fa-lg"></i>
														</span> 
														</a>
													</td>
												</tr>
											</tbody>
											<tfoot align="center">
											</tfoot>
										</table>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
							<h5 class="m-0 font-weight-bold text-primary" th:align="center">입고요청할 상품</h5>
							<br>
							<form action="/stock/productStockOrder/insert" method="post">
								<div class="table-group" style="text-align: center; height: 210px;
									overflow-y: scroll;">
									<table id="orderProduct" border="1" style="width: 100%;">
										<thead style="background: lightgray;">
											<tr>
												<th style="width: 40px;">상품번호</th>
												<th style="width: 200px;">상품명</th>
												<th style="width: 60px;">현재창고재고수량</th>
												<th style="width: 20px;">단위</th>
												<th style="width: 60px;">추가요청수량</th>
												<th style="width: 15px;"></th>
											</tr>
										</thead>
										<tbody style="font-size: 18px;">
											
										</tbody>
									</table>
								</div>
								<div class="row">
									<div class="form-group col-xl-12"></div>
								</div>
								<div class="row">
									<div class="form-group col-xl-12" >
									<label>요청사유</label>
										 <textarea id="orderContent" class="form-control"
											name="orderContent" style="height: 150px; resize: none;" ></textarea>
									</div>
									<div class="form-group col-xl-4"></div>
									<div class="form-group col-xl-4" th:align="center" style="margin-top: 40px;">
									<button type="button" id="modifyDetailInfo" class="btn btn-primary">입고요청</button>
									</div>
									<div class="form-group col-xl-4"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer"></div>
				<div id="count" value="1"></div>
			</div>
		</div>
	</div>


	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>

	<!-- Page level custom scripts -->
	<script>
    $(document).ready(function () {
      $('#dataTableHover').DataTable(); // 창고 재고 현황 테이블
      $('#modalDataTableHover').DataTable(); // [Modal]입고요청서작성시 입고요청할 판매가능상태의 상품목록
    });
  
        $(document).ready(function () {
            $('#table_activity').DataTable(); // ID From dataTable with Hover
        });

        $('#stockOrder').click(function () { //입고요청서작성 버튼
           $('#stockOrderModal').modal();
        });

    /*    $('#btnBack').click(function () { // 뒤로가기 X 버튼
           window.history.back();
        });  */

       /*  $('#addBtn').click(function() {
            $.ajax({
               url: "stock/order/insert",
               type: "GET",
               data: { activityNo : $("#addBtn").val() },
                success: function (data, status, xhr) {

                   const activity = JSON.parse(data.activityOne);

                   console.log(activity);
                },
                error: function (xhr, status, error) {
                   console.log(error);
                }
            });
            $('#activityModal').modal();
        }); */
        
        
        $('.addBtn').click(function() {
        	var str = ""
    		var tdArr = new Array();	// 배열 선언
    		var addBtn = $(this);
    			
    		// addBtn.parent() : checkBtn의 부모는 <td>이다.
    		// addBtn.parent().parent() : <td>의 부모이므로 <tr>이다.
    		var tr = addBtn.parent().parent();
    		var td = tr.children();
    			
    		var productNo = td.eq(0).text();
    		var categoryName = td.eq(1).text();
    		var productName = td.eq(2).text();
    		var productStock = td.eq(3).text();
    		var unit = td.eq(4).text();
    		
    		$('#orderProduct > tbody:last').append('<tr><td>' + productNo + '</td>'
    										+ '<td>' + productName + '</td>'
    										+ '<td>' + productStock + '</td>'
    										+ '<td>' + unit + '</td>'
    										+ '<td>' + '<input type="number" style="width: 60px;">' + '</td>'
    										+ '<td>' + '<a class="btn btn-white btn-icon-split removeBtn">' + '<i class="fas fa-trash-alt"></i>' + '</a>' + '</td>'
    										+ '</tr>');
        });
        
        // 입고요청할 상품 테이블 제거 버튼 클릭시 동작
        $(document).on('click', '.removeBtn', function() {
        	$(this).parent().parent().remove();
        });
        
        // 모달창 닫기 X버튼 클릭시 동작 
        $(document).on('click', '#modalCloseBtn', function() {
        	$('#orderProduct > tbody').empty();
        	
        });
    </script>

</body>
</html>


