<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.admin.adminemployee.model.dao.AdminEmployeeMapper">
<resultMap type="com.deft.crud.admin.adminemployee.model.dto.AdminEmployeeDTO" id="adminEmployeeResultMap">
		<id property="employeeNo" column="EMP_NO"/>
		<result property="employeeName" column="EMP_NAME"/>
		<result property="employeeId" column="EMP_ID"/>
		<result property="employeePwd" column="EMP_PWD"/>
		<result property="email" column="EMP_EMAIL"/>
		<result property="gender" column="EMP_GENDER"/>
		<result property="employeeBirth" column="EMP_BIRTH"/>
		<result property="entYn" column="ENT_YN"/>
		<result property="authority" column="AUTHORITY"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="empAddress" column="EMP_ADDRESS"/>
		<result property="empPhone" column="EMP_PHONE"/>
		<result property="empTel" column="EMP_TEL"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="managerNo" column="MANAGER_NO"/>
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>
		
		<association property="dept" resultMap="departmentResultMap"/>
		<association property="job" resultMap="jobResultMap"/> 
	</resultMap>
	
	<resultMap type="com.deft.crud.admin.adminemployee.model.dto.DepartmentDTO" id="departmentResultMap">
		<id property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="deptFax" column="DEPT_FAX"/>
		<result property="deptTel" column="DEPT_TEL"/>
		<result property="deptStatus" column="DEPT_STATUS"/>
	</resultMap>
	
	
	<resultMap type="com.deft.crud.admin.adminemployee.model.dto.JobDTO" id="jobResultMap">
		<id property="jobCode" column="JOB_CODE"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="jobStatus" column="JOB_STATUS"/>
	</resultMap>
	
	<select id="empDetail" parameterType="_int" resultType="com.deft.crud.admin.adminemployee.model.dto.AdminEmployeeDTO" resultMap="adminEmployeeResultMap">
		SELECT	/* com.deft.crud.admin.adminemployee.controller.AdminEmployeeController */
		       A.EMP_NO
		     , A.EMP_NAME
		     , A.EMP_ID  
		     , A.EMP_EMAIL  
		     , A.EMP_GENDER
		     , A.EMP_BIRTH
		     , A.ENT_YN
		     , A.AUTHORITY
		     , A.HIRE_DATE  
		     , A.ENT_DATE
		     , A.EMP_ADDRESS  
		     , A.EMP_PHONE  
		     , A.EMP_TEL
		     , J.JOB_NAME 
		     , D.DEPT_NAME
		     , B.EMP_NAME "MANAGER_NAME"
		  FROM TBL_EMP_INFO A
          JOIN TBL_EMP_INFO B ON ( A.MANAGER_NO = B.EMP_NO )
          JOIN TBL_JOB J ON (A.JOB_CODE = J.JOB_CODE)
          JOIN TBL_DEPARTMENT D ON (A.DEPT_CODE = D.DEPT_CODE)
          JOIN TBL_EMP_INFO B ON ( A.MANAGER_NO = B.EMP_NO )	
         WHERE A.EMP_NO = #{ employeeNo }
	</select>
	
	<select id="empInfoModify" parameterType="_int" resultType="com.deft.crud.admin.adminemployee.model.dto.AdminEmployeeDTO" resultMap="adminEmployeeResultMap">
		SELECT	/* com.deft.crud.admin.adminemployee.controller.AdminEmployeeController */
		       A.EMP_NO
		     , A.EMP_NAME
		     , A.EMP_ID  
		     , A.EMP_EMAIL  
		     , A.EMP_GENDER
		     , A.EMP_BIRTH
		     , A.ENT_YN
		     , A.AUTHORITY
		     , A.HIRE_DATE  
		     , A.ENT_DATE
		     , A.EMP_ADDRESS  
		     , A.EMP_PHONE  
		     , A.EMP_TEL
		     , J.JOB_NAME 
		     , D.DEPT_NAME
		     , B.EMP_NAME "MANAGER_NAME"
		  FROM TBL_EMP_INFO A
          JOIN TBL_EMP_INFO B ON ( A.MANAGER_NO = B.EMP_NO )
          JOIN TBL_JOB J ON (A.JOB_CODE = J.JOB_CODE)
          JOIN TBL_DEPARTMENT D ON (A.DEPT_CODE = D.DEPT_CODE)
          JOIN TBL_EMP_INFO B ON ( A.MANAGER_NO = B.EMP_NO )	
         WHERE A.EMP_NO = #{ employeeNo }
	</select>
	<update id="employeeModify" parameterType="com.deft.crud.admin.adminemployee.model.dto.AdminEmployeeDTO">
		UPDATE /* com.deft.crud.admin.adminemployee.model.dto.AdminEmployeeDTO */
			   TBL_EMP_INFO E
	       SET E.EMP_EMAIL = #{ email, jdbcType=VARCHAR }
	         , E.AUTHORITY = #{ authority, jdbcType=VARCHAR }
	         , E.EMP_ADDRESS = #{ empAddress, jdbcType=VARCHAR }
	         , E.EMP_PHONE = #{ empPhone, jdbcType=VARCHAR }
	         , E.EMP_TEL = #{ empTel, jdbcType=VARCHAR }
			 , E.ENT_YN = #{ entYn, jdbcType=VARCHAR}
			 , E.ENT_DATE = #{ entDate, jdbcType=DATE }
			 , E.JOB_NAME = #{ jobName, jdbcType=VARCHAR }
			 , E.DEPT_NAME = #{ deptName, jdbcType=VARCHAR }
			 , E.MANAGER_NAME = #{ managerName, jdbcType=VARCHAR }
		 WHERE E.EMP_NO = #{ employeeNo }	 
	</update>
	
	<select id="jobNameList" parameterType="_int" resultType="com.deft.crud.admin.adminemployee.model.dto.JobDTO">
		SELECT /* com.deft.crud.admin.adminemployee.model.dto.JobDTO */
		       J.JOB_CODE
	         , J.JOB_NAME
	      FROM TBL_JOB J
	</select>
	
	<select id="deptNameList" parameterType="_int" resultType="com.deft.crud.admin.adminemployee.model.dto.DepartmentDTO">
		SELECT /* com.deft.crud.admin.adminemployee.model.dto.DepartmentDTO */
	           D.DEPT_CODE
	         , D.DEPT_NAME
	      FROM TBL_DEPARTMENT D	         
	</select>
	
</mapper>