<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.customer.model.dao.CustomerMapper">

    <resultMap id="extCustomerDetailResultMap" type="com.deft.crud.customer.model.dto.ExtCustomerDetailDTO">
        <id property="customerNo" column="CUSTOMER_NO"/>
        <result property="customerStatus" column="CUSTOMER_STATUS"/>
        <result property="customizationDate" column="CUSTOMIZATION_DATE"/>
    </resultMap>

    <resultMap id="customerResultMap" type="com.deft.crud.customer.model.dto.CustomerDTO">
        <id property="customerNo" column="CUSTOMER_NO"/>
        <result property="customerCompanyNo" column="CUSTOMER_COMPANY_NO"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="customerName" column="CUSTOMER_NAME"/>
        <result property="customerEmail" column="CUSTOMER_EMAIL"/>
        <result property="customerAddress" column="CUSTOMER_ADDRESS"/>
        <result property="customerPhone" column="CUSTOMER_PHONE"/>
        <result property="customerFax" column="CUSTOMER_FAX"/>

        <association property="extCustomerDetail" resultMap="extCustomerDetailResultMap"/>
        <association property="anaCustomerDetail" resultMap="anaCustomerDetailResultMap"/>
        <association property="empInfo" resultMap="empInfoResultMap"/>

        <collection property="customerProductList" resultMap="customerProductResultMap"/>
    </resultMap>
    
    <resultMap id="extCustomerResultMap" type="com.deft.crud.customer.model.dto.ExtCustomerDTO">
    	<id property="customerNo" column="CUSTOMER_NO"/>
        <result property="customerCompanyNo" column="CUSTOMER_COMPANY_NO"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="customerName" column="CUSTOMER_NAME"/>
        <result property="customerEmail" column="CUSTOMER_EMAIL"/>
        <result property="customerAddress" column="CUSTOMER_ADDRESS"/>
        <result property="customerPhone" column="CUSTOMER_PHONE"/>
        <result property="customerFax" column="CUSTOMER_FAX"/>
        
        <association property="company" resultMap="customerCompanyResultMap"/>
        <association property="extCustomerDetail" resultMap="extCustomerDetailResultMap"/>
        <association property="anaCustomerDetail" resultMap="anaCustomerDetailResultMap"/>
        <association property="empInfo" resultMap="empInfoResultMap"/>
    </resultMap>

    <resultMap id="anaCustomerDetailResultMap" type="com.deft.crud.customer.model.dto.AnaCustomerDetailDTO">
        <id property="customerNo" column="CUSTOMER_NO"/>
        <result property="customerStatus" column="CUSTOMER_STATUS"/>
        <result property="customizationLevel" column="CUSTOMIZATION_LEVEL"/>
        <result property="customizationPosibillity" column="CUSTOMIZATION_POSIBILLITY"/>
    </resultMap>

    <resultMap id="empInfoResultMap" type="com.deft.crud.customer.model.dto.EmpInfoDTO">
        <id property="empNo" column="EMP_NO"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="empId" column="EMP_ID"/>
        <result property="empPwd" column="EMP_PWD"/>
        <result property="empEmail" column="EMP_EMAIL"/>
        <result property="empGender" column="EMP_GENDER"/>
        <result property="empBirth" column="EMP_BIRTH"/>
        <result property="empAddress" column="EMP_ADDRESS"/>
        <result property="empPhone" column="EMP_PHONE"/>
        <result property="empTel" column="EMP_TEL"/>
        <result property="hireDate" column="HIRE_DATE"/>
        <result property="entDate" column="ENT_DATE"/>
        <result property="entYn" column="ENT_YN"/>
        <result property="authority" column="AUTHORITY"/>
        <result property="jobCode" column="JOB_CODE"/>
        <result property="deptCode" column="DEPT_CODE"/>
        <result property="managerNo" column="MANAGER_NO"/>

        <association property="dept" resultMap="departmentResultMap"/>
        <association property="job" resultMap="jobResultMap"/>
    </resultMap>
    
    <resultMap id="customerCompanyResultMap" type="com.deft.crud.customer.model.dto.CustomerCompanyDTO">
        <id property="customerCompanyNo" column="CUSTOMER_COMPANY_NO"/>
        <result property="companyRegistNo" column="COMPANY_REGIST_NO"/>
        <result property="businessStatus" column="BUSINESS_STATUS"/>
        <result property="businessType" column="BUSINESS_TYPE"/>
        <result property="numberOfEmployees" column="NUMBER_OF_EMPLOYEES"/>
        <result property="companyRevenue" column="COMPANY_REVENUE"/>
        <result property="homepage" column="HOMEPAGE"/>
        <result property="companyAddress" column="COMPANY_ADDRESS"/>
        <result property="companyName" column="COMPANY_NAME"/>
        <result property="ceoName" column="CEO_NAME"/>

        <collection property="customerList" resultMap="customerResultMap"/>
    </resultMap>

    <resultMap id="customerProductResultMap" type="com.deft.crud.customer.model.dto.CustomerProductDTO">
        <id property="customerNo" column="CUSTOMER_NO"/>
        <result property="productNo" column="PRODUCT_NO"/>

        <association property="product" resultMap="productResultMap"/>
    </resultMap>

    <resultMap id="productResultMap" type="com.deft.crud.customer.model.dto.ProductDTO">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="sellStatus" column="SELL_STATUS"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="purchasePrice" column="PURCHASE_PRICE"/>
        <result property="sellingPrice" column="SELLING_PRICE"/>
        <result property="unit" column="UNIT"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="accountNo" column="ACCOUNT_NO"/>
        <result property="manufacturerNo" column="MANUFACTURER_NO"/>
    </resultMap>

    <resultMap id="businessActivityResultMap" type="com.deft.crud.customer.model.dto.BusinessActivityDTO">
        <id property="activityNo" column="ACTIVITY_NO"/>
        <result property="businessSubject" column="BUSINESS_SUBJECT"/>
        <result property="businessType" column="BUSINESS_TYPE"/>
        <result property="businessLocation" column="BUSINESS_LOCATION"/>
        <result property="businessPurpose" column="BUSINESS_PURPOSE"/>
        <result property="businessContents" column="BUSINESS_CONTENTS"/>
        <result property="writingDate" column="WRITING_TIME"/>
        <result property="activityStartTime" column="ACTIVITY_START_TIME"/>
        <result property="activityEndTime" column="ACTIVITY_END_TIME"/>
        <result property="customerNo" column="CUSTOMER_NO"/>
        <result property="empNo" column="EMP_NO"/>

        <association property="empInfo" resultMap="empInfoResultMap"/>
    </resultMap>

    <resultMap id="jobResultMap" type="com.deft.crud.customer.model.dto.JobDTO">
        <id property="jobCode" column="JOB_CODE"/>
        <result property="jobName" column="JOB_NAME"/>
        <result property="jobStatus" column="JOB_STATUS"/>
    </resultMap>

    <resultMap id="departmentResultMap" type="com.deft.crud.customer.model.dto.DepartmentDTO">
        <id property="deptCode" column="DEPT_CODE"/>
        <result property="deptName" column="DEPT_NAME"/>
        <result property="deptFax" column="DEPT_FAX"/>
        <result property="deptTel" column="DEPT_TEL"/>
        <result property="deptStatus" column="DEPT_STATUS"/>
    </resultMap>

    <!-- 영업 활동 등록 -->
    <insert id="insertActivity" parameterType="com.deft.crud.customer.model.dto.BusinessActivityDTO">
        INSERT /* com.deft.crud.customer.model.dao.CustomerMapper#insertActivity() */
          INTO TBL_BUSINESS_ACTIVITY
        (
          ACTIVITY_NO, CUSTOMER_NO, BUSINESS_SUBJECT
        , BUSINESS_TYPE, BUSINESS_LOCATION, BUSINESS_PURPOSE
        , BUSINESS_CONTENTS, WRITING_TIME, ACTIVITY_START_TIME
        , ACTIVITY_END_TIME, EMP_NO
        )
        VALUES
        (
          SEQ_ACTIVITY_NO.NEXTVAL, #{ customerNo }, #{ businessSubject }
        , #{ businessType }, #{ businessLocation }, #{ businessPurpose }
        , #{ businessContents }, SYSDATE, TO_DATE(REPLACE(#{ activityStartTime },'T',' '), 'YYYY-MM-DD HH24:MI:SS')
        , TO_DATE(REPLACE(#{ activityEndTime },'T',' '), 'YYYY-MM-DD HH24:MI:SS'), #{ empNo }
        )
    </insert>

    <!-- 고객 기본 정보 수정 -->
    <update id="modifyBasicInfo" parameterType="com.deft.crud.customer.model.dto.ModifyBasicInfoDTO">
        UPDATE /* com.deft.crud.customer.model.dao.CustomerMapper#modifyBasicInfo() */
               TBL_CUSTOMER C
           SET C.CUSTOMER_NAME = #{ customerName }
             , C.CUSTOMER_EMAIL = #{ customerEmail }
             , C.CUSTOMER_PHONE = #{ customerPhone }
             , C.CUSTOMER_FAX = #{ customerFax }
         WHERE C.CUSTOMER_NO = #{ customerNo }
    </update>

    <!-- 기존 고객 상세 정보 수정 -->
    <update id="modifyDetailInfoToCustomer" parameterType="com.deft.crud.customer.model.dto.ModifyDetailInfoForExtDTO">
        UPDATE /* com.deft.crud.customer.model.dao.CustomerMapper#modifyDetailInfoToCustomer() */
               TBL_CUSTOMER C
           SET C.CUSTOMER_NAME = #{ customerName }
             , C.CUSTOMER_EMAIL = #{ customerEmail }
             , C.CUSTOMER_PHONE = #{ customerPhone }
             , C.CUSTOMER_FAX = #{ customerFax }
             , C.CUSTOMER_ADDRESS = #{ customerAddress }
         WHERE C.CUSTOMER_NO = #{ customerNo }
    </update>
    <update id="modifyDetailInfoToCompany" parameterType="com.deft.crud.customer.model.dto.ModifyDetailInfoForExtDTO">
        UPDATE /* com.deft.crud.customer.model.dao.CustomerMapper#modifyDetailInfoToCompany() */
               TBL_CUSTOMER_COMPANY CP
           SET CP.COMPANY_REGIST_NO = #{ companyRegistNo }
             , CP.BUSINESS_STATUS = #{ businessStatus }
             , CP.BUSINESS_TYPE = #{ businessType }
             , CP.NUMBER_OF_EMPLOYEES = #{ numberOfEmployees }
             , CP.COMPANY_REVENUE = #{ companyRevenue }
             , CP.HOMEPAGE = #{ homepage }
         WHERE CP.CUSTOMER_COMPANY_NO = #{ customerCompanyNo }
    </update>

    <!-- 기존, 해지 고객 상태 변경 -->
    <update id="modifyExtCustomerStatus" parameterType="_int">
        UPDATE /* com.deft.crud.customer.model.dao.CustomerMapper#modifyExtCustomerStatus() */
               TBL_EXT_CUSTOMER_DETAIL E
           SET E.CUSTOMER_STATUS = CASE
                                   WHEN (E.CUSTOMER_STATUS = '기존고객') THEN '해지고객'
                                   ELSE '기존고객'
                                   END
         WHERE E.CUSTOMER_NO = #{ customerNo }
    </update>

    <!-- 분석 고객 상태 변경 -->
    <update id="modifyAnaCustomerStatus" parameterType="com.deft.crud.customer.model.dto.AnaCustomerDetailDTO">
        UPDATE /* com.deft.crud.customer.model.dao.CustomerMapper#modifyAnaCustomerStatus() */
               TBL_ANA_CUSTOMER_DETAIL A
           SET A.CUSTOMER_STATUS = #{ customerStatus }
         WHERE A.CUSTOMER_NO = #{ customerNo }
    </update>

    <!-- 분석 고객 고객화 수정 -->
    <update id="modifyAnaCustomization" parameterType="com.deft.crud.customer.model.dto.AnaCustomerDetailDTO">
        UPDATE /* com.deft.crud.customer.model.dao.CustomerMapper#modifyAnaCustomization */
               TBL_ANA_CUSTOMER_DETAIL A
           SET A.CUSTOMIZATION_LEVEL = #{ customizationLevel }
             , A.CUSTOMIZATION_POSIBILLITY = #{ customizationPosibillity }
         WHERE A.CUSTOMER_NO = #{ customerNo }
    </update>

    <!-- 담당 사원 변경 -->
    <update id="modifyManager" parameterType="com.deft.crud.customer.model.dto.CustomerDTO">
        UPDATE /* com.deft.crud.customer.model.dao.CustomerMapper#modifyManager() */
               TBL_CUSTOMER
           SET EMP_NO = #{ empNo }
         WHERE CUSTOMER_NO = #{ customerNo }
    </update>

    <!-- 영업 활동 수정 -->
    <update id="modifyActivity" parameterType="com.deft.crud.customer.model.dto.BusinessActivityDTO">
        UPDATE /* com.deft.crud.customer.model.dao.CustomerMapper#modifyActivity() */
               TBL_BUSINESS_ACTIVITY
           SET BUSINESS_SUBJECT = #{ businessSubject }
             , BUSINESS_TYPE = #{ businessType }
             , BUSINESS_LOCATION = #{ businessLocation }
             , BUSINESS_PURPOSE = #{ businessPurpose }
             , BUSINESS_CONTENTS = #{ businessContents }
             , WRITING_TIME = SYSDATE
             , ACTIVITY_START_TIME = #{ activityStartTime }
             , ACTIVITY_END_TIME = #{ activityEndTime }
         WHERE ACTIVITY_NO = #{ activityNo }
    </update>

    <!-- 전체 고객 조회 -->
    <select id="selectAllCustomer" resultMap="customerCompanyResultMap">
        SELECT /* com.deft.crud.customer.model.dao.CustomerMapper#selectAllCustomer() */
               C.CUSTOMER_NAME
             , CP.COMPANY_NAME
             , E.EMP_NAME
             , EX.CUSTOMER_STATUS
             , CP.BUSINESS_STATUS
             , EX.CUSTOMIZATION_DATE
             , C.CUSTOMER_NO
          FROM TBL_CUSTOMER C
          LEFT JOIN TBL_CUSTOMER_COMPANY CP ON (C.CUSTOMER_COMPANY_NO = CP.CUSTOMER_COMPANY_NO)
          LEFT JOIN TBL_EMP_INFO E ON (C.EMP_NO = E.EMP_NO)
          LEFT JOIN TBL_EXT_CUSTOMER_DETAIL EX ON (C.CUSTOMER_NO = EX.CUSTOMER_NO)
         WHERE EX.CUSTOMER_STATUS IS NOT NULL
    </select>
    
	<!-- 기존 고객 조회(해지 고객 제외) -->
	<select id="selectExtCustomerList" resultMap="extCustomerResultMap">
        SELECT /* com.deft.crud.customer.model.dao.CustomerMapper#selectCustomerList() */
               C.CUSTOMER_NO
             , C.CUSTOMER_NAME
             , CP.COMPANY_NAME
             , CP.BUSINESS_STATUS
             , E.EMP_NAME
             , EX.CUSTOMER_STATUS
          FROM TBL_CUSTOMER C
          LEFT JOIN TBL_CUSTOMER_COMPANY CP ON (C.CUSTOMER_COMPANY_NO = CP.CUSTOMER_COMPANY_NO)
          LEFT JOIN TBL_EMP_INFO E ON (C.EMP_NO = E.EMP_NO)
          JOIN TBL_EXT_CUSTOMER_DETAIL EX ON (C.CUSTOMER_NO = EX.CUSTOMER_NO)
         WHERE EX.CUSTOMER_STATUS = '기존고객'
	</select>

    <!-- 분석 고객 조회 -->
    <select id="selectAllAnalysisCustomer" resultMap="customerCompanyResultMap">
        SELECT /* com.deft.crud.customer.model.dao.CustomerMapper#selectAllAnalysisCustomer() */
               C.CUSTOMER_NAME
             , C.CUSTOMER_NO
             , CP.COMPANY_NAME
             , E.EMP_NAME
             , AN.CUSTOMER_STATUS
             , CP.BUSINESS_STATUS
             , LISTAGG(P.PRODUCT_NAME, ', ') WITHIN GROUP (ORDER BY P.PRODUCT_NO) AS PRODUCT_NAME
          FROM TBL_CUSTOMER C
          LEFT JOIN TBL_CUSTOMER_COMPANY CP ON (C.CUSTOMER_COMPANY_NO = CP.CUSTOMER_COMPANY_NO)
          LEFT JOIN TBL_EMP_INFO E ON (C.EMP_NO = E.EMP_NO)
          LEFT JOIN TBL_ANA_CUSTOMER_DETAIL AN ON (C.CUSTOMER_NO = AN.CUSTOMER_NO)
          LEFT JOIN TBL_CUSTOMER_PRODUCT CD ON (AN.CUSTOMER_NO = CD.CUSTOMER_NO)
          LEFT JOIN TBL_PRODUCT P ON (P.PRODUCT_NO = CD.PRODUCT_NO)
         WHERE CD.CUSTOMER_NO IS NOT NULL GROUP BY C.CUSTOMER_NAME, CP.COMPANY_NAME
             , E.EMP_NAME, AN.CUSTOMER_STATUS, CP.BUSINESS_STATUS, C.CUSTOMER_NO
    </select>

    <!-- 기존 고객 정보 조회 -->
    <select id="selectCustomerInfo" resultMap="customerCompanyResultMap" parameterType="_int">
        SELECT /* com.deft.crud.customer.model.dao.CustomerMapper#selectCustomerInfo() */
               C.CUSTOMER_NAME
             , C.CUSTOMER_ADDRESS
             , C.CUSTOMER_NO
             , CP.COMPANY_NAME
             , E.EMP_NAME
             , E.EMP_NO
             , C.CUSTOMER_EMAIL
             , CP.BUSINESS_STATUS
             , EX.CUSTOMER_STATUS
             , C.CUSTOMER_PHONE
             , CP.NUMBER_OF_EMPLOYEES
             , NVL(C.CUSTOMER_FAX, ' ') AS CUSTOMER_FAX
             , CP.COMPANY_REVENUE
             , CP.BUSINESS_TYPE
             , CP.CUSTOMER_COMPANY_NO
             , CP.HOMEPAGE
             , CP.COMPANY_ADDRESS
             , CP.COMPANY_REGIST_NO
             , EX.CUSTOMIZATION_DATE
          FROM TBL_CUSTOMER C
          LEFT JOIN TBL_CUSTOMER_COMPANY CP ON (C.CUSTOMER_COMPANY_NO = CP.CUSTOMER_COMPANY_NO)
          LEFT JOIN TBL_EMP_INFO E ON (C.EMP_NO = E.EMP_NO)
          LEFT JOIN TBL_EXT_CUSTOMER_DETAIL EX ON (C.CUSTOMER_NO = EX.CUSTOMER_NO)
         WHERE C.CUSTOMER_NO = #{ customerNo, jdbcType=INTEGER }
    </select>

    <!-- 분석 고객 기본정보 조회 -->
    <select id="selectAnalysisCustomerInfo" resultMap="customerCompanyResultMap" parameterType="_int">
        SELECT /* com.deft.crud.customer.model.dao.CustomerMapper#selectAnalysisCustomerInfo() */
               C.CUSTOMER_NAME
             , C.CUSTOMER_ADDRESS
             , C.CUSTOMER_NO
             , CP.COMPANY_NAME
             , CP.CUSTOMER_COMPANY_NO
             , C.CUSTOMER_EMAIL
             , CP.BUSINESS_STATUS
             , C.CUSTOMER_PHONE
             , NVL(C.CUSTOMER_FAX, ' ') AS CUSTOMER_FAX
             , AN.CUSTOMIZATION_LEVEL
             , AN.CUSTOMIZATION_POSIBILLITY
             , CP.BUSINESS_TYPE
             , CP.COMPANY_REGIST_NO
             , CP.NUMBER_OF_EMPLOYEES
             , CP.COMPANY_REVENUE
             , CP.HOMEPAGE
             , CP.COMPANY_ADDRESS
             , LISTAGG(P.PRODUCT_NAME, ', ') WITHIN GROUP (ORDER BY P.PRODUCT_NO) AS PRODUCT_NAME
             , E.EMP_NAME
             , E.EMP_NO
             , AN.CUSTOMER_STATUS
          FROM TBL_CUSTOMER C
          LEFT JOIN TBL_CUSTOMER_COMPANY CP ON (C.CUSTOMER_COMPANY_NO = CP.CUSTOMER_COMPANY_NO)
          LEFT JOIN TBL_EMP_INFO E ON (C.EMP_NO = E.EMP_NO)
          LEFT JOIN TBL_ANA_CUSTOMER_DETAIL AN ON (C.CUSTOMER_NO = AN.CUSTOMER_NO)
          LEFT JOIN TBL_CUSTOMER_PRODUCT CD ON (AN.CUSTOMER_NO = CD.CUSTOMER_NO)
          LEFT JOIN TBL_PRODUCT P ON (P.PRODUCT_NO = CD.PRODUCT_NO)
         WHERE C.CUSTOMER_NO = #{ customerNo }
         GROUP BY C.CUSTOMER_NAME, C.CUSTOMER_NO, CP.COMPANY_NAME, C.CUSTOMER_EMAIL, CP.BUSINESS_STATUS
             , C.CUSTOMER_PHONE, NVL(C.CUSTOMER_FAX, ' '), AN.CUSTOMIZATION_LEVEL, AN.CUSTOMIZATION_POSIBILLITY, CP.BUSINESS_TYPE
             , CP.COMPANY_REGIST_NO, CP.NUMBER_OF_EMPLOYEES, CP.COMPANY_REVENUE, CP.HOMEPAGE, CP.COMPANY_ADDRESS
             , E.EMP_NAME, AN.CUSTOMER_STATUS, C.CUSTOMER_ADDRESS, CP.CUSTOMER_COMPANY_NO, E.EMP_NO
    </select>

    <!-- 영업 활동 조회 -->
    <select id="selectBusinessActivity" resultMap="businessActivityResultMap" parameterType="_int">
        SELECT /* com.deft.crud.customer.model.dao.CustomerMapper#selectBusinessActivity() */
               BA.ACTIVITY_NO
             , BA.CUSTOMER_NO
             , BA.BUSINESS_SUBJECT
             , BA.BUSINESS_TYPE
             , NVL(BA.BUSINESS_LOCATION, ' ') AS BUSINESS_LOCATION
             , BA.BUSINESS_PURPOSE
             , NVL(BA.BUSINESS_CONTENTS, ' ') AS BUSINESS_CONTENTS
             , BA.WRITING_TIME
             , BA.ACTIVITY_START_TIME
             , BA.ACTIVITY_END_TIME
             , E.EMP_NAME
          FROM TBL_BUSINESS_ACTIVITY BA
          LEFT JOIN TBL_EMP_INFO E ON (BA.EMP_NO = E.EMP_NO)
         WHERE BA.CUSTOMER_NO = #{ customerNo }
    </select>
    <select id="selectBusinessActivityByActivityNo"
            resultMap="businessActivityResultMap">
        SELECT /* com.deft.crud.customer.model.dao.CustomerMapper#selectBusinessActivity() */
               BA.ACTIVITY_NO
             , BA.CUSTOMER_NO
             , BA.BUSINESS_SUBJECT
             , BA.BUSINESS_TYPE
             , NVL(BA.BUSINESS_LOCATION, ' ') AS BUSINESS_LOCATION
             , BA.BUSINESS_PURPOSE
             , NVL(BA.BUSINESS_CONTENTS, ' ') AS BUSINESS_CONTENTS
             , BA.WRITING_TIME
             , BA.ACTIVITY_START_TIME
             , BA.ACTIVITY_END_TIME
             , E.EMP_NAME
          FROM TBL_BUSINESS_ACTIVITY BA
          LEFT JOIN TBL_EMP_INFO E ON (BA.EMP_NO = E.EMP_NO)
         WHERE BA.ACTIVITY_NO = #{ activityNo }
    </select>

    <!-- 담당사원명 조회 -->
    <select id="selectEmpName" resultType="com.deft.crud.customer.model.dto.EmpInfoDTO">
        SELECT /* com.deft.crud.customer.model.dao.CustomerMapper#selectEmpName() */
               EMP_NO
             , EMP_NAME
          FROM TBL_EMP_INFO
         WHERE EMP_NAME LIKE '%'||#{ term }||'%'
    </select>

    <!-- 사원 정보 조회 -->
    <select id="selectEmpInfo" resultMap="empInfoResultMap">
        SELECT /* com.deft.crud.customer.model.dao.CustomerMapper#selectEmpInfo() */
               E.EMP_NO
             , E.EMP_NAME
             , J.JOB_NAME
             , D.DEPT_NAME
          FROM TBL_EMP_INFO E
          LEFT JOIN TBL_JOB J ON (E.JOB_CODE = J.JOB_CODE)
          LEFT JOIN TBL_DEPARTMENT D ON (E.DEPT_CODE = D.DEPT_CODE)
    </select>
</mapper>