<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.employee.model.dao.EmployeeMapper">
	<resultMap type="com.deft.crud.employee.model.dto.EmployeeDTO" id="employeeResultMap">
		<id property="employeeNo" column="EMP_NO"/>
		<result property="employeeName" column="EMP_NAME"/>
		<result property="employeeId" column="EMP_ID"/>
		<result property="employeePwd" column="EMP_PWD"/>
		<result property="email" column="EMP_EMAIL"/>
		<result property="gender" column="EMP_GENDER"/>
		<result property="employeeBirth" column="EMP_BIRTH"/>
		<result property="hireYn" column="HIRE_YN"/>
		<result property="authority" column="AUTHORITY"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="address" column="EMP_ADDRESS"/>
		<result property="phone" column="EMP_PHONE"/>
		<result property="tel" column="EMP_TEL"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="managerNo" column="MANAGER_NO"/>
	</resultMap>
	
	<select id="selectEmployee" resultMap="employeeResultMap">
		SELECT
			   E.EMP_NO
			 , E.EMP_NAME
             , D.DEPT_NAME
             , J.JOB_NAME
			 , E.EMP_GENDER
	    	 , E.EMP_PHONE
             FROM TBL_EMP_INFO E
             JOIN TBL_JOB J ON (E.JOB_CODE = J.JOB_CODE)
             JOIN TBL_DEPARTMENT D ON (E.DEPT_CODE = D.DEPT_CODE)
	</select>

	<update id="modifyPwd" parameterType="com.deft.crud.employee.model.dto.EmployeeDTO">
		UPDATE /* com.deft.crud.employee.model.dao.EmployeeMapper#modifyPwd() */
		       TBL_EMP_INFO A
		   SET A.EMP_PWD = #{ employeePwd }  
		 WHERE A.EMP_ID = #{ employeeId }
	</update>
	



</mapper>