<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.estimate.model.dao.EstimateMapper">
	<resultMap type="com.deft.crud.estimate.model.dto.EstimateDTO" id="estimateSelectResultMap">
		<id property="estimateNo" column="ESTIMATE_NO"/>
		<result property="estimateTitle" column="ESTIMATE_TITLE"/>
		<result property="estimateDate" column="ESTIMATE_DATE"/>
		<result property="customerNo" column="CUSTOMER_NO"/>
		<result property="discountRate" column="DISCOUNT_RATE"/>
		<result property="estimateStatus" column="ESTIMATE_STATUS"/>
		<result property="providerRegistNo" column="PROVIDER_REGIST_NO"/>
		
		<association property="customer" resultMap="customerResultMap"/>
		<association property="provider" resultMap="providerResultMap"/>
	</resultMap>
		
	<resultMap type="com.deft.crud.customer.model.dto.CustomerDTO" id="customerResultMap">
		<id property="customerNo" column="CUSTOMER_NO"/>
        <result property="customerCompanyNo" column="CUSTOMER_COMPANY_NO"/>
        <result property="empNo" column="EMP_NO"/>
        <result property="customerName" column="CUSTOMER_NAME"/>
        <result property="customerEmail" column="CUSTOMER_EMAIL"/>
        <result property="customerAddress" column="CUSTOMER_ADDRESS"/>
        <result property="customerPhone" column="CUSTOMER_PHONE"/>
        <result property="customerFax" column="CUSTOMER_FAX"/>
		
		<association property="empInfo" resultMap="empInfoResultMap"/>
	</resultMap>

	<resultMap type="com.deft.crud.customer.model.dto.EmpInfoDTO" id="empInfoResultMap">
		<id property="empNo" column="EMP_NO"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="empId" column="EMP_ID"/>
        <result property="empPwd" column="EMP_PWD"/>
        <result property="empEmail" column="EMP_EMAIL"/>
        <result property="empGender" column="EMP_GENDER"/>
        <result property="empBirth" column="EMP_BIRTH"/>
        <result property="empAddress" column="EMP_ADDRESS"/>
        <result property="empPhone" column="EMP_PHONE"/>
        <result property="empTel" column="EMP_TEL"/>
        <result property="hireDate" column="HIRE_DATE"/>
        <result property="entDate" column="ENT_DATE"/>
        <result property="entYn" column="ENT_YN"/>
        <result property="authority" column="AUTHORITY"/>
        <result property="jobCode" column="JOB_CODE"/>
        <result property="deptCode" column="DEPT_CODE"/>
        <result property="managerNo" column="MANAGER_NO"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.estimate.model.dto.ProviderDTO" id="providerResultMap">
		<id property="providerRegistNo" column="PROVIDER_REGIST_NO"/>
		<result property="providerName" column="PROVIDER_NAME"/>
		<result property="providerCeo" column="PROVIDER_CEO"/>
		<result property="providerAddress" column="PROVIDER_ADDRESS"/>
		<result property="providerBusinessStatus" column="PROVIDER_BUSINESS_STATUS"/>
		<result property="providerBusinessType" column="PROVIDER_BUSINESS_TYPE"/>
	</resultMap>
	
	<select id="selectEstimateList" resultMap="estimateSelectResultMap">
        SELECT /* com.deft.crud.estimate.model.dao.EstimateMapper#selectEstimateList() */
               E.ESTIMATE_NO
             , C.CUSTOMER_NAME
             , E.ESTIMATE_TITLE
             , E.ESTIMATE_STATUS
             , EI.EMP_NAME
             , E.ESTIMATE_DATE
          FROM TBL_ESTIMATE E
          LEFT JOIN TBL_CUSTOMER C ON (E.CUSTOMER_NO = C.CUSTOMER_NO)
          LEFT JOIN TBL_EMP_INFO EI ON (C.EMP_NO = EI.EMP_NO)
         ORDER BY E.ESTIMATE_NO DESC
	</select>
	
	<select id="selectEstimateListByStatus" resultMap="estimateSelectResultMap">
        SELECT /* com.deft.crud.estimate.model.dao.EstimateMapper#selectEstimateListByStatus() */
               E.ESTIMATE_NO
             , C.CUSTOMER_NAME
             , E.ESTIMATE_TITLE
             , E.ESTIMATE_STATUS
             , EI.EMP_NAME
             , E.ESTIMATE_DATE
          FROM TBL_ESTIMATE E
          LEFT JOIN TBL_CUSTOMER C ON (E.CUSTOMER_NO = C.CUSTOMER_NO)
          LEFT JOIN TBL_EMP_INFO EI ON (C.EMP_NO = EI.EMP_NO)
		<choose>
			<when test="estimateStatus == 'progress'">
                WHERE E.ESTIMATE_STATUS = '진행중'
         	</when>
         	<when test="estimateStatus == 'success'">
                WHERE E.ESTIMATE_STATUS = '완료'
         	</when>
         	<when test="estimateStatus == 'postpone'">
                WHERE E.ESTIMATE_STATUS = '보류'
         	</when>
         	<when test="estimateStatus == 'failed'">
                WHERE E.ESTIMATE_STATUS = '실패'
         	</when>
         </choose>
         ORDER BY E.ESTIMATE_NO DESC
	</select>
	
	<select id="selectLastEstimateSeq" resultType="java.lang.String">
        SELECT /* com.deft.crud.estimate.model.dao.EstimateMapper#selectLastEstimateSeq() */
               LPAD(LAST_NUMBER, 3, 0)
          FROM USER_SEQUENCES
         WHERE SEQUENCE_NAME = 'SEQ_ESTIMATE_NO'
	</select>
</mapper>