<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.member.model.dao.MemberMapper">

	<resultMap type="com.deft.crud.member.model.dto.MemberDTO" id="loginMemberResultMap">
		<id property="empNo" column="EMP_NO"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="empId" column="EMP_ID"/>
		<result property="empPwd" column="EMP_PWD"/>
		<result property="empEmail" column="EMP_EMAIL"/>
		<result property="empGender" column="EMP_GENDER"/>
		<result property="empBirth" column="EMP_BIRTH"/>
		<result property="empAddress" column="EMP_ADDRESS"/>
		<result property="empPhone" column="EMP_PHONE"/>
		<result property="empTel" column="EMP_TEL"/>
		<result property="hireDate" column="HIRE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="entYn" column="ENT_YN"/>
		<result property="authority" column="AUTHORITY"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="managerNo" column="MANAGER_NO"/>
	</resultMap>
	
	<select id="findMemberById" resultMap="loginMemberResultMap">
        SELECT
               A.*
          FROM TBL_EMP_INFO A
         WHERE A.EMP_ID = #{ id }
	</select>
</mapper>