<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.organization.model.dao.OrganizationMapper">
	<resultMap type="com.deft.crud.organization.model.dto.DepartmentDTO" id="departmentResultMap">
	<id property="deptCode" column="DEPT_CODE"/>
	<result property="deptName" column="DEPT_NAME"/>
	<result property="deptFax" column="DEPT_FAX"/>
	<result property="deptTel" column="DEPT_TEL"/>
	<result property="deptStatus" column="DEPT_STATUS"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.organization.model.dto.JobDTO" id="jobResultMap">
	<id property="jobCode" column="JOB_CODE"/>
	<result property="jobName" column="JOB_NAME"/>
	<result property="jobStatus" column="JOB_STATUS"/>
	</resultMap>
	
	<select id="selectDepartment" resultMap="departmentResultMap">
		SELECT
               D.DEPT_CODE
             , D.DEPT_NAME
             , D.DEPT_STATUS
		  FROM TBL_DEPARTMENT D
	</select>
	
	<select id="selectJob" resultMap="jobResultMap">
		SELECT
               J.JOB_CODE
             , J.JOB_NAME
             , J.JOB_STATUS
          FROM TBL_JOB J
	</select>

	<insert id="departmentInsert" parameterType="com.deft.crud.organization.model.dto.DepartmentDTO">
		INSERT
		  INTO TBL_DEPARTMENT D
		     (
		       D.DEPT_CODE
		     , D.DEPT_NAME  
		     , D.DEPT_FAX
		     , D.DEPT_TEL
		     , D.DEPT_STATUS
		     )
		VALUES
		     (
		        ('D' || TO_CHAR(SEQ_DEPT_CODE.NEXTVAL))
		     , #{ deptName }  
		     , #{ deptFax }
		     , #{ deptTel }
		     , #{ deptStatus }
		     )
	</insert>
	
	<insert id="jobInsert" parameterType="com.deft.crud.organization.model.dto.JobDTO">
		INSERT
		  INTO TBL_JOB J
		     (
		       J.JOB_CODE
		     , J.JOB_NAME
		     , J.JOB_STATUS
		     )
		VALUES    
	         (
	          ('J' || TO_CHAR(SEQ_JOB_CODE.NEXTVAL))
	         , #{ jobName }
	         , #{ jobStatus }
	         )
	</insert>
	
	<update id="departmentModify" parameterType="com.deft.crud.organization.model.dto.DepartmentDTO">
		UPDATE 
		       TBL_DEPARTMENT D
	       SET D.DEPT_NAME = #{ deptName }
	         , D.DEPT_FAX = #{ deptFax }
	         , D.DEPT_TEL = #{ deptTel}
	         , D.DEPT_STATUS = #{ deptStatus }
	     WHRER D.DEPT_CODE = #{ deptCode }   
	</update>

	<update id="jobModify" parameterType="com.deft.crud.organization.model.dto.JobDTO">
		UPDATE 
		       TBL_JOB J
	       SET J.JOB_NAME = #{ jobName }
	         , J.JOB_STATUS = #{ jobStatus }
	     WHRER J.JOB_CODE = #{ jobCode }   
	</update>
	
	<update id="departmentDisabled" parameterType="com.deft.crud.organization.model.dto.DepartmentDTO">
		UPDATE 
		       TBL_DEPARTMENT D
	       SET D.DEPT_STATUS = #{ deptStatus }
	      WHRER D.DEPT_CODE = #{ deptCode }   
	</update>
	
	<update id="jobDisabled" parameterType="com.deft.crud.organization.model.dto.JobDTO">
		UPDATE 
		       TBL_JOB J
	       SET J.JOB_STATUS = #{ jobStatus }
	     WHRER J.JOB_CODE = #{ jobCode }   
	</update>
</mapper>