<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.product.model.dao.ProductMapper">
	<resultMap type="com.deft.crud.product.model.dto.ProductDTO" id="productResultMap">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="sellStatus" column="SELL_STATUS"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="purchasePrice" column="PURCHASE_PRICE"/>
		<result property="sellingPrice" column="SELLING_PRICE"/>
		<result property="unit" column="UNIT"/>
		<result property="categoryCode" column="CATEGORY_CODE"/>
		<result property="accountNo" column="ACCOUNT_NO"/>
		<result property="manufacturerNo" column="MANUFACTURER_NO"/>

		<association property="category" resultMap="productCategoryResultMap"/>		
		
		<association property="manufacturer" resultMap="manufacturerResultMap"/>

		<association property="account" resultMap="accountResultMap"/>
		
	</resultMap>
	
	<resultMap type="com.deft.crud.product.model.dto.ProductCategoryDTO" id="productCategoryResultMap">
		<id property="categoryCode" column="CATEGORY_CODE"/>
		<result property="refCategoryName" column="REF_CATEGORY_NAME"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
		<result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
		<result property="categoryStatus" column="CATEGORY_STATUS"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.product.model.dto.ManufacturerDTO" id="manufacturerResultMap">
		<id property="manufacturerNo" column="MANUFACTURER_NO"/>
		<result property="manufacturerName" column="MANUFACTURER_NAME"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.product.model.dto.AccountDTO" id="accountResultMap">
		<id property="accountNo" column="ACCOUNT_NO"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="accountCeo" column="ACCOUNT_CEO"/>
		<result property="accountAddress" column="ACCOUNT_ADDRESS"/>
		<result property="accountStatus" column="ACCOUNT_STATUS"/>
		<result property="accountBusinessItem" column="ACCOUNT_BUSINESS_ITEM"/>
		<result property="resName" column="RES_NAME"/>
		<result property="resPhone" column="RES_PHONE"/>
		<result property="resEmail" column="RES_EMAIL"/>
		
	</resultMap>
	
	<select id="allProductList" resultMap="productResultMap">
	   SELECT /*com.deft.crud.product.model.dao.ProductMapper#allProductList()*/
	          P.PRODUCT_NO
     		, P.PRODUCT_NAME
     		, P.SELL_STATUS
     		, B.CATEGORY_NAME "REF_CATEGORY_NAME"
     		, A.REF_CATEGORY_CODE            
     		, A.CATEGORY_NAME
          FROM TBL_PRODUCT P
	      LEFT JOIN TBL_PRODUCT_CATEGORY A ON(P.CATEGORY_CODE = A.CATEGORY_CODE)
	      LEFT JOIN TBL_PRODUCT_CATEGORY B ON(A.REF_CATEGORY_CODE = B.CATEGORY_CODE)
	</select>
	
	<select id="allCategoryList" resultMap="productCategoryResultMap">
		SELECT /*com.deft.crud.product.model.dao.ProductMapper#allCategoryList()*/
			   A.CATEGORY_CODE
			 , A.CATEGORY_NAME
			 , A.REF_CATEGORY_CODE
			 , A.CATEGORY_STATUS
			 , B.CATEGORY_NAME "REF_CATEGORY_NAME"
		  FROM TBL_PRODUCT_CATEGORY A
	      LEFT JOIN TBL_PRODUCT_CATEGORY B ON (A.REF_CATEGORY_CODE = B.CATEGORY_CODE)		
	      		
	</select>
	
	<select id="refCategoryList" resultMap="productCategoryResultMap">
		 SELECT /*com.deft.crud.product.model.dao.ProductMapper#refCategoryList()*/
       	        A.CATEGORY_CODE "REF_CATEGORY_CODE"
     	   	  , A.CATEGORY_NAME "REF_CATEGORY_NAME"
     	   	  , A.CATEGORY_STATUS
  	       FROM TBL_PRODUCT_CATEGORY A
 		  WHERE REF_CATEGORY_CODE IS NULL
	
	</select>
	
	<select id="categoryList" resultMap="productCategoryResultMap">
		SELECT /*com.deft.crud.product.model.dao.ProductMapper#categoryList()*/
        	   A.CATEGORY_CODE 
             , A.CATEGORY_NAME
             , A.REF_CATEGORY_CODE
             , A.CATEGORY_STATUS
          FROM TBL_PRODUCT_CATEGORY A
         WHERE A.REF_CATEGORY_CODE IS NOT NULL
	</select>
	
	<select id="manufacturerList" resultMap="manufacturerResultMap">
		SELECT /*com.deft.crud.product.model.dao.ProductMapper#manufacturerList()*/
			   A.MANUFACTURER_NO
			 , A.MANUFACTURER_NAME
		  FROM TBL_MANUFACTURER A
	</select>
	
	
	<select id="productDetail" resultMap="productResultMap">
		 SELECT /*com.deft.crud.product.model.dao.ProductMapper#productDetail()*/
                P.PRODUCT_NO
	   		  , P.PRODUCT_NAME
	   		  , T.MANUFACTURER_NAME
	   		  , P.SELL_STATUS
	   	      , P.SELLING_PRICE
	   	      , P.PURCHASE_PRICE
	   	      , CA.REF_CATEGORY_CODE
	   	      , CB.CATEGORY_NAME "REF_CATEGORY_NAME"
	   	      , CA.CATEGORY_NAME
	   	      , A.COMPANY_NAME
          FROM TBL_PRODUCT P
	      LEFT JOIN TBL_PRODUCT_CATEGORY CA ON(P.CATEGORY_CODE = CA.CATEGORY_CODE)
	      LEFT JOIN TBL_PRODUCT_CATEGORY CB ON(CA.REF_CATEGORY_CODE = CB.CATEGORY_CODE)
	      JOIN TBL_ACCOUNT A ON(P.ACCOUNT_NO = A.ACCOUNT_NO)
	      JOIN TBL_MANUFACTURER T ON(P.MANUFACTURER_NO = T.MANUFACTURER_NO)
	      WHERE P.PRODUCT_NO = #{ productNo }
	</select>
	
	<select id="selectSmallCategoryList" resultMap="productCategoryResultMap">
		SELECT /*com.deft.crud.product.model.dao.ProductMapper#selectSmallCategoryList()*/
			   PC.CATEGORY_CODE
			 , PC.CATEGORY_NAME
			 , PC.REF_CATEGORY_CODE
		  FROM TBL_PRODUCT_CATEGORY PC
		 WHERE REF_CATEGORY_CODE = #{ refCategoryCode }
			   
	</select>
	
	<select id="accountList" resultMap="accountResultMap">
		SELECT /*com.deft.crud.product.model.dao.ProductMapper#accountList()*/
			   A.ACCOUNT_NO
			 , A.COMPANY_NAME
		  FROM TBL_ACCOUNT A
	
	</select>
	
	<update id="modifyProduct" parameterType="com.deft.crud.product.model.dto.ProductDTO">
		UPDATE /*com.deft.crud.product.model.dao.ProductMapper#modifyProduct()*/
			   TBL_PRODUCT A
		   SET A.SELL_STATUS = #{ sellStatus }
		     , A.PRODUCT_NAME = #{ productName }
		     , A.PURCHASE_PRICE = #{ purchasePrice }
		     , A.SELLING_PRICE = #{ sellingPrice }
		     , A.CATEGORY_CODE = #{ categoryCode }
		     , A.ACCOUNT_NO = #{ accountNo } 
		     , A.MANUFACTURER_NO = #{ manufacturerNo }
		 WHERE A.PRODUCT_NO = #{ productNo } 
	</update>
	
	<insert id="insertRefCategory" parameterType="com.deft.crud.product.model.dto.ProductCategoryDTO">
		INSERT /*com.deft.crud.product.model.dao.ProductMapper#insertRefCategory()*/
		  INTO TBL_PRODUCT_CATEGORY T
		(
		  T.CATEGORY_CODE, T.CATEGORY_NAME, T.REF_CATEGORY_CODE, T.CATEGORY_STATUS
		)
		VALUES
		(
		  SEQ_CATEGORY_CODE.NEXTVAL, #{ refCategoryName }, NULL, #{ categoryStatus }
		)
	</insert>
	
	<insert id="insertCategory" parameterType="com.deft.crud.product.model.dto.ProductCategoryDTO">
		INSERT /*com.deft.crud.product.model.dao.ProductMapper#insertCategory()*/
		  INTO TBL_PRODUCT_CATEGORY T
		(
		  T.CATEGORY_CODE, T.CATEGORY_NAME, T.REF_CATEGORY_CODE, T.CATEGORY_STATUS
		)
		VALUES
		(
		  SEQ_CATEGORY_CODE.NEXTVAL, #{ categoryName }, #{ refCategoryCode }, #{ categoryStatus }
		)
	
	</insert>
	
	<update id="updateRefCategory" parameterType="com.deft.crud.product.model.dto.ProductCategoryDTO">
		UPDATE /*com.deft.crud.product.model.dao.ProductMapper#updateRefCategory()*/
			   TBL_PRODUCT_CATEGORY P
		   SET P.CATEGORY_NAME = #{ refCategoryName }
		     , P.CATEGORY_STATUS = #{ categoryStatus }
		 WHERE P.CATEGORY_CODE = #{ refCategoryCode } 
	</update>
	
	<insert id="insertProduct" parameterType="com.deft.crud.product.model.dto.InsertProductDTO">
		INSERT /*com.deft.crud.product.model.dao.ProductMapper#insertProduct()*/
		  INTO TBL_PRODUCT P
		 (
	     	P.PRODUCT_NO, P.SELL_STATUS, P.PRODUCT_NAME, P.PURCHASE_PRICE
	     ,  P.SELLING_PRICE, P.UNIT, P.CATEGORY_CODE, P.ACCOUNT_NO, P.MANUFACTURER_NO
		 )
		 VALUES
		 (
		   SEQ_PRODUCT_NO.NEXTVAL, #{ sellStatus }, #{ productName }, #{ purchasePrice }, 
		   #{ sellingPrice }, #{ unit }, #{ categoryCode }, #{ accountNo }, #{ manufacturerNo }
		 )
	</insert>
	
	
	
<!-- 	<select id="selectRefCategoryForUpdate" resultMap="productCategoryResultMap"> -->
<!-- 		SELECT /*com.deft.crud.product.model.dao.ProductMapper#selectRefCategoryForUpdate()*/ -->
<!--        		   C.CATEGORY_CODE "REF_CATEGORY_CODE" -->
<!-- 		     , C.CATEGORY_NAME "REF_CATEGORY_NAME" -->
<!-- 		     , C.CATEGORY_STATUS -->
<!-- 		  FROM TBL_PRODUCT_CATEGORY C -->
<!-- 		 WHERE C.REF_CATEGORY_CODE IS NULL -->
<!-- 		   AND C.CATEGORY_CODE = #{ refCategoryCode } -->
<!-- 	</select> -->
</mapper>