<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.sales.model.dao.SalesMapper">
	
	<resultMap type="com.deft.crud.sales.model.dto.TargetPerfomDTO" id="targetPerformResultMap">
		<id property="targetNo" column="TARGET_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="targetSales" column="TARGET_SALES"/>
		<result property="targetContract" column="TARGET_CONTRACT"/>
		<result property="performYear" column="PERFORM_YEAR"/>
		<result property="performMonth" column="PERFORM_MONTH"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.sales.model.dto.PerformanceDTO" id="performResultMap">
		<id property="performanceNo" column="PERFORMANCE_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="performanceCount" column="PERFORMANCE_COUNT"/>
		
		<association property="collect" resultMap="collectBillResultMap"/>
		<association property="charge" resultMap="chargeResultMap"/>
		<association property="purchaseOrder" resultMap="purchaserOrderResultMap"/>
		<association property="employeeInfo" resultMap="employeeResultMap"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.sales.model.dto.CollectBillDTO" id="collectBillResultMap">
		<id property="collectBillNo" column="COLLECT_BILL_NO"/>
		<result property="chargeNo" column="CHARGE_NO"/>
		<result property="collectBillAmount" column="COLLECT_BILL_AMOUNT"/>
		<result property="collectBillStatus" column="COLLECT_BILL_STATUS"/>
		<result property="collectBillDate" column="COLLECT_BILL_DATE"/>
		<result property="collectBillYear" column="COLLECT_BILL_YEAR"/>
		<result property="collectBillMonth" column="COLLECT_BILL_MONTH"/>
		<result property="collectBillStatus" column="COLLECT_BILL_STATUS"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.sales.model.dto.ChargeDTO" id="chargeResultMap">
		<id property="chargeNo" column="CHARGE_NO"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="chargeStatus" column="CHARGE_STATUS"/>
		<result property="chargeDate" column="CHARGE_DATE"/>
		<result property="chargeCount" column="CHARGE_COUNT"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.sales.model.dto.PurchaseOrderDTO" id="purchaserOrderResultMap">
		<id property="orderNo" column="ORDER_NO"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="discountDate" column="DISCOUNT_DATE"/>
		<result property="dueDate" column="dueDate"/>
		<result property="deliveryPlace" column="DELIVERY_PLACE"/>
		<result property="paymentStatus" column="PAYMENT_STATUS"/>
		<result property="orderTitle" column="ORDER_TITLE"/>
		<result property="customerNo" column="CUSTOMER_NO"/>
		<result property="providerRegistNo" column="PROVIDER_REGIST_NO"/>
		<result property="sumPrice" column="SUM_PRICE"/>
		
		<collection property="productList" resultMap="productResultMap"></collection>
	</resultMap>

	<resultMap type="com.deft.crud.sales.model.dto.EmployeeDTO" id="employeeResultMap">
		 <id property="empNo" column="EMP_NO"/>
        <result property="empName" column="EMP_NAME"/>
        <result property="empId" column="EMP_ID"/>
        <result property="empPwd" column="EMP_PWD"/>
        <result property="empEmail" column="EMP_EMAIL"/>
        <result property="empGender" column="EMP_GENDER"/>
        <result property="empBirth" column="EMP_BIRTH"/>
        <result property="empAddress" column="EMP_ADDRESS"/>
        <result property="empPhone" column="EMP_PHONE"/>
        <result property="empTel" column="EMP_TEL"/>
        <result property="hireDate" column="HIRE_DATE"/>
        <result property="entDate" column="ENT_DATE"/>
        <result property="entYn" column="ENT_YN"/>
        <result property="authority" column="AUTHORITY"/>
        <result property="jobCode" column="JOB_CODE"/>
        <result property="deptCode" column="DEPT_CODE"/>
        <result property="managerNo" column="MANAGER_NO"/>
        
        <association property="dept" resultMap="departmentResultMap"/>
        <association property="job" resultMap="jobResultMap"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.sales.model.dto.DepartmentDTO" id="departmentResultMap">
        <id property="deptCode" column="DEPT_CODE"/>
        <result property="deptName" column="DEPT_NAME"/>
        <result property="deptFax" column="DEPT_FAX"/>
        <result property="deptTel" column="DEPT_TEL"/>
        <result property="deptStatus" column="DEPT_STATUS"/>
    </resultMap>
    
     <resultMap type="com.deft.crud.sales.model.dto.JobDTO" id="jobResultMap">
        <id property="jobCode" column="JOB_CODE"/>
        <result property="jobName" column="JOB_NAME"/>
        <result property="jobStatus" column="JOB_STATUS"/>
    </resultMap>
    
    <resultMap type="com.deft.crud.sales.model.dto.PurchaseOrderProduct" id="purchaseOrderProductResultMap">
    	<result property="orderNo" column="ORDER_NO"/>
    	<result property="productAmount" column="PRODUCT_AMOUNT"/>
    	<result property="productNo" column="PRODUCT_NO"/>
    </resultMap>
    
    <resultMap type="com.deft.crud.sales.model.dto.ProductDTO" id="productResultMap">
    	<id property="productNo" column="PRODUCT_NO" />
		<result property="sellStatus" column="SELL_STATUS"/>    
		<result property="productName" column="PRODUCT_NAME"/>    
		<result property="purchasePrice" column="PURCHASE_PRICE"/>    
		<result property="sellingPrice" column="SELLING_PRICE"/>    
		<result property="unit" column="UNIT"/>    
		<result property="chargeCount" column="CHARGE_COUNT"/> 						<!-- 상품 계약수를 조회하는 컬럼 -->
		
		<association property="category" resultMap="productCategoryResultMap"/>    
    </resultMap>
	
	<resultMap type="com.deft.crud.product.model.dto.ProductCategoryDTO" id="productCategoryResultMap">
		<id property="categoryCode" column="CATEGORY_CODE"/>
		<result property="refCategoryName" column="REF_CATEGORY_NAME"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
		<result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
		<result property="categoryStatus" column="CATEGORY_STATUS"/>
	</resultMap>
	<!-- 사원 목표실적 조회 -->
	<select id="empTargetPerformList" resultMap="targetPerformResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#empTargetPerformList()*/
	    	   T.TARGET_NO
	    	 , T.EMP_NO
	    	 , T.TARGET_SALES
	    	 , T.TARGET_CONTRACT
	    	 , T.PERFORM_YEAR
	    	 , T.PERFORM_MONTH
		  FROM TBL_EMP_TARGET_PERFOM T
		 WHERE T.EMP_NO = #{ empNo }
		   AND T.PERFORM_YEAR = #{ performYear }
		 ORDER BY T.PERFORM_YEAR DESC, T.PERFORM_MONTH DESC
	</select>
	
	<!-- 사원 실적 조회 -->
	<select id="empPerformList" resultMap="performResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#empPerformList()*/
			   EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) "COLLECT_BILL_YEAR"
    		 , EXTRACT(MONTH FROM B.COLLECT_BILL_DATE) "COLLECT_BILL_MONTH"
     	     , SUM(B.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
     	     , COUNT(P.PERFORMANCE_NO) "PERFORMANCE_COUNT"
     	     , P.EMP_NO
  		  FROM TBL_PERFORMANCE P
          JOIN TBL_COLLECT_BILL B ON (P.COLLECT_BILL_NO = B.COLLECT_BILL_NO)
  		  JOIN TBL_EMP_INFO E ON (P.EMP_NO = E.EMP_NO)
          JOIN TBL_CHARGE C ON (C.CHARGE_NO = B.CHARGE_NO)
 		 WHERE B.COLLECT_BILL_STATUS = '수금'
 	     GROUP BY EXTRACT(YEAR FROM B.COLLECT_BILL_DATE)
                , EXTRACT(MONTH FROM B.COLLECT_BILL_DATE)
                , P.EMP_NO
        HAVING EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) = #{ performYear }
           AND P.EMP_NO = #{ empNo }
        ORDER BY EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) DESC, EXTRACT(MONTH FROM B.COLLECT_BILL_DATE) DESC
		
	</select>
	
	<!-- 사원의 모든 목표실적 연도별로 조회 -->
	<select id="checkedEmpTargetPerformList" resultMap="targetPerformResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#checkedEmpTargetPerformList()*/
			   T.TARGET_NO
	    	 , T.EMP_NO
	    	 , T.TARGET_SALES
	    	 , T.TARGET_CONTRACT
	    	 , T.PERFORM_YEAR
	    	 , T.PERFORM_MONTH
		  FROM TBL_EMP_TARGET_PERFOM T
		 WHERE T.EMP_NO = #{ empNo }
		   AND T.PERFORM_YEAR = #{ performYear }
		 ORDER BY T.PERFORM_YEAR DESC, T.PERFORM_MONTH DESC
	</select>
	
	<!-- 사원 실적 상세조회 -->
	<select id="selectUserPerformDetail" resultMap="performResultMap" parameterType="com.deft.crud.sales.model.dto.CollectBillDTO"> 
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectUserPerformDetail()*/	   
			   C.CHARGE_NO
			 , C.CHARGE_DATE		     
		     , O.ORDER_TITLE
		     , B.COLLECT_BILL_AMOUNT
		  FROM TBL_PERFORMANCE P
		  JOIN TBL_COLLECT_BILL B ON (P.COLLECT_BILL_NO = B.COLLECT_BILL_NO)
		  JOIN TBL_CHARGE C ON (C.CHARGE_NO = B.CHARGE_NO)
		  JOIN TBL_PURCHASE_ORDER O ON (O.ORDER_NO = C.ORDER_NO)
		 WHERE P.EMP_NO = #{ empNo }
		   AND EXTRACT(YEAR FROM C.CHARGE_DATE) = #{ parameters.collectBillYear }
		   AND EXTRACT(MONTH FROM C.CHARGE_DATE) = #{ parameters.collectBillMonth }
			   
	</select>
	
	<!-- 목표 실적 등록하는 폼에 사원이 속한 해당 부서의 전월 실적 조회 -->
	<select id="selectDeptAvgPeform" resultMap="performResultMap" parameterType="com.deft.crud.sales.model.dto.CollectBillDTO">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectDeptAvgPeform()*/
	     	   D.DEPT_CODE
	     	 , D.DEPT_NAME
	     	 , COUNT(CH.CHARGE_NO) "CHARGE_COUNT"
	     	 , AVG(CO.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
	      FROM TBL_PERFORMANCE P
	      JOIN TBL_EMP_INFO E ON ( E.EMP_NO = P.EMP_NO)
	      JOIN TBL_DEPARTMENT D ON ( D.DEPT_CODE = E.DEPT_CODE)
	      JOIN TBL_COLLECT_BILL CO ON ( CO.COLLECT_BILL_NO = P.COLLECT_BILL_NO)
	      JOIN TBL_CHARGE CH ON (CH.CHARGE_NO = CO.CHARGE_NO)
	     WHERE CO.COLLECT_BILL_STATUS = '수금'
           AND D.DEPT_CODE = #{ deptCode }
           AND EXTRACT(YEAR FROM CO.COLLECT_BILL_DATE) = #{ collectBillDate.collectBillYear } 
           AND EXTRACT(MONTH FROM CO.COLLECT_BILL_DATE) = #{ collectBillDate.collectBillMonth }
	     GROUP BY D.DEPT_CODE
		        , D.DEPT_NAME
	</select>
	
	<select id="selectEmpPeformLastMonth" resultMap="performResultMap" parameterType="com.deft.crud.sales.model.dto.CollectBillDTO">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectEmpPeformLastMonth()*/
			   EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) "COLLECT_BILL_YEAR"
    		 , EXTRACT(MONTH FROM B.COLLECT_BILL_DATE) "COLLECT_BILL_MONTH"
     	     , SUM(B.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
     	     , COUNT(P.PERFORMANCE_NO) "PERFORMANCE_COUNT"
  		  FROM TBL_PERFORMANCE P
          JOIN TBL_COLLECT_BILL B ON (P.COLLECT_BILL_NO = B.COLLECT_BILL_NO)
  		  JOIN TBL_EMP_INFO E ON (P.EMP_NO = E.EMP_NO)
          JOIN TBL_CHARGE C ON (C.CHARGE_NO = B.CHARGE_NO)
 		 WHERE B.COLLECT_BILL_STATUS = '수금'
           AND P.EMP_NO = #{ empNo }
           AND EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) = #{ collectBillDate.collectBillYear } 
           AND EXTRACT(MONTH FROM B.COLLECT_BILL_DATE) = #{ collectBillDate.collectBillMonth } 
         GROUP BY EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) 
                , EXTRACT(MONTH FROM B.COLLECT_BILL_DATE)
	
	</select>
	
	<!-- 한 사원이 목표실적 등록하기 전 한 달에 한번만 등록할 수 있도록 목표실적 이력을 조회 -->
	<select id="checkEmpTargetPerformListForInsert" resultMap="targetPerformResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#empTargetPerformListForInsert()*/
			   T.TARGET_NO
	    	 , T.EMP_NO
	    	 , T.TARGET_SALES
	    	 , T.TARGET_CONTRACT
	    	 , T.PERFORM_YEAR
	    	 , T.PERFORM_MONTH
		  FROM TBL_EMP_TARGET_PERFOM T
		 WHERE T.EMP_NO = #{ empNo }
		 ORDER BY T.PERFORM_YEAR DESC, T.PERFORM_MONTH DESC
	</select>
	
	<!-- 사원 목표실적 등록 -->
	<insert id="insertTargetSales" parameterType="com.deft.crud.sales.model.dto.TargetPerfomDTO">
		INSERT /*com.deft.crud.product.model.dao.SalesMapper#insertTargetSales()*/
		  INTO TBL_EMP_TARGET_PERFOM T
	    (
		  T.TARGET_NO, T.EMP_NO, T.TARGET_SALES, T.TARGET_CONTRACT, 
		  T.PERFORM_YEAR, PERFORM_MONTH 
		)	
		VALUES
		(
		  SEQ_TARGET_NO.NEXTVAL, #{ empNo }, #{ targetSales }, #{ targetContract }
		, #{ performYear }, #{ performMonth }
		)
	</insert>
	
	<!-- 부서별 실적 조회 -->
	<select id="selectDeptPerformList" resultMap="performResultMap">
	    SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectDeptPerformList()*/
	    	   EXTRACT(YEAR FROM CO.COLLECT_BILL_DATE) "COLLECT_BILL_YEAR"
	         , EXTRACT(MONTH FROM CO.COLLECT_BILL_DATE) "COLLECT_BILL_MONTH"
	     	 , D.DEPT_CODE
	     	 , D.DEPT_NAME
	     	 , COUNT(CH.CHARGE_NO) "CHARGE_COUNT"
	     	 , SUM(CO.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
	      FROM TBL_PERFORMANCE P
	      JOIN TBL_EMP_INFO E ON ( E.EMP_NO = P.EMP_NO)
	      JOIN TBL_DEPARTMENT D ON ( D.DEPT_CODE = E.DEPT_CODE)
	      JOIN TBL_COLLECT_BILL CO ON ( CO.COLLECT_BILL_NO = P.COLLECT_BILL_NO)
	      JOIN TBL_CHARGE CH ON (CH.CHARGE_NO = CO.CHARGE_NO)
	     WHERE CO.COLLECT_BILL_STATUS = '수금'
	     GROUP BY EXTRACT(YEAR FROM CO.COLLECT_BILL_DATE) 
		        , EXTRACT(MONTH FROM CO.COLLECT_BILL_DATE)
		        , D.DEPT_CODE
		        , D.DEPT_NAME
	    HAVING EXTRACT(YEAR FROM CO.COLLECT_BILL_DATE) = #{ collectBillYear }
	       AND EXTRACT(MONTH FROM CO.COLLECT_BILL_DATE) = #{ collectBillMonth }
	     ORDER BY D.DEPT_CODE ASC
	
	</select>
	
	<!-- 한 부서에 대한 사원들의 영업실적 조회 -->
	<select id="selectDeptEachPerformList" resultMap="performResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#empPerformList()*/
			   EXTRACT(YEAR FROM B.COLLECT_BILL_DATE)  "COLLECT_BILL_YEAR"
             , EXTRACT(MONTH FROM B.COLLECT_BILL_DATE) "COLLECT_BILL_MONTH"
		     , E.EMP_NO
		     , E.EMP_NAME
		     , J.JOB_NAME        
		     , SUM(B.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
		     , COUNT(P.PERFORMANCE_NO) "PERFORMANCE_COUNT"
		  FROM TBL_PERFORMANCE P
		  JOIN TBL_COLLECT_BILL B ON (P.COLLECT_BILL_NO = B.COLLECT_BILL_NO)
		  JOIN TBL_EMP_INFO E ON (P.EMP_NO = E.EMP_NO)
		  JOIN TBL_JOB J ON (J.JOB_CODE = E.JOB_CODE)
		  JOIN TBL_CHARGE C ON (C.CHARGE_NO = B.CHARGE_NO)
		  JOIN TBL_DEPARTMENT D ON (D.DEPT_CODE = E.DEPT_CODE)
		 WHERE B.COLLECT_BILL_STATUS = '수금'
		   AND D.DEPT_CODE = #{ deptCode } 
		 GROUP BY EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) 
		        , EXTRACT(MONTH FROM B.COLLECT_BILL_DATE)
		 		, E.EMP_NO
		        , E.EMP_NAME
		        , J.JOB_NAME
		 HAVING EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) = #{ parameters.collectBillYear }
            AND EXTRACT(MONTH FROM B.COLLECT_BILL_DATE) = #{ parameters.collectBillMonth }
		 ORDER BY E.EMP_NO ASC
	</select>
	
	<!-- 연도와 월별로 조회하는 부서실적 조회리스트 -->
	<select id="selectPerformForDate" resultMap="performResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectPerformForDate()*/
			   EXTRACT(YEAR FROM CO.COLLECT_BILL_DATE) "COLLECT_BILL_YEAR"
	         , EXTRACT(MONTH FROM CO.COLLECT_BILL_DATE) "COLLECT_BILL_MONTH"
	     	 , D.DEPT_CODE
	     	 , D.DEPT_NAME
	     	 , COUNT(CH.CHARGE_NO) "CHARGE_COUNT"
	     	 , SUM(CO.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
	      FROM TBL_PERFORMANCE P
	      JOIN TBL_EMP_INFO E ON ( E.EMP_NO = P.EMP_NO)
	      JOIN TBL_DEPARTMENT D ON ( D.DEPT_CODE = E.DEPT_CODE)
	      JOIN TBL_COLLECT_BILL CO ON ( CO.COLLECT_BILL_NO = P.COLLECT_BILL_NO)
	      JOIN TBL_CHARGE CH ON (CH.CHARGE_NO = CO.CHARGE_NO)
	     WHERE CO.COLLECT_BILL_STATUS = '수금'
	     GROUP BY EXTRACT(YEAR FROM CO.COLLECT_BILL_DATE) 
		        , EXTRACT(MONTH FROM CO.COLLECT_BILL_DATE)
		        , D.DEPT_CODE
		        , D.DEPT_NAME
	    HAVING EXTRACT(YEAR FROM CO.COLLECT_BILL_DATE) = #{ collectBillYear }
	       AND EXTRACT(MONTH FROM CO.COLLECT_BILL_DATE) = #{ collectBillMonth }
	     ORDER BY D.DEPT_CODE ASC
	</select>
	
	<!-- 한 부서에 대한 사원들의 연도와 월에 맞게 목표실적을 조회하는 리스트  -->
	<select id="deptTargetPerformList" resultMap="targetPerformResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectPerformForDate()*/
	           T.TARGET_NO
	    	 , T.EMP_NO
	    	 , T.TARGET_SALES
	    	 , T.TARGET_CONTRACT
	    	 , T.PERFORM_YEAR
	    	 , T.PERFORM_MONTH
		  FROM TBL_EMP_TARGET_PERFOM T
		 WHERE T.PERFORM_YEAR = #{ collectBillYear }
           AND T.PERFORM_MONTH = #{ collectBillMonth }
		 ORDER BY T.EMP_NO ASC, T.PERFORM_YEAR DESC, T.PERFORM_MONTH DESC
	</select>
	
	<!-- 상품 실적 조회  -->
	<select id="selectProductPerformList" resultMap="performResultMap" parameterType="com.deft.crud.sales.model.dto.CollectBillDTO">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectProductPerformList()*/
        	   CB.COLLECT_BILL_DATE
             , B.CATEGORY_NAME "REF_CATEGORY_NAME"
        	 , A.CATEGORY_NAME
             , P.PRODUCT_NO
             , P.PRODUCT_NAME
             , SUM(CB.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
             , PE.EMP_NO
          FROM TBL_PERFORMANCE PE
          JOIN TBL_COLLECT_BILL CB ON (PE.COLLECT_BILL_NO = CB.COLLECT_BILL_NO)
  		  JOIN TBL_CHARGE CH ON ( CH.CHARGE_NO = CB.CHARGE_NO)
		  JOIN TBL_PURCHASE_ORDER PO ON (PO.ORDER_NO = CH.ORDER_NO)
		  JOIN TBL_PURCHASE_ORDER_PRODUCT POP ON (POP.ORDER_NO = PO.ORDER_NO)
		  JOIN TBL_PRODUCT P ON ( P.PRODUCT_NO = POP.PRODUCT_NO)
		  JOIN TBL_PRODUCT_CATEGORY A ON ( A.CATEGORY_CODE = P.CATEGORY_CODE)
		  JOIN TBL_PRODUCT_CATEGORY B ON (B.CATEGORY_CODE = A.REF_CATEGORY_CODE)
  		 WHERE CB.COLLECT_BILL_STATUS = '수금'
    	   AND EXTRACT(YEAR FROM CB.COLLECT_BILL_DATE) = #{ collectBillYear }
    	   AND EXTRACT(MONTH FROM CB.COLLECT_BILL_DATE) = #{ collectBillMonth }
         GROUP BY CB.COLLECT_BILL_DATE
         	    , B.CATEGORY_NAME
         	    , A.CATEGORY_NAME
         	    , P.PRODUCT_NO
         	    , P.PRODUCT_NAME
         	    , PE.EMP_NO
  	     ORDER BY CB.COLLECT_BILL_DATE DESC, P.PRODUCT_NO ASC
	
	</select>
	
	<!-- 폼에서 입력한 연도와 월을 조회한다. -->
	<select id="selectProductPeformForDate" resultMap="performResultMap" parameterType="com.deft.crud.sales.model.dto.CollectBillDTO">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectProductPeformForDate()*/
        	   CB.COLLECT_BILL_DATE
             , B.CATEGORY_NAME "REF_CATEGORY_NAME"
        	 , A.CATEGORY_NAME
             , P.PRODUCT_NAME
             , SUM(CB.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
             , COUNT(P.PRODUCT_NO) "CHARGE_COUNT"
             , P.PRODUCT_NO
             , PE.EMP_NO
          FROM TBL_PERFORMANCE PE
          JOIN TBL_COLLECT_BILL CB ON (PE.COLLECT_BILL_NO = CB.COLLECT_BILL_NO)
  		  JOIN TBL_CHARGE CH ON ( CH.CHARGE_NO = CB.CHARGE_NO)
		  JOIN TBL_PURCHASE_ORDER PO ON (PO.ORDER_NO = CH.ORDER_NO)
		  JOIN TBL_PURCHASE_ORDER_PRODUCT POP ON (POP.ORDER_NO = PO.ORDER_NO)
		  JOIN TBL_PRODUCT P ON ( P.PRODUCT_NO = POP.PRODUCT_NO)
		  JOIN TBL_PRODUCT_CATEGORY A ON ( A.CATEGORY_CODE = P.CATEGORY_CODE)
		  JOIN TBL_PRODUCT_CATEGORY B ON (B.CATEGORY_CODE = A.REF_CATEGORY_CODE)
  		 WHERE CB.COLLECT_BILL_STATUS = '수금'
    	   AND EXTRACT(YEAR FROM CB.COLLECT_BILL_DATE) = #{ collectBillYear }
    	   AND EXTRACT(MONTH FROM CB.COLLECT_BILL_DATE) = #{ collectBillMonth }
         GROUP BY CB.COLLECT_BILL_DATE
         	    , B.CATEGORY_NAME
         	    , A.CATEGORY_NAME
         	    , P.PRODUCT_NO
         	    , P.PRODUCT_NAME
         	    , P.PRODUCT_NO
         	    , PE.EMP_NO
  	     ORDER BY CB.COLLECT_BILL_DATE DESC, P.PRODUCT_NO ASC
  	     
	</select>
	
	<!-- 카테고리 실적 조회 -->
	<select id="selectCategoryPerformList" resultMap="performResultMap" parameterType="com.deft.crud.sales.model.dto.CollectBillDTO">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectCategoryPerformList()*/
		       A.REF_CATEGORY_CODE
		     , B.CATEGORY_NAME "REF_CATEGORY_NAME"
		     , A.CATEGORY_CODE
		     , A.CATEGORY_NAME
		     , SUM(CB.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
		     , COUNT(P.PRODUCT_NO) "CHARGE_COUNT"
		  FROM TBL_PERFORMANCE PE
		  JOIN TBL_COLLECT_BILL CB ON (PE.COLLECT_BILL_NO = CB.COLLECT_BILL_NO)
		  JOIN TBL_CHARGE CH ON ( CH.CHARGE_NO = CB.CHARGE_NO)
		  JOIN TBL_PURCHASE_ORDER PO ON (PO.ORDER_NO = CH.ORDER_NO)
		  JOIN TBL_PURCHASE_ORDER_PRODUCT POP ON (POP.ORDER_NO = PO.ORDER_NO)
		  JOIN TBL_PRODUCT P ON ( P.PRODUCT_NO = POP.PRODUCT_NO)
		  JOIN TBL_PRODUCT_CATEGORY A ON ( A.CATEGORY_CODE = P.CATEGORY_CODE)
		  JOIN TBL_PRODUCT_CATEGORY B ON (B.CATEGORY_CODE = A.REF_CATEGORY_CODE)
		 WHERE CB.COLLECT_BILL_STATUS = '수금'
		   AND EXTRACT(YEAR FROM CB.COLLECT_BILL_DATE) = #{ collectBillYear }
		   AND EXTRACT(MONTH FROM CB.COLLECT_BILL_DATE) = #{ collectBillMonth }
		 GROUP BY A.REF_CATEGORY_CODE
		        , B.CATEGORY_NAME 
		        , A.CATEGORY_CODE
		        , A.CATEGORY_NAME
		 ORDER BY A.CATEGORY_CODE ASC
	</select>
	
	<!-- 셀렉트 박스에 상위카테고리 목록을 보여주기 위해 상위 카테고리 목록을 조회한다. -->
	<select id="selectRefCategoryList" resultMap="productCategoryResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectRefCategoryList()*/
		       C.CATEGORY_CODE "REF_CATEGORY_CODE"
		     , C.CATEGORY_NAME "REF_CATEGORY_NAME"
		  FROM TBL_PRODUCT_CATEGORY C
		 WHERE C.REF_CATEGORY_CODE IS NULL
	
	</select>
	
	<select id="selectCategoryPerformForDate" resultMap="performResultMap" parameterType="com.deft.crud.sales.model.dto.CollectBillDTO">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectCategoryPerformForDate()*/
	           A.REF_CATEGORY_CODE
		     , B.CATEGORY_NAME "REF_CATEGORY_NAME"
		     , A.CATEGORY_CODE
		     , A.CATEGORY_NAME
		     , SUM(CB.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
		     , COUNT(P.PRODUCT_NO) "CHARGE_COUNT"
		  FROM TBL_PERFORMANCE PE
		  JOIN TBL_COLLECT_BILL CB ON (PE.COLLECT_BILL_NO = CB.COLLECT_BILL_NO)
		  JOIN TBL_CHARGE CH ON ( CH.CHARGE_NO = CB.CHARGE_NO)
		  JOIN TBL_PURCHASE_ORDER PO ON (PO.ORDER_NO = CH.ORDER_NO)
		  JOIN TBL_PURCHASE_ORDER_PRODUCT POP ON (POP.ORDER_NO = PO.ORDER_NO)
		  JOIN TBL_PRODUCT P ON ( P.PRODUCT_NO = POP.PRODUCT_NO)
		  JOIN TBL_PRODUCT_CATEGORY A ON ( A.CATEGORY_CODE = P.CATEGORY_CODE)
		  JOIN TBL_PRODUCT_CATEGORY B ON (B.CATEGORY_CODE = A.REF_CATEGORY_CODE)
		 WHERE CB.COLLECT_BILL_STATUS = '수금'
		   AND EXTRACT(YEAR FROM CB.COLLECT_BILL_DATE) = #{ parameters.collectBillYear }
		   AND EXTRACT(MONTH FROM CB.COLLECT_BILL_DATE) = #{ parameters.collectBillMonth }
		 GROUP BY A.REF_CATEGORY_CODE
		 		, B.CATEGORY_NAME 
		        , A.CATEGORY_CODE
		        , A.CATEGORY_NAME
		 HAVING A.REF_CATEGORY_CODE = #{ refCategoryCode }
		 ORDER BY A.CATEGORY_CODE ASC
	
	</select>
	
	<!-- 카테고리 실적 상세정보 -->
	<select id="selectCategoryPerformDetail" resultMap="performResultMap" parameterType="com.deft.crud.sales.model.dto.CollectBillDTO">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#selectCategoryPerformDetail()*/
		       CH.CHARGE_NO
		     , CB.COLLECT_BILL_DATE
		     , A.CATEGORY_CODE
		     , PO.ORDER_TITLE
		     , CB.COLLECT_BILL_AMOUNT
		     , EI.EMP_NAME
		  FROM TBL_PERFORMANCE PE
		  JOIN TBL_EMP_INFO EI ON (EI.EMP_NO = PE.EMP_NO)
		  JOIN TBL_COLLECT_BILL CB ON (PE.COLLECT_BILL_NO = CB.COLLECT_BILL_NO)
		  JOIN TBL_CHARGE CH ON ( CH.CHARGE_NO = CB.CHARGE_NO)
		  JOIN TBL_PURCHASE_ORDER PO ON (PO.ORDER_NO = CH.ORDER_NO)
		  JOIN TBL_PURCHASE_ORDER_PRODUCT POP ON (POP.ORDER_NO = PO.ORDER_NO)
		  JOIN TBL_PRODUCT P ON ( P.PRODUCT_NO = POP.PRODUCT_NO)
		  JOIN TBL_PRODUCT_CATEGORY A ON ( A.CATEGORY_CODE = P.CATEGORY_CODE)
		  JOIN TBL_PRODUCT_CATEGORY B ON (B.CATEGORY_CODE = A.REF_CATEGORY_CODE)
		 WHERE CB.COLLECT_BILL_STATUS = '수금'
		   AND EXTRACT(YEAR FROM CB.COLLECT_BILL_DATE) = #{ parameters.collectBillYear }
		   AND EXTRACT(MONTH FROM CB.COLLECT_BILL_DATE) = #{ parameters.collectBillMonth }
		   AND A.CATEGORY_CODE = #{ categoryCode }
		 ORDER BY CB.COLLECT_BILL_DATE DESC
	
	</select>
</mapper>