<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.sales.model.dao.SalesMapper">
	<resultMap type="com.deft.crud.sales.model.dto.TargetPerfomDTO" id="targetPerformResultMap">
		<id property="targetNo" column="TARGET_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="targetSales" column="TARGET_SALES"/>
		<result property="targetContract" column="TARGET_CONTRACT"/>
		<result property="performYear" column="PERFORM_YEAR"/>
		<result property="performMonth" column="PERFORM_MONTH"/>

	</resultMap>
	
	<resultMap type="com.deft.crud.sales.model.dto.PerformanceDTO" id="performResultMap">
		
		<id property="performanceNo" column="PERFORMANCE_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="chargeNo" column="CHARGE_NO"/>
		<result property="performanceCount" column="PERFORMANCE_COUNT"/>

		<association property="collect" resultMap="collectBillResultMap"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.sales.model.dto.CollectBillDTO" id="collectBillResultMap">
		<result property="collectBillNo" column="COLLECT_BILL_NO"/>
		<result property="chargeNo" column="CHARGE_NO"/>
		<result property="collectBillAmount" column="COLLECT_BILL_AMOUNT"/>
		<result property="collectBillStatus" column="COLLECT_BILL_STATUS"/>
		<result property="collectBillDate" column="COLLECT_BILL_DATE"/>
		<result property="collectBillYear" column="COLLECT_BILL_YEAR"/>
		<result property="collectBillMonth" column="COLLECT_BILL_MONTH"/>
		
	</resultMap>
	
	<select id="empTargetPerformList" resultMap="targetPerformResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#empTargetPerformList()*/
	    	   T.TARGET_NO
	    	 , T.EMP_NO
	    	 , T.TARGET_SALES
	    	 , T.TARGET_CONTRACT
	    	 , T.PERFORM_YEAR
	    	 , T.PERFORM_MONTH
		   FROM TBL_EMP_TARGET_PERFOM T
		  WHERE T.EMP_NO = #{ empNo }
		  ORDER BY T.PERFORM_YEAR DESC, T.PERFORM_MONTH DESC
	</select>
	
	<select id="empPerformList" resultMap="performResultMap">
		SELECT /*com.deft.crud.product.model.dao.SalesMapper#empPerformList()*/
			   EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) "COLLECT_BILL_YEAR"
    		 , EXTRACT(MONTH FROM B.COLLECT_BILL_DATE) "COLLECT_BILL_MONTH"
     	     , SUM(B.COLLECT_BILL_AMOUNT) "COLLECT_BILL_AMOUNT"
     	     , COUNT(P.PERFORMANCE_NO) "PERFORMANCE_COUNT"
     	     , P.EMP_NO
  		  FROM TBL_PERFORMANCE P
          JOIN TBL_COLLECT_BILL B ON (P.COLLECT_BILL_NO = B.COLLECT_BILL_NO)
  		  JOIN TBL_EMP_INFO E ON (P.EMP_NO = E.EMP_NO)
          JOIN TBL_CHARGE C ON (C.CHARGE_NO = B.CHARGE_NO)
 		 WHERE C.COLLECT_BILL_STATUS = '수금'
 	     GROUP BY EXTRACT(YEAR FROM B.COLLECT_BILL_DATE)
                , EXTRACT(MONTH FROM B.COLLECT_BILL_DATE)
                , P.EMP_NO
        HAVING P.EMP_NO = #{ empNo }
        ORDER BY EXTRACT(YEAR FROM B.COLLECT_BILL_DATE) DESC, EXTRACT(MONTH FROM B.COLLECT_BILL_DATE) DESC
		
	</select>

	<insert id="insertTargetSales" parameterType="com.deft.crud.sales.model.dto.TargetPerfomDTO">
		INSERT /*com.deft.crud.product.model.dao.SalesMapper#insertTargetSales()*/
		  INTO TBL_EMP_TARGET_PERFOM T
	    (
		  T.TARGET_NO, T.EMP_NO, T.TARGET_SALES, T.TARGET_CONTRACT, 
		  T.PERFORM_YEAR, PERFORM_MONTH 
		)	
		VALUES
		(
		  SEQ_TARGET_NO.NEXTVAL, #{ empNo }, #{ targetSales }, #{ targetContract }
		, #{ performYear }, #{ performMonth }
		)
	</insert>


</mapper>