<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deft.crud.stock.model.dao.StockMapper">

	<resultMap type="com.deft.crud.stock.model.dto.StorageDTO" id="storageResultMap">
		<result property="productNo" column="PRODUCT_NO"/>
		<result property="storageSection" column="STORAGE_SECTION"/>
		<result property="storageSpace" column="STORAGE_SPACE"/>
		<result property="productStock" column="PRODUCT_STOCK"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.stock.model.dto.StockDTO" id="stockResultMap">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="sellStatus" column="SELL_STATUS"/>
		<result property="productName" column="PRODUCT_NAME"/>
		<result property="unit" column="UNIT"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
		<result property="storageSection" column="STORAGE_SECTION"/>
		<result property="storageSpace" column="STORAGE_SPACE"/>
		<result property="productStock" column="PRODUCT_STOCK"/>
	</resultMap>
	
	<resultMap type="com.deft.crud.stock.model.dto.ProductStockInfoDTO" id="productStockInfoResultMap">
	<id property="productNo" column="PRODUCT_NO"/>
	<result property="refCategoryName" column="REF_CATEGORY_NAME"/>
	<result property="categoryName" column="CATEGORY_NAME"/>
	<result property="productName" column="PRODUCT_NAME"/>
	<result property="manufacturerName" column="MANUFACTURER_NAME"/>
	<result property="companyName" column="COMPANY_NAME"/>
	<result property="storageSection" column="STORAGE_SECTION"/>
	<result property="storageSpace" column="STORAGE_SPACE"/>
	<result property="sellingPrice" column="SELLING_PRICE"/>
	<result property="sellStatus" column="SELL_STATUS"/>
	<result property="productStock" column="PRODUCT_STOCK"/>
	<result property="unit" column="UNIT"/>
	

	</resultMap>
	
	<!-- 창고에 보관중인 상품리스트 조회 -->
	<select id="selectStorageAll" resultMap="storageResultMap">
	SELECT /* "com.deft.crud.stock.model.dao.StockMapper#selectStockAll" */
	       A.STORAGE_SECTION
	     , A.STORAGE_SPACE
	     , A.PRODUCT_STOCK
	     , A.PRODUCT_NO
	  FROM TBL_STORAGE A    
	</select>
	
	<!-- 창고에 보관중인 상품번호로 상품 재고관련 정보 조회 -->
	<select id="selectStockAll" resultMap="stockResultMap" parameterType="_int">
	SELECT /* "com.deft.crud.stock.model.dao.StockMapper#selectStockAll" */
	       B.PRODUCT_NO
	     , B.SELL_STATUS
	     , B.PRODUCT_NAME
	     , B.UNIT
	     , C.CATEGORY_NAME
	     , A.STORAGE_SECTION
	     , A.STORAGE_SPACE
	     , A.PRODUCT_STOCK
	  FROM TBL_STORAGE A
	  JOIN TBL_PRODUCT B ON (A.PRODUCT_NO = B.PRODUCT_NO)
	  JOIN TBL_PRODUCT_CATEGORY C ON (B.CATEGORY_CODE = C.CATEGORY_CODE)
	 WHERE A.PRODUCT_NO = #{ productNo }       
	</select>
	
	<!-- 판매가능 상태인 모든 상품들 -->
	<select id="selectSellAbleProductAll" resultMap="stockResultMap">
	SELECT /* "com.deft.crud.stock.model.dao.StockMapper#selectSellAbleProductAll" */
	       A.PRODUCT_NO
	     , A.PRODUCT_NAME
	     , A.UNIT
	     , C.CATEGORY_NAME
	     , B.PRODUCT_STOCK
	  FROM TBL_PRODUCT A
      LEFT JOIN TBL_STORAGE B ON (A.PRODUCT_NO = B.PRODUCT_NO)
	  LEFT JOIN TBL_PRODUCT_CATEGORY C ON (A.CATEGORY_CODE = C.CATEGORY_CODE)
	 WHERE A.SELL_STATUS = '판매'         
	</select>
	
	<select id="selectOneProductInfoByNo" resultMap="productStockInfoResultMap">
	SELECT /* "com.deft.crud.stock.model.dao.StockMapper#selectOneProductInfoByNo" */
	       RC.CATEGORY_NAME "REF_CATEGORY_NAME"
         , C.CATEGORY_NAME
	     , A.PRODUCT_NO
	     , A.PRODUCT_NAME
	     , A.SELLING_PRICE
	     , A.SELL_STATUS
	     , A.UNIT
	     , B.PRODUCT_STOCK
	     , B.STORAGE_SECTION
	     , B.STORAGE_SPACE
         , T.MANUFACTURER_NAME
         , D.COMPANY_NAME
	  FROM TBL_PRODUCT A
	  LEFT JOIN TBL_PRODUCT_CATEGORY C ON (A.CATEGORY_CODE = C.CATEGORY_CODE)
      LEFT JOIN TBL_PRODUCT_CATEGORY RC ON (RC.CATEGORY_CODE = C.REF_CATEGORY_CODE)
	  LEFT JOIN TBL_STORAGE B ON (A.PRODUCT_NO = B.PRODUCT_NO)
      LEFT JOIN TBL_ACCOUNT D ON(A.ACCOUNT_NO = D.ACCOUNT_NO)
	  LEFT JOIN TBL_MANUFACTURER T ON(A.MANUFACTURER_NO = T.MANUFACTURER_NO)
	 WHERE A.PRODUCT_NO = #{ productNo }
	
	</select>
	
</mapper>



















