<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">자유게시글 수정</h1>
					</div>

					<!-- Row -->
					<div class="row">

						<!-- 게시판 폼 -->
						<div class="col-lg-12">
							<form th:action="@{/board/freeboardmodify}" method="post" enctype="multipart/form-data">
							<input type="hidden" name="writeNo" th:value="${boardDTO.writeNo}">
							<input type="hidden" name="boardNo" th:value="${boardDTO.boardNo}">
								<div class="input-group-md mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text col-lg-1" id="basic-addon3">제목</span>
										<input type="text" class="form-control" id="basic-url"
											aria-describedby="basic-addon3" name="boardName"
											th:value="${ boardDTO.boardName }">
									</div>
								</div>
								<div class="form-group mb-3">
									<div class="input-group-prepend">
								</div>
								<div class="form-group">
									<textarea rows="20" cols="150" class="form-control"
										id="exampleFormControlTextarea1" name="contents"
										th:text="${ boardDTO.contents }" th:value="${ boardDTO.contents }"></textarea>
								</div>
								</div>
								<div class="form-group">
										<div>
											<input th:if="${boardFileDTO}!=null" class="form-control"  aria-describedby="basic-addon3" th:value="${boardFileDTO.originalName}" th:readonly="readonly">
										</div>
										<br>
                     					<div class="custom-file">
                     						<input type="file" name="freeboardUpdate" class="form-control" >
                      					</div>
                   					</div>
                            		<br>
								<div align="right">
									<button type="submit" class="btn btn-primary" id="updatebtn">수정</button>
									<button type="button" class="btn btn-primary" th:onclick="history.back()">취소</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	$("#updatebtn").click(function(){
		if(confirm("수정하시겠습니까?") == true){
			alert("수정되었습니다.")
		}
		else{
			return;
		}
	})
	</script>

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>
	
</body>

</html>
