<!DOCTYPE html>
<html lang="en"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-spingsecurity5">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link th:href="@{/images/logo/crudLogo2.png}" rel="icon"/>
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/css/ruang-admin.min.css}" rel="stylesheet"/>
  <style>
    body {
      background-image: linear-gradient(
              rgba(255, 255, 255, 0.8)
              rgba(255, 255, 255, 0.8),
      ), url('@{/images/bg.jpg}');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>
<body>
  <div class="container-login">
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div style="text-align: center;">
          <img th:src="@{/images/logo/crudLogo2.png}" width="300px" height="300px" alt="asd">
        </div>
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <form class="user">
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                             placeholder="ID">
                    </div>
                    <div class="form-group ">
                      <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                    </div>

                    <div class="form-group">
                      <a href="/" class="btn btn-primary btn-block">Login</a>
                    </div>
                    <hr>
                  </form>
                  <div class="row">
                    <a href="#" class="btn btn-google col-xl-6 col-lg-6 col-md-6">
                      <i class="fas fa-search"></i>  ID 찾기
                    </a>
                    <a href="#" class="btn btn-facebook col-xl-6 col-lg-6 col-md-6">
                      <i class="fas fa-key"></i>  PWD 찾기
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login Content -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
  <script th:src="@{/js/ruang-admin.min.js}"></script>
</body>
</html>