<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-spingsecurity5">
<head>
	<!-- Config -->
	<th:block th:replace="@{common/config} :: config"></th:block>
	<style>
		body {
		  background-image: linear-gradient(
				  rgba(255, 255, 255, 0.8)
				  rgba(255, 255, 255, 0.8),
		  ), url('@{/images/bg.jpg}');
		  background-repeat: no-repeat;
		  background-size: cover;
		}
	  </style>
</head>

<body class="bg-gradient-login">

  	<!-- Start Login Content -->
	<div class="container-login">
		<div class="row justify-content-center">
			<div class="col-xl-4 col-lg-12 col-md-9">
				<div style="text-align: center;">
					<img th:src="@{/images/logo/crudLogo2.PNG}" style="width:150px; height:135px; margin-top:10%;" alt="logo">
				</div>
				<div class="card shadow-sm my-5">
					<div class="card-body p-0">
						<div class="row">
							<div class="col-lg-12">
								<div class="login-form">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Login</h1>
									</div>
									<form action="/member/login" method="post" class="user">
										<div class="form-group">
											<input type="text" class="form-control" id="userid" placeholder="ID" name="username">
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="password" placeholder="Password" name="password">
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-block">Login</button>
										</div>
										<div class="form-group" th:align="center">
											<a href="/member/findId" class="btn btn-google col-lg-5">
												<i class="fas fa-search"></i> ID 찾기
											</a>
											<a href="/member/findPwd" class="btn btn-facebook col-lg-5">
												<i class="fas fa-key"></i> PWD 찾기
											</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Login Content -->

	<!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>
</body>

</html>