<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">사원 관리</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="./">Home</a></li>
							<li class="breadcrumb-item">Tables</li>
							<li class="breadcrumb-item active" aria-current="page">사원관리</li>
						</ol>
					</div>
					

					<!-- Row -->
					<div class="row">

						<!-- DataTable with Hover -->
						<div class="col-lg-12">
							<div class="card mb-4">
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">사원 전체 조회</h6>
								</div>

								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover"
										id="dataTableHover">
										<thead align="center" class="thead-light">
											<tr>
												<th>번호</th>
												<th>이름</th>
												<th>부서</th>
												<th>직급</th>
												<th>성별</th>
												<th>전화번호</th>
												<th>상세보기</th>
											</tr>
										</thead>
										<tbody align="center">
											<tr th:each="employee: ${employeeList}">
												<td th:text="${employee.employeeNo}"></td>
												<td th:text="${employee.employeeName}"></td>
												<td th:text="${employee.deptName}"></td>
												<td th:text="${employee.jobName}"></td>
												<td th:text="${employee.gender}"></td>
												<td th:text="${employee.phone}"></td>
												<td><button class="btn btn-primary" th:onclick="|location.href='@{/admin/employeedetail(employeeNo=${employee.employeeNo})}'|">상세보기</button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>
	 	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
</body>

</html>
