<!DOCTYPE html>
<html lang="ko"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Content -->
				<div class="container-fluid" id="container-wrapper">
					<div class="row">
						<div class="row col-lg-6">
							<canvas id="empPerformanceChart"></canvas>
						</div>
						<div class="row col-lg-6">
							<canvas id="deptPerformanceChart"></canvas>
						</div>
					</div> 
					<div>
					<!-- 여기서부터 대시보드 -->
						<div>
							<canvas></canvas>
						</div>
						
						<div>
							<canvas id="businessChanceFailed"></canvas>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>

	<!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/chart-area-demo.js}"></script>
	<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
	<script th:src="@{/js/demo/chart-bar-demo.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		$(document).ready(function () {
			var ctx = document.getElementById('empPerformanceChart');
			
			$.ajax({
				url:"/dashboard/emp/sales/selectAll",
				type: 'GET',
				success: function(data, status, xhr) {
					
					const userPerformChart = JSON.parse(data.userPerformChart);
					const userTargetPerformChart = JSON.parse(data.userTargetPerformChart);
					console.table(userTargetPerformChart);
					
					let collectBillAmount = new Array();
					let targetSales = new Array();
					
					for(var i = 0; i < userPerformChart.length; i++) {
						collectBillAmount[i] = userPerformChart[i].collect.collectBillAmount;
					}
					
					for(var j = 0; j < userTargetPerformChart.length; j++) {
						targetSales[j] = userTargetPerformChart[j].targetSales;
					}
					
					
					var config = {
							
						type: 'line',
						data: {
								labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
								datasets: [{
									label: '내 실적',
									data: [collectBillAmount[0], 
											collectBillAmount[1], 
											collectBillAmount[2], 
											collectBillAmount[3], 
											collectBillAmount[4], 
											collectBillAmount[5], 
											collectBillAmount[6], 
											collectBillAmount[7],
											collectBillAmount[8],
											collectBillAmount[9],
											collectBillAmount[10],
											collectBillAmount[11],
										   ],
									backgroundColor: ['rgba(54, 162, 235, 0.2)'],
									borderColor: ['rgba(54, 162, 235, 1)'],
									borderWidth: 1,
								
							}, {									   
									label: '내 목표 실적',
									data: [targetSales[0], 
											targetSales[1], 
											targetSales[2], 
											targetSales[3], 
											targetSales[4], 
											targetSales[5], 
											targetSales[6], 
											targetSales[7],
											targetSales[8],
											targetSales[9],
											targetSales[10],
											targetSales[11],
										   ],
									backgroundColor: ['rgba(255, 99, 132, 0.2)'],
									borderColor: ['rgba(255, 99, 132, 1)'],
								    borderWidth: 1
							}]
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							}
						}
					};
						
					var empPerformanceChart = new Chart(ctx, config);

				},

				error: function(xhr, status, error) {
					console.log(error);
				}
			
			});
			
		});
		
		$(document).ready(function () {
		
			var ctx = document.getElementById('deptPerformanceChart');
			
			$.ajax({
				url:"/dashboard/dept/sales/selectAll",
				type: 'GET',
				success: function(data, status, xhr) {
					
					console.log(data);
					
					const deptPerformChart = JSON.parse(data.deptPerformChart);
					
					let collectBillAmount = new Array();
					
					for(var i = 0; i < deptPerformChart.length; i++) {
						collectBillAmount[i] = deptPerformChart[i].collect.collectBillAmount;
					}
					
					var config = {
							
						type: 'bar',
						data: {
							labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
							datasets: [{
								label: '부서 실적',
								data: [collectBillAmount[0], 
										collectBillAmount[1], 
										collectBillAmount[2], 
										collectBillAmount[3], 
										collectBillAmount[4], 
										collectBillAmount[5], 
										collectBillAmount[6], 
										collectBillAmount[7],
										collectBillAmount[8],
										collectBillAmount[9],
										collectBillAmount[10],
										collectBillAmount[11]
									   ], 
								backgroundColor: ['rgba(255, 99, 132, 0.2)'],
								borderColor: ['rgba(255, 99, 132, 1)'],
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								y: {
									beginAtZero: true
								}
							}
						}
					};
						
					var deptPerformanceChart = new Chart(ctx, config);

				},

				error: function(xhr, status, error) {
					console.log(error);
				}
			
			});
		}); 
	
			
		</script>
		
</body>
</html>