<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
<th:block th:replace="@{common/config} :: config"></th:block>
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<style>
.form-control {
	text-align: center;
}
</style>
</head>
<body id="page-top">
	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Container Fluid-->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">영업기회 조회</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
							<li class="breadcrumb-item">영업관리</li>
							<li class="breadcrumb-item active" aria-current="page">영업기회조회</li>
						</ol>
					</div>

					<!-- Row -->
					<div class="row">
						
						<!-- businessChanceTable -->
						<div class="col-lg-12" style="margin-left: 10px; margin-right: 10px;">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">영업기회 현황 (전체)</h6>
									<div><button id="insertBusinessChnace" name="insertBusinessChnace" class="btn btn-info btn-icon-split"
												 data-toggle="modal"
                                               	 data-target="#insertBusinessChanceModal">
											<span class="icon text-white"><i class="fas fa-edit"></i></span>
											<span class="text text-white">영업기회등록</span>
										</button>
									</div>
								</div>
								<ul class="nav nav-tabs nav-justfied">
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="all" class="nav-link active" data-toggle="tab">전체</a>
									</li>
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="progress" class="nav-link" data-toggle="tab">진행중</a>
									</li>
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="success" class="nav-link" data-toggle="tab">성공</a>
									</li>
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="postpone" class="nav-link" data-toggle="tab">보류</a>
									</li>
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="failed" class="nav-link" data-toggle="tab">실패</a>
									</li>
								</ul>
								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="businessChanceTable">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>영업기회번호</th>
												<th>영업기회명</th>
												<th>고객명</th>
												<th>진행상태</th>
												<th>담당자</th>
												<th>영업단계</th>
												<th>등록일시</th>
												<th>관리</th>
											</tr>
										</thead>
										<tbody th:align="center">
											<tr th:each="chanceList : ${businessChanceList}">
												<td th:text="${chanceList.businessChanceNo}"></td>
												<td th:text="${chanceList.businessTitle}"></td>
												<td th:text="${chanceList.customerName}"></td>
												<td th:switch="${chanceList.progressStatus}">
													<span th:case="'진행중'" class="badge badge-success" th:text="${chanceList.progressStatus}"></span>
													<span th:case="'실패'" class="badge badge-danger" th:text="${chanceList.progressStatus}"></span>
													<span th:case="'성공'" class="badge badge-info" th:text="${chanceList.progressStatus}"></span>
													<span th:case="'보류중'" class="badge badge-warning" th:text="${chanceList.progressStatus}"></span>
												</td>
												<td th:text="${chanceList.empName}"></td>
												<td th:text="${chanceList.salesLevel}"></td>
												<td th:text="${chanceList.writeDate}"></td>
												<td><a class="btn btn-sm btn-dark btn-icon-split" 
													   th:href="@{/business/chance/selectBasicInfo(customerNo=${ chanceList.customerNo }, businessChanceNo=${ chanceList.businessChanceNo })}">
													<span class="icon text-white-50"><i class="fas fa-clipboard-list"></i></span>
													<span class="text text-white">상세정보</span>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!------------- 영업기회등록 Modal --------------->
	<div class="modal fade" id="insertBusinessChanceModal" role="dialog">
		<div class="modal-dialog modal-center"
			style="font-size: 13px; max-height: 100%; height: 200px; max-width: 100%; width: 75%; display: table;">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" style="color: #0da8ee">영업기회 등록</h4>
					<button type="button" id="modalCloseBtn" class="close"
						data-dismiss="modal">
						<i class="far fa-times-circle"></i>
					</button>
					<div class="row">
						<div class="form-group col-lg-12">
							<input type="hidden" value="emptyRow">
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="card mb-4" th:align="center">
								<div
									class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">담당중인 고객리스트</h6>
								</div>
								<div class="table-responsive p-3"
									style="overflow-y: scroll; height: 405px;">
									<table id="customerListTable"
										class="table align-items-center table-flush table-hover">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>고객명</th>
												<th>관리</th>
											</tr>
										</thead>
										<tbody th:align="center">

										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="col-lg-12" th:align="center">
								<div class="col-lg-12">
									<div style="background: lightgray;">
										<div th:align="center"
											 style="font-size: 25px; font-weight: bold; padding-top: 5px; padding-bottom: 5px;">영업기회</div>
									</div>
									<div class="card mb-4">
										<form id="insertBusinessChanceForm" class="form-group"
											  th:action="@{/business/chance/insert}" method="post"
											  style="margin-left: 30px; margin-right: 30px; margin-top: 15px;">
											<div class="row">
												<div class="form-group col-xl-3">
													<label for="customerNo">고객번호</label>
													<input id="customerNo" name="customerNo" class="form-control" readonly>
												</div>
												<div class="form-group col-xl-3">
													<label for="customerManager">고객담당사원</label>
													<input id="customerManager" name="empName" class="form-control" readonly>
													<input id="customerManagerNo" name="empNo" class="form-control" readonly hidden="hidden">
														   
												</div>
												<div class="form-group col-xl-1"></div>
												<div class="form-group col-xl-5">
													<label for="chanceTitle">영업기회명</label>
													<input id="chanceTitle" name="businessTitle" class="form-control"
														   placeholder="내용을 입력해주세요">
												</div>
											</div>
											<div class="row">
												<div class="form-group col-xl-3">
													<label for="customerCompany">고객사</label>
													<input
														id="customerCompany" name="customerCompanyName"
														class="form-control" readonly>
												</div>
												<div class="form-group col-xl-3">
													<label for="customerName">고객측담당자</label> <input
														id="customerName" name="customerName" class="form-control"
														readonly>
												</div>
												<div class="form-group col-xl-1"></div>
												<div class="form-group col-xl-2">
													<label for="level">영업단계</label>
													<select id="level" name="salesLevel" class="form-control">
														<option value="offer" selected>거래제의</option>
														<option value="estimate">견적</option>
														<option value="order">발주</option>
														<option value="charge">청구</option>
														<option value="collect">수금</option>
													</select>
												</div>
												<div class="form-group col-xl-1"></div>
												<div class="form-group col-xl-2">
													<label for="posibillity">성공가능성</label>
													<select id="posibillity" name="successPosibillity" class="form-control">
														<option value=10>10%</option>
														<option value=20>20%</option>
														<option value=30>30%</option>
														<option value=40>40%</option>
														<option value=50>50%</option>
														<option value=60>60%</option>
														<option value=70>70%</option>
														<option value=80>80%</option>
														<option value=90>90%</option>
														<option value=100>100%</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-xl-6">
													<label for="productName">관심상품</label>
													<div id="productName" name="productName" readonly
														style="overflow-x: scroll; width: 330px; height: 80px; border: 1px solid lightgray;">
													</div>
												</div>
												<div class="form-group col-xl-1"></div>
												<div class="form-group col-xl-5">
													<label for="dueDate">마감예정일(유효기간)</label> <input type="date"
														id="dueDate" name="dueDate" class="form-control">
												</div>
											</div>
											<br>
											<div class="form-group col-xl-12" th:align="center"
												style="margin-top: 10px;">
												<button type="button" class="btn btn-primary"
													id="insertBusinessChanceBtn" name="insertBusinessChanceBtn">영업기회등록</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="count" value="1"></div>
		</div>
	</div>

<!-- Script -->
<th:block th:replace="@{/common/script} :: script"></th:block>

<script>
	/* 메세지 출력 */
	const message = '[[${ message }]]';

	if(message) {
		alert(message);
	}

	$(document).ready(function () {
		// ID From businessChanceTable with Hover
		$('#businessChanceTable').DataTable({     
			order:[]
		});

		// ID From customerListTable with Hover
		$('#customerListTable').DataTable({     
			order:[]
		});
	});
	
 	// 테이블 (진행상태)별 검색 결과 
    $(document).on('click', "a[name=status]",  function() {
    	
    	let businessChanceStatus = $(this).attr('value');
    	
			if(businessChanceStatus == 'all') {
				$("#tableTitle").html("영업기회 현황 (전체)");
			} else {
				$("#tableTitle").html("영업기회 현황 (" + $(this).text() + ")");
			}
    	
		$.ajax({
			url: "/business/chance/selectAll/status?businessChanceStatus=" + businessChanceStatus,
			type: "get",
			success: function(data, status, xhr) {
				
				const businessChanceList = JSON.parse(data.businessChanceList);
				
				const $table = $('#businessChanceTable tbody');
				
				$table.html("");		//기존 테이블데이터(body내용) 초기화
				
				if(businessChanceList != null) {
				
				for(let index in  businessChanceList) {
					let businessChance = businessChanceList[index];
					
					$tr = $("<tr>").prop("th:align", "center");
					$businessChanceNoTd = $("<td>").text(businessChance.businessChanceNo);
					$estimateTitleTd = $("<td>").prop("th:align", "center").text(businessChance.businessTitle);
					$customerNoTd = $("<td>").text(businessChance.customerNo).attr("hidden", "hidden");
					$customerNameTd = $("<td>").text(businessChance.customerName);
					$badgeSpan = $("<span>").text(businessChance.progressStatus);
					switch(businessChance.progressStatus) {
						case '진행중' : $badgeSpan.addClass("badge badge-success"); break;
						case '성공' : $badgeSpan.addClass("badge badge-info"); break;
						case '보류중' : $badgeSpan.addClass("badge badge-warning"); break;
						case '실패' : $badgeSpan.addClass("badge badge-danger"); break;
					}
					$progressStatusTd = $("<td>").append($badgeSpan);
					$empNameTd = $("<td>").text(businessChance.empNo + " " + businessChance.empName);
					$salesLevelTd = $("<td>").text(businessChance.salesLevel);
					$writeDateTd = $("<td>").text(businessChance.writeDate);
					$btnIcon = $("<i>").addClass("fas fa-clipboard-list");
					$btnIconSpan = $("<span>").addClass("icon text-white-50").append($btnIcon);
					$btnTextSpan = $("<span>").addClass("text text-white").text("상세정보");
					$detailBtn = $("<button>").addClass("btn btn-sm btn-dark btn-icon-split")
											  .attr('id', 'detailInfoBtn')
									          .attr("data-business-chance-no", businessChanceList[index].businessChanceNo)
								          	  .attr("name", "businessChanceDetailBtn").append($btnIconSpan).append($btnTextSpan);
					$detailTd = $("<td>").append($detailBtn);

					$tr.append($businessChanceNoTd);
					$tr.append($estimateTitleTd);
					$tr.append($customerNoTd);
					$tr.append($customerNameTd);
					$tr.append($progressStatusTd);
					$tr.append($empNameTd);
					$tr.append($salesLevelTd);
					$tr.append($empNameTd);
					$tr.append($salesLevelTd);
					$tr.append($writeDateTd);
					$tr.append($detailTd);
					
					$table.append($tr);
				}
				}	
			},
			error: function(xhr, status, error) {
				console.log(xhr);
			}
		});
    });
    
 	/* 영업기회 [상세보기] 버튼 클릭 시 동작 */
    $(document).on("click", "button[name='businessChanceDetailBtn']", function() {
		const businessChanceNo = $(this).parent().parent().children().eq(0).text();
		const customerNo = $(this).parent().parent().children().eq(2).text();

		location.href="/business/chance/selectBasicInfo?businessChanceNo=" + businessChanceNo + "&customerNo=" + customerNo;
	});
    
    /* [영업기회등록] 버튼(영업기회등록 form(modal 실행) */
    $("button[name='insertBusinessChnace']").on("click", function() {
    	
		$("#insertBusinessChanceForm").find('input').each(function(){ $(this).val(''); });
		
		$('#productName').html("");		// 관심상품 비우기
		
    	$('#level').val("offer");		//모달창 실행 시 영업단계 기본값
    	$('#posibillity').val("10");	//모달창 실행 시 성공가능성 기본값 
    	
	
	});

    /* 영업기회등록 form 안의 [영업기회등록] 버튼을 눌렀을경우 동작 */
    $("button[name='insertBusinessChanceBtn']").on("click", function() {
    	
    	if($('#customerNo').val() == "") {
    		alert("영업기회 대상고객을 선택해주세요.")
    		return false;
    		
    	} else if($('#chanceTitle').val() == "") {
    		alert("영업기회명을 입력해주세요.")
    		return false;
    		
    	} else if($('#dueDate').val() == "") {
    		
    		alert("마감 예정일을 입력해주세요");
    		return false;
    	} 
    	
		if(!confirm("입력하신 내용으로 영업기회를 등록하시겠습니까?")){
    		return false;
    	}
    	
		$('#insertBusinessChanceForm').submit();
	
	});
    
    /* 영업기회등록 모달창 실행 시 동작 */
    $('#insertBusinessChanceModal').on('show.bs.modal', function(event) {
		
		$.ajax({
			url: "/business/myCustomer/selectAll",
			type: "GET",
			success: function(data, status, xhr) {
				
				const customerList = JSON.parse(data.customerList);
				const $table = $('#customerListTable tbody');
				
				$table.html("");
				
				for(let index in customerList) {
					
					let customer = customerList[index];
					
					$tr = $("<tr>");
					$cNoTd = $("<td>").text(customer.customerNo).attr('hidden', true);
					$customerNameTd = $("<td>").text([customer.customerNo] + customer.customerName);
					$btnIcon = $("<i>").addClass("far fa-check-square");
					$btnIconSpan = $("<span>").addClass("icon text-white-50").append($btnIcon);
					$btnTextSpan = $("<span>").addClass("text text-white").text("선택");
					$detailBtn = $("<button>").addClass("btn btn-sm btn-dark btn-icon-split")
											  .attr('id', 'addBtn')
									          .attr("data-customer-no", customer.customerNo)
								          	  .attr("name", "addBtn").append($btnIconSpan).append($btnTextSpan);
					$detailTd = $("<td>").append($detailBtn);
					
					$tr.append($cNoTd);
					$tr.append($customerNameTd);
					$tr.append($detailTd);
					$table.append($tr);
				}
			}
		});
    });
    
    /* [선택] 버튼 눌렀을시 동작 */
	$(document).on("click", "button[name='addBtn']", function() {
		
		let customerNo = $(this).parent().siblings().eq(0).text();

		$.ajax({
			url:"/business/customerInfo/select",
			type:"POST",
			data: {"customerNo" : customerNo},
			success: function(data, status, xhr) {
				
				const customerInfo = JSON.parse(data.customerInfo);
				
				$('#customerNo').val(customerInfo.customerNo);
				$('#customerManager').val(customerInfo.empName);
				$('#customerManagerNo').val(customerInfo.empNo);
				$('#customerCompany').val(customerInfo.customerCompanyName);
				$('#customerName').val(customerInfo.customerName);
				$('#productName').text(customerInfo.productName);
			}
		});
	});
    
</script>
</body>
</html>