<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
<th:block th:replace="@{common/config} :: config"></th:block>
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">
	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Container Fluid-->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">영업기회 조회</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
							<li class="breadcrumb-item">영업관리</li>
							<li class="breadcrumb-item active" aria-current="page">영업기회조회</li>
						</ol>
					</div>

					<!-- Row -->
					<div class="row">

						<!-- DataTable with Hover -->
						<div class="col-lg-12">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">영업 기회 현황</h6>
									<div>
										<a class="btn btn-info btn-icon-split"
											th:onclick="location.href=''">
												<span class="icon text-white">
													<i class="fas fa-edit"></i>
												</span>
												<span class="text text-white">영업기회등록</span>
										</a>
									</div>
								</div>

								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover"
										id="dataTableHover">
										<thead align="center" class="thead-light">
											<tr>
												<th>영업기회번호</th>
												<th>영업기회명</th>
												<th>고객명</th>
												<th>진행상태</th>
												<th>담당자</th>
												<th>영업단계</th>
												<th>가능성</th>
												<th>작성일</th>
												<th>관리</th>
											</tr>
										</thead>
										
										<tbody align="center">
											<tr th:each="chanceList : ${businessChanceList}">
												<td th:text="${chanceList.businessChanceNo}"></td>
												<td th:text="${chanceList.businessTitle}"></td>
												<td th:text="${chanceList.customerName}"></td>
												<td th:if="${chanceList.progressStatus} == '진행중'">
													<span class="badge badge-success">진행중</span></td>
												<td th:if="${chanceList.progressStatus} == '실패'">
													<span class="badge badge-danger">실패</span></td>
												<td th:if="${chanceList.progressStatus} == '성공'">
													<span class="badge badge-info">성공</span></td>
												<td th:if="${chanceList.progressStatus} == '보류중'">
													<span class="badge badge-warning">보류중</span></td>		
												<td th:text="${chanceList.empName}"></td>
												<td th:text="${chanceList.salesLevel}"></td>
												<td th:text="${chanceList.successPosibillity} + '%'"></td>
												<td th:text="${chanceList.dueDate}"></td>
												<td><a class="btn btn-dark btn-icon-split" 
													th:onclick="location.href=''">
													<span class="icon text-white-50">
														<i class="fas fa-clipboard-list"></i>
													</span>
													<span class="text text-white">상세정보</span>
													</a>
												</td>
											</tr>
										</tbody>
										
										<tfoot align="center">
										</tfoot>
										
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script>
    $(document).ready(function () {
      $('#dataTable').DataTable(); // ID From dataTable 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover
    });
  </script>
</body>
</html>