<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
   <div id="wrapper">
   
      <!-- Sidebar -->
      <th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

      <div id="content-wrapper" class="d-flex flex-column">
         <div id="content">
         
            <!-- Header -->
            <th:block th:replace="@{/common/header} :: header"></th:block>

            <!-- Container Fluid-->
            <div class="container-fluid" id="container-wrapper">
               <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800">영업활동</h1>
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                     <li class="breadcrumb-item">영업관리</li>
                     <li class="breadcrumb-item active" aria-current="page">영업활동</li>
                  </ol>
               </div>

               <!-- Row -->
               <div class="row">
               
               <!-- table_activity with Hover -->
                  <div class="col-lg-4">
                     <div style="background: lightgray;">
                        <div th:align="center"
                           style="font-size: 20px; font-weight: bold;">담당중인 고객 리스트</div>
                     </div>
                        <div class="card mb-4">
                           <div class="table-responsive p-3" style="overflow-y: scroll; height: 650px; width: 100%;">
                              <table class="table align-items-center table-flush table-hover" 
                                     id="table_activity" style="font-size: 13px;">
                                 <thead th:align="center" class="thead-light">
                                    <tr>
                                       <th style="width: 50%;">고객명</th>
                                       <th style="width: 50%;">관리</th>
                                    </tr>
                                 </thead>
                                 <tbody align="center" style="font-size: 6px;">
                                    <tr th:each="customerInfo : ${customerList}">
                                       <td class="col-lg-6" th:text="|[${customerInfo.customerNo}] ${customerInfo.customerName}|"></td>
                                       <td class="col-lg-6">
                                           <button type="button" class="btn btn-sm btn-info btn-icon-split insertActivity"
                                                   id="insertActivity"
                                                   th:value="${ customerInfo.customerNo }"
                                                   th:data-customer-no="${ customerInfo.customerNo }"
                                                   th:data-customer-name="${ customerInfo.customerName }"
                                                   th:data-emp-no="${ customerInfo.empNo }"
                                                   th:data-emp-name="${ customerInfo.empInfo.empName }">
                                          	  <span class="icon text-white"><i class="fas fa-edit" style="margin-right: 7px;"></i></span>
                                              <span class="text-xs text-white">영업활동등록</span>
                                          </button>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                      </div>

                  <!-- activityTable with Hover -->
                  <div class="col-lg-8">
                     <div class="card mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                           <h6 class="m-0 font-weight-bold text-primary">영업 활동 현황</h6>
                        </div>
                        <div class="table-responsive p-3">
                           <table class="table align-items-center table-flush table-hover" 
                                  id="activityTable" style="font-size: 13px;">
                              <thead align="center" class="thead-light">
                                 <tr>
                                    <th style="width: 15%;">활동번호</th>
                                    <th style="width: 15%;">고객명</th>
                                    <th style="width: 15%;">활동주제</th>
                                    <th style="width: 10%;">담당자</th>
                                    <th style="width: 20%;">등록일</th>
                                    <th style="width: 15%;">관리</th>
                                 </tr>
                              </thead>
                              <tbody th:align="center">
                                 <tr th:each="activityList: ${businessActivityList}">
                                    <td id="activityNo" th:text="${activityList.activityNo}"></td>
                                    <td th:text="|[${activityList.customerNo}] ${activityList.customerName}|"></td>
                                    <td th:text="${activityList.businessSubject}"></td>
                                    <td th:text="${activityList.empName}"></td>
                                    <td th:text="${activityList.writingTime}"></td>
                                    <td>
                                        <button type="button" class="btn-sm btn-success btn-icon-split activityDetailInfoBtn"
                                          		id="activityDetailInfoBtn">
                                          <span class="icon text-white"><i class="fas fa-info"></i></span>
                                          <span class="text-sl text-black">상세정보</span>
                                       </button>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <!------------- Insert Activity Modal --------------->
        <div class="modal fade" id="insertActivityModal" role="dialog">
            <div class="modal-dialog modal-xl">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: #0da8ee">영업활동 등록</h4>
                        <button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle"></i></button>
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <input type="hidden" value="emptyRow">
                            </div>
                        </div>
                    </div>
                    <form id="insertActivity" th:action="@{/business/activity/insert}" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <input type="hidden" value="emptyRow">
                                </div>
                                <input type="hidden" id="insertCustomerNo" name="customerNo" >
                                <input type="hidden" id="insertEmpNo" name="empNo" >
                            </div>
                            <div class="card mb-auto">
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <input type="hidden" value="emptyRow">
                                    </div>
                                </div>
                                <div class="row" id="insertActivityForm">
                                    <div class="form-group col-lg-12 row">
                                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                        <label for="insertBusinessSubject" class="col-lg-1 form-control-plaintext"
                                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                               th:align="center">활동주제</label>
                                        <input type="text" class="form-control col-lg-4"
                                               id="insertBusinessSubject" name="businessSubject">
                                        <label for="insertEmpName" class="col-lg-1 form-control-plaintext"
                                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                               th:align="center">담당자</label>
                                        <input type="text" class="form-control col-lg-4"
                                               id="insertEmpName" name="empName" readonly>
                                    </div>
                                    <div class="form-group col-lg-12 row">
                                        <div class="form-group col-lg-1">
                                        	<input type="hidden" value="emptyRow">
                                        </div>
                                        <label for="insertCustomerName" class="col-lg-1 form-control-plaintext"
                                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                               th:align="center">고객명</label>
                                        <input type="text" class="form-control col-lg-4"
                                               id="insertCustomerName" name="customerName" readonly>
                                        <label for="insertBusinessType" class="col-lg-1 form-control-plaintext"
                                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                               th:align="center">유형</label>
                                        <input type="text" class="form-control col-lg-4"
                                               id="insertBusinessType" name="businessType">
                                    </div>
                                    <div class="form-group col-lg-12 row">
                                        <div class="form-group col-lg-1">
                                        	<input type="hidden" value="emptyRow">
                                        </div>
                                        <label for="insertBusinessLocation" class="col-lg-1 form-control-plaintext"
                                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                               th:align="center">장소</label>
                                        <input type="text" class="form-control col-lg-9"
                                               id="insertBusinessLocation" name="businessLocation">
                                    </div>
                                    <div class="form-group col-lg-12 row">
                                        <div class="form-group col-lg-1">
                                        	<input type="hidden" value="emptyRow">
                                        </div>
                                        <label for="insertBusinessPurpose" class="col-lg-1 form-control-plaintext"
                                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                               th:align="center">목적</label>
                                        <input type="text" class="form-control col-lg-9"
                                               id="insertBusinessPurpose" name="businessPurpose">
                                    </div>
                                    <div class="form-group col-lg-12 row">
                                        <div class="form-group col-lg-1">
                                        	<input type="hidden" value="emptyRow">
                                        </div>
                                        <label for="insertBusinessContents" class="col-lg-1 form-control-plaintext"
                                               style="color: #109EDE; background-color: #DEE5FF; padding-top: 85px; padding-bottom: 85px;">활동내용</label>
                                        <textarea type="text" class="form-control col-lg-9" style="resize: none; height: 200px;"
                                                  id="insertBusinessContents" name="businessContents"></textarea>
                                    </div>
                                    <div class="form-group col-lg-12 row">
                                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                        <label for="insertActivityStartTime" class="col-lg-1 form-control-plaintext"
                                               th:align="center"
                                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">시작시간</label>
                                        <input name="activityStartTime"
                                               id="insertActivityStartTime" type="datetime-local" class="form-control col-lg-9">
                                    </div>
                                    <div class="form-group col-lg-12 row">
                                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                        <label for="insertActivityEndTime" class="col-lg-1 form-control-plaintext"
                                               th:align="center"
                                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">종료시간</label>
                                        <input name="activityEndTime"
                                               id="insertActivityEndTime" type="datetime-local" class="form-control col-lg-9">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="successInsertBtn" class="btn btn-primary">영업활동 등록</button>
                            </div>
                        </div>
                    </form>
                    <div id="count" value="1"></div>
                </div>
            </div>
        </div>
   
   <!------------- activity DetailInfo Modal --------------->
    <div class="modal fade" id="activityDetailInfoModal" role="dialog">
            <div class="modal-dialog modal-xl">

                <!-- Modal content-->
     <div class="modal-content">
    <div class="modal-header">
        <div class="row col-sm-12">
            <h4 class="modal-title" style="color: #0da8ee; padding: 10px">영업활동 상세정보</h4>
            <button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle"></i></button>
        </div>
        <div class="row">
            <div class="form-group col-sm-12"><input type="hidden" value="emptyRow"></div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12"><input type="hidden" value="emptyRow"></div>
        </div>

    </div>
    <form id="modifyForm">
        <div class="modal-body">
            <div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
            <input type="hidden" id="activityNoForm" name="activityNo" >
            <input type="hidden" id="customerNo" name="customerNo" >
            <input type="hidden" id="empNo" name="empNo" >
            <div th:align="right" class="form-group col-lg-12 row">
                <input type="hidden" value="emptyRow">
                <div class="form-group col-lg-9"></div>
                <label for="writingTime" th:align="center" style="margin-right: 10px;">작성일시 :</label>
                <span id="writingTime" th:align="center"></span>
            </div>
            <div class="card mb-auto">
                <div class="row">
                    <div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
                </div>
                <div class="row" id="insertActivityForm">
                    <div class="form-group col-lg-12 row">
                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        <label for="businessSubject" class="col-lg-1 form-control-plaintext"
                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                               th:align="center">활동주제</label>
                        <input type="text" class="form-control col-lg-4"
                               id="businessSubject" name="businessSubject" readonly>
                        <label for="empName" class="col-lg-1 form-control-plaintext"
                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                               th:align="center">담당자</label>
                        <input type="text" class="form-control col-lg-4"
                               id="empName" name="empName" readonly>
                    </div>
                    <div class="form-group col-lg-12 row">
                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        <label for="customerName" class="col-lg-1 form-control-plaintext"
                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                               th:align="center">고객명</label>
                        <input type="text" class="form-control col-lg-4"
                               id="customerName" name="customerName" readonly>
                        <label for="businessType" class="col-lg-1 form-control-plaintext"
                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                               th:align="center">유형</label>
                        <input type="text" class="form-control col-lg-4"
                               id="businessType" name="businessType" readonly>
                    </div>
                    <div class="form-group col-lg-12 row">
                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        <label for="insertBusinessLocation" class="col-lg-1 form-control-plaintext"
                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                               th:align="center">장소</label>
                        <input type="text" class="form-control col-lg-9"
                               id="businessLocation" name="businessLocation" readonly>
                    </div>
                    <div class="form-group col-lg-12 row">
                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        <label for="insertBusinessPurpose" class="col-lg-1 form-control-plaintext"
                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                               th:align="center">목적</label>
                        <input type="text" class="form-control col-lg-9"
                               id="businessPurpose" name="businessPurpose" readonly>
                    </div>
                    <div class="form-group col-lg-12 row">
                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        <label for="insertBusinessContents" class="col-lg-1 form-control-plaintext"
                               style="color: #109EDE; background-color: #DEE5FF; padding-top: 85px; padding-bottom: 85px;">활동내용</label>
                        <textarea type="text" class="form-control col-lg-9" style="resize: none; height: 200px;"
                                  id="businessContents" name="businessContents" disabled></textarea>
                    </div>
                    <div class="form-group col-lg-12 row">
                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        <label for="activityStartTime" class="col-lg-1 form-control-plaintext"
                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                               th:align="center">시작시간</label>
                        <input type="text" class="form-control col-lg-9"
                               id="activityStartTime" name="activityStartTime" readonly>
                    </div>
                    <div class="form-group col-lg-12 row">
                        <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        <label for="activityEndTime" class="col-lg-1 form-control-plaintext"
                               style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                               th:align="center">종료시간</label>
                        <input type="text" class="form-control col-lg-9"
                               id="activityEndTime" name="activityEndTime" readonly>
                    </div>
                </div>
            </div>
        </div>
    </form>
        	<div class="modal-footer">
            	<button type="button" id="modifyActivity" class="btn btn-primary">영업활동 수정</button>
            	<button type="button" id="deleteActivity" class="btn btn-danger">영업활동 삭제</button>
        	</div>
        	<div id="count" value="1"></div>
       </div>
   </div>
</div>   
   <!-- Script -->
   <th:block th:replace="@{/common/script} :: script"></th:block>

   <!-- Page level plugins -->

   <!-- Page level custom scripts -->
   <script>
   
   /* 영업활동 등록/수정/삭제 후 alert 메세지 출력 */
	const message = '[[${ message }]]';

	if(message) {
		alert(message);
	}
   
    $(document).ready(function () {
   	    // ID From activityTable
        $("#activityTable").DataTable({
    	  order:[]
        }); 
   	  
        // ID From table_activity
	    $("#table_activity").DataTable({
    	  order:[]
        }); 
    });
    
    /* 영업활동 등록 버튼 클릭시 동작 */
    $(".insertActivity").click(function () {
       
       /* 영업활동 등록 폼 입력값 초기화 */
       $("#insertActivityForm").find('input').each(function(){ $(this).val(''); });
       $("#insertActivityForm").find('textarea').each(function(){ $(this).val(''); });

       /* 영업활동 등록 모달창 실행 */
        $("#insertActivityModal").modal();
        const cusmtomerNo = $(this).data('customer-no');
        const cusmtomerName = $(this).data('customer-name');
        const empNo = $(this).data('emp-no');
        const empName = $(this).data('emp-name');
        
        $('#insertCustomerNo').val(cusmtomerNo);
        $('#insertCustomerName').val(cusmtomerName);
        $('#insertEmpNo').val(empNo);
        $('#insertEmpName').val(empName);
        
        /* insertModal 영업활동등록버튼 클릭시  */
        $('#successInsertBtn').on('click', function test() {
        if(!confirm("영업활동을 등록하시겠습니까?")) {
        	return false;
        }	
        	$('#insertActivity').submit();		//영업활동 추가 컨트롤러로 이동
        });
    });
    
    /* [상세정보] 버튼 클릭 시 동작 */
    $('.activityDetailInfoBtn').on('click', function test() {
    	
       const activityNo = $(this).parent().siblings().eq(0).text();
       
       $('#activityDetailInfoModal').modal();
       
       $.ajax({
           url: "/business/activity/selectDetailInfo",
           type: "GET",
           data: {activityNo: activityNo},
           success: function(data, status, xhr) {
              
              const activityInfo = JSON.parse(data.activityInfo);
   		      
   			  $('#activityNoForm').val(activityInfo.activityNo);
              $('#customerNo').val(activityInfo.customerNo); 
              $('#empNo').val(activityInfo.empNo); 
              $('#writingTime').text(activityInfo.writingTime); 
              $('#businessSubject').val(activityInfo.businessSubject); 
              $('#empName').val(activityInfo.empName); 
              $('#customerName').val(activityInfo.customerName); 
              $('#businessType').val(activityInfo.businessType); 
              $('#businessLocation').val(activityInfo.businessLocation); 
              $('#businessPurpose').val(activityInfo.businessPurpose); 
              $('#businessContents').val(activityInfo.businessContents); 
              $('#businessPurpose').val(activityInfo.businessPurpose); 
              $('#activityStartTime').val(activityInfo.activityStartTime); 
              $('#activityEndTime').val(activityInfo.activityEndTime); 
              
              $("#deleteActivity").attr('data-activity-no', activityNo);
           },
           error: function(xhr, status, error) {
             console.log(xhr);
           }
        });
     });
    
    /* [영업활동 삭제] 버튼 클릭시 동작 */
    $(document).on('click', '#deleteActivity', function () {
    	if(confirm("영업활동 삭제 하시겠습니까?")) {
            $('#modifyForm').attr('action', '/business/activity/delete');
        	$('#modifyForm').attr('method', 'post');
        	$('#modifyForm').submit();
    	}
    });  
    
    /* [영업활동 수정] 버튼 클릭 시 동작(readonly 해제 및 아래쪽 버튼 변경) */
    $(document).on('click', '#modifyActivity', function () {

        $('input').attr('readonly', false);
        $('#customerName').attr('readonly', true);
        $('#empName').attr('readonly', true);
        $('textarea').attr('disabled', false);

        var text = $('#modifyActivity').text();
        if(text == '영업활동 수정') {

            $('#modifyActivity').text('수정 완료');
            $('#modifyActivity').attr('id', 'successModifyActivity');

            $('#deleteActivity').text('돌아가기');
            $('#deleteActivity').attr('id', 'backToDetail');
            
            var startTime = $('#activityStartTime').val().replace(' ', 'T');
            var endTime = $('#activityEndTime').val().replace(' ', 'T');

            $('#activityStartTime').attr('type', 'datetime-local');
            $('#activityStartTime').val(startTime);

            $('#activityEndTime').attr('type', 'datetime-local');
            $('#activityEndTime').val(endTime);
        };

        /* [수정완료] 버튼 클릭시 동작 */
        $(document).on('click', '#successModifyActivity', function () {
        	
        	if(confirm("영업활동 내용을 수정하시겠습니까?")) {
            	$('#modifyForm').attr('action', '/business/activity/modify');
            	$('#modifyForm').attr('method', 'post');
            	$('#modifyForm').submit();
        	}
        });

        /* [돌아가기] 버튼 클릭시 동작(readonly 적용) */
        $(document).on('click', '#backToDetail', function () {
   
            $('input').attr('readonly', true);
            $('textarea').attr('disabled', true);

             var text = $('#successModifyActivity').text();
             if(text == '수정 완료') {

                 $('#successModifyActivity').text('영업활동 수정');
                 $('#successModifyActivity').attr('id', 'modifyActivity');

                 $('#backToDetail').text('영업활동 삭제');
                 $('#backToDetail').attr('id', 'deleteActivity');

                 var startTime = $('#activityStartTime').val().replace(' ', 'T');
                 var endTime = $('#activityEndTime').val().replace(' ', 'T');

                 $('#activityStartTime').attr('type', 'text');
                 $('#activityEndTime').attr('type', 'text');
                 
                 const activityNo = $(this).data('activity-no')
                 
                $.ajax({
                  url: "/business/activity/selectDetailInfo",
                  type: "GET",
                  data: {activityNo: activityNo},
                  success: function(data, status, xhr) {
                     
                     const activityInfo = JSON.parse(data.activityInfo);
                     
                     $('#writingTime').text(activityInfo.writingTime); 
                     $('#insertBusinessSubject').val(activityInfo.businessSubject);
                     $('#empName').val(activityInfo.empName); 
                     $('#customerName').val(activityInfo.customerName); 
                     $('#businessType').val(activityInfo.businessType); 
                     $('#businessLocation').val(activityInfo.businessLocation); 
                     $('#businessPurpose').val(activityInfo.businessPurpose); 
                     $('#businessContents').val(activityInfo.businessContents); 
                     $('#businessPurpose').val(activityInfo.businessPurpose); 
                     $('#activityStartTime').val(activityInfo.activityStartTime); 
                     $('#activityEndTime').val(activityInfo.activityEndTime); 
                  },
                  error: function(xhr, status, error) {
                    console.log(xhr);
                 }
               });
             }
          });
    	});
  </script>
  
</body>
</html>