<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:replace="@{common/config} :: config"></th:block>
</head>

<body id="page-top">
	<div id="wrapper">
		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Container Fluid-->
				<div class="container-fluid" id="container-wrapper">
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">영업기회</h1>
						<div
							class="d-sm-flex align-items-center justify-content-between mb-4"
							style="float: right; margin-right: 3%;">
							<button type="button" id="btnBack" class="close">
								<i class="far fa-times-circle fa-2x"></i>
							</button>
						</div>
					</div>

					<!-- Row -->
					<div class="row">

						<!-- start 영업기회 상태변경 이력 -->
						<div class="col-lg-4" style="padding-left: 50px;">
							<div style="background: lightgray;">
								<div th:align="center"
									style="font-size: 20px; font-weight: bold; padding-top: 5px; padding-bottom: 5px;">영업기회 상태변경 이력</div>
							</div>
							<div class="card mb-4"
								style="overflow-y: scroll; width: 100%; height: 400px;">
								<div th:align="center"
									style="margin-left: 4px; margin-right: 4px; margin-top: 15px; margin-bottom: 15px;">
									<ul class="navbar-nav"
										th:each="chanceHistory : ${chanceHistoryList}">
										<li class="alert alert-light mb-1">
											<span th:text="|[${chanceHistory.empName}] 님이|"></span><br>
											<span th:if="${chanceHistory.businessTitle} != null" th:utext="|영업기회명을 [${chanceHistory.businessTitle}] 로 &lt;br /&gt;|"></span>
											<span th:if="${chanceHistory.progressStatus} != null" th:utext="|진행단계를 [${chanceHistory.progressStatus}] 상태로 &lt;br /&gt;|"></span>
											<span th:if="${chanceHistory.salesLevel} != null" th:utext="|영업단계를 [${chanceHistory.salesLevel}] 상태로 &lt;br /&gt;|"></span>
											<span th:if="${chanceHistory.successPosibillity} != 999" th:utext="|성공가능성을 [${chanceHistory.successPosibillity}%]로 &lt;br /&gt;|"></span>
											<span th:if="${chanceHistory.dueDate} != null" th:utext="|마감예정일을 [${chanceHistory.dueDate}]로 &lt;br /&gt;|"></span>
											<span th:text="변경하였습니다."></span><br>
											<span th:text="${chanceHistory.businessChanceChangeDate}"></span><br>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- end 영업기회 상태변경 이력 -->
						
						<!-- start 영업기회 기본정보 -->
						<div class="col-lg-8" th:align="center">
								<div style="background: lightgray;">
									<div th:align="center"
										style="font-size: 25px; font-weight: bold; padding-top: 5px; padding-bottom: 5px;">영업기회정보</div>
								</div>
								<div class="card mb-4">
									<form id="modifyChanceInfoForm" th:action="@{/business/chance/modify}" method="post"
										  class="form-group"
										  style="margin-left: 30px; margin-right: 30px; margin-top: 15px;">
										<div class="row">
											<div class="form-group col-xl-1">
												<label>No</label>
												<input class="form-control" id="businessChanceNo" name="businessChanceNo" 
													   th:value="${businessChanceInfo.businessChanceNo}" readonly>
											</div>
											<div class="form-group col-xl-5">
												<label>영업기회명</label>
												<input class="form-control" id="businessTitle" name="businessTitle"
													   th:value="${businessChanceInfo.businessTitle}" readonly>
											</div>
											<div class="form-group col-xl-1"></div>
											<div class="form-group col-xl-2">
												<label>진행상태</label>
												<select id="progressStatus" name="progressStatus" class="form-control" disabled>
													<option th:selected="${businessChanceInfo.progressStatus} == '진행중'">진행중</option>
													<option th:selected="${businessChanceInfo.progressStatus} == '성공'">성공</option>
													<option th:selected="${businessChanceInfo.progressStatus} == '실패'">실패</option>
													<option th:selected="${businessChanceInfo.progressStatus} == '보류중'">보류중</option>
												</select>
											</div>
											<div class="form-group col-xl-1"></div>
											<div class="form-group col-xl-2">
												<label>담당사원</label>
												<input class="form-control" id="empName" name="empName"
													   th:value="${businessChanceInfo.empName}" readonly>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-xl-3">
												<label>고객사</label>
												<input class="form-control" id="customerCompanyName" name="customerCompanyName"
													   th:value="${businessChanceInfo.customerCompanyName}" readonly>
											</div>
											<div class="form-group col-xl-3">
												<label>고객명</label>
												<input class="form-control" id="customerName" name="customerName" 
													   th:value="${businessChanceInfo.customerName}" readonly>
											</div>
											<div class="form-group col-xl-1"></div>
											<div class="form-group col-xl-2">
												<label>영업단계</label>
												<select class="form-control" id="salesLevel" name="salesLevel" disabled>
													<option th:selected="${businessChanceInfo.salesLevel} == '거래제의'">거래제의</option>
													<option th:selected="${businessChanceInfo.salesLevel} == '견적'">견적</option>
													<option th:selected="${businessChanceInfo.salesLevel} == '발주'">발주</option>
													<option th:selected="${businessChanceInfo.salesLevel} == '청구'">청구</option>
													<option th:selected="${businessChanceInfo.salesLevel} == '수금'">수금</option>
												</select>
											</div>
											<div class="form-group col-xl-1"></div>
											<div class="form-group col-xl-2">
												<label>성공가능성</label>
												<select class="form-control" id="successPosibillity" name="successPosibillity" disabled>
													<option th:selected="${businessChanceInfo.successPosibillity} == '10'" value=10>10%</option>
													<option th:selected="${businessChanceInfo.successPosibillity} == '20'" value=20>20%</option>
													<option th:selected="${businessChanceInfo.successPosibillity} == '30'" value=30>30%</option>
													<option th:selected="${businessChanceInfo.successPosibillity} == '40'" value=40>40%</option>
													<option th:selected="${businessChanceInfo.successPosibillity} == '50'" value=50>50%</option>
													<option th:selected="${businessChanceInfo.successPosibillity} == '60'" value=60>60%</option>
													<option th:selected="${businessChanceInfo.successPosibillity} == '70'" value=70>70%</option>
													<option th:selected="${businessChanceInfo.successPosibillity} == '80'" value=80>80%</option>
													<option th:selected="${businessChanceInfo.successPosibillity} == '90'" value=90>90%</option>
													<option th:selected="${businessChanceInfo.successPosibillity} == '100'" value=100>100%</option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-xl-6">
												<label>관심상품</label>
												<div style="white-space: nowrap; overflow-x: auto; width: auto; height: 50px; border: 1px solid lightgray; background-color: #F6F2FB;">
													<div id="productName" name="productName"
														th:text="${businessChanceInfo.productName}"></div>
												</div>
											</div>
											<div class="form-group col-xl-1"></div>
											<div class="form-group col-xl-5">
												<label>마감예정일</label>
												<input type="text" class="form-control" id="dueDate" name="dueDate" 
													   th:value="${businessChanceInfo.dueDate}" readonly>
											</div>
										</div>
									</form>
									<div class="row">
										<div class="form-group col-xl-12" th:align="center">
											<button type="button" class="btn btn-warning" id="modifyChanceInfoBtn"
													style="margin-right: 1%; margin-top: 2%" th:text="수정하기">
											</button>
											<button type="button" class="btn btn-success" id="detailInfo" 
												    style="margin-left: 1%; margin-top: 2%" th:text="고객상세정보">
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- end 영업기회 기본정보 -->
						</div>

				<!-- start 선택한 영업기회 대상고객에 대한 활동내역 -->
				<div class="row">

					<div class="col-lg-4"></div>
					<div class="col-lg-8">
						<div class="card mb-4" style="background: #F6F2FB;">
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
								 style="background: lightgray;">
								<h6 class="m-0 font-weight-bold text-primary">영업활동내역</h6>
								<div>
									<button type="button" class="btn btn-info btn-icon-split" 
										    th:onclick="|location.href='@{/business/activity/selectAll}'|">
										<span class="icon text-white"><i class="fas fa-edit"></i></span>
									 	<span class="text text-white">활동이력등록</span>
									</button>
								</div>
							</div>
							<div class="table-responsive p-3"
								style="overflow-y: scroll; height: 450px;">
								<table class="table align-items-center table-flush table-hover"
									   id="table_activity">
									<thead th:align="center" class="thead-light">
										<tr>
											<th>활동이력번호</th>
											<th>활동주제</th>
											<th>담당자</th>
											<th>등록일</th>
											<th>관리</th>
										</tr>
									</thead>
									<tbody align="center">
										<tr th:each="activityList : ${businessActivityList}">
											<td th:text="${activityList.activityNo}"></td>
											<td th:text="${activityList.businessSubject}"></td>
											<td th:text="${activityList.empName}"></td>
											<td th:text="${activityList.writingTime}"></td>
											<td>
												<button type="button" class="btn btn-light btn-icon-split activityDetail"
												   		id="activityDetail" th:value="${ activityList.activityNo }">
													<span class="icon text-black-50"><i class="fas fa-clipboard-list"></i></span> 
													<span class="text text-black">상세정보</span>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- end 선택한 영업기회 대상고객에 대한 활동내역 -->
			</div>
		</div>
			<!-- End ContainerFluid -->
		</div>
	</div>

	<!------------- start 고객상세정보 Modal --------------->
	<div class="modal fade" id="detailModal" role="dialog">
		<div class="modal-dialog modal-xl modal-dialog-centered">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" style="color: #0da8ee">고객 상세정보</h4>
					<button type="button" class="close" data-dismiss="modal">
						<i class="far fa-times-circle"></i>
					</button>
					<div class="row">
						<div class="form-group col-lg-12">
							<input type="hidden" value="emptyRow">
						</div>
					</div>
				</div>
				<div class="modal-body">
					<span th:text="${ customerInfo.companyName }" style="font-size: x-large; color: #2e2f37;" ></span>
						  
					<div class="row">
						<div class="form-group col-lg-12">
							<input type="hidden" th:value="emptyRow">
						</div>
					</div>
					<div class="card mb-auto">
						<div class="row">
							<div class="form-group col-lg-12">
								<input type="hidden" th:value="emptyRow">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" th:value="emptyRow">
								</div>
								<label for="modalCustomerNo" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">고객번호</label>
								<input type="text" class="form-control col-lg-7" id="modalCustomerNo" 
									   th:value="${customerInfo.customerList[0].customerNo}" readonly>
							</div>
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalCustomerName" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">고객명</label>
								<input type="text" class="form-control col-lg-7" id="modalCustomerName" 
									   th:value="${customerInfo.customerList[0].customerName}" readonly>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalRegistNo" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">사업자등록번호</label>
								<input type="text" class="form-control col-lg-7" id="modalRegistNo" 
									   th:value="${customerInfo.companyRegistNo}" readonly>
							</div>
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" th:value="emptyRow">
								</div>
								<label for="modalCustomerPhone" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">담당자전화번호</label>
								<input type="text" class="form-control col-lg-7" id="modalCustomerPhone" 
									   th:value="${customerInfo.customerList[0].customerPhone}" readonly>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalBusinessStatus" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">업태</label>
								<input type="text" class="form-control col-lg-7" id="modalBusinessStatus" 
									   th:value="${customerInfo.businessStatus}" readonly>
							</div>
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalCustomerEmail" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">담당자이메일</label>
								<input type="text" class="form-control col-lg-7"
									   id="modalCustomerEmail" name="modalCustomerEmail"
									   th:value="${customerInfo.customerList[0].customerEmail}" readonly>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalBusinessType" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">종목</label>
								<input type="text" class="form-control col-lg-7" id="modalBusinessType" 
									   th:value="${customerInfo.businessType}" readonly>
							</div>
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalAddress" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">주소</label>
								<input type="text" class="form-control col-lg-7" id="modalAddress" 
									   th:value="${customerInfo.customerList[0].customerAddress}" readonly>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalNumberOfEmp" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">직원수(명)</label>
								<input type="text" class="form-control col-lg-7" id="modalNumberOfEmp" 
									   th:value="${customerInfo.numberOfEmployees}" readonly>
							</div>
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div> 
								<label for="modalCustomizationDate" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">고객화일자</label>
								<input type="text" class="form-control col-lg-7" id="modalCustomizationDate" 
									   th:value="${customerInfo.customerList[0].extCustomerDetail.customizationDate}" readonly>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalRevenue" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">연매출액(만원)</label>
								<input type="text" class="form-control col-lg-7" id="modalRevenue" 
									   th:value="${customerInfo.companyRevenue}" readonly>
							</div>
							<div class="form-group col-lg-6 row">
								<input type="hidden" value="emptyRow">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalWebsite" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">웹사이트</label>
								<input type="text" class="form-control col-lg-7" id="modalWebsite"
									   th:value="${customerInfo.homepage}" readonly>
							</div>
							<div class="form-group col-lg-6 row">
								<input type="hidden" value="emptyRow">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-lg-6 row">
								<div class="form-group col-lg-1">
									<input type="hidden" value="emptyRow">
								</div>
								<label for="modalFax" class="col-lg-4 form-control-plaintext" th:align="center"
									   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">팩스</label>
								<input type="text" class="form-control col-lg-7" id="modalFax" 
									   th:value="${customerInfo.customerList[0].customerFax}" readonly>
							</div>
							<div class="form-group col-lg-6 row">
								<input type="hidden" th:value="emptyRow">
							</div>
						</div>
					</div>
				</div>
				<div id="count" value="1"></div>
			</div>
		</div>
	</div>
	<!------------- end 고객상세정보 Modal --------------->
	
	<!------------- activity DetailInfo Modal --------------->
    <div class="modal fade" id="activityDetailInfoModal" role="dialog">
    	<div class="modal-dialog modal-xl">

     		<!-- Modal content-->
    	<div class="modal-content">
    		<div class="modal-header">
        		<div class="row col-sm-12">
            		<h4 class="modal-title" style="color: #0da8ee; padding: 10px">영업활동 상세정보</h4>
            		<button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle"></i></button>
        		</div>
        		<div class="row">
            		<div class="form-group col-sm-12"><input type="hidden" th:value="emptyRow"></div>
        		</div>
        		<div class="row">
            		<div class="form-group col-sm-12"><input type="hidden" th:value="emptyRow"></div>
        		</div>
    		</div>
    		<form id="modifyForm">
        		<div class="modal-body">
            		<div class="form-group col-lg-12"><input type="hidden" th:value="emptyRow"></div>
            		<input type="hidden" id="activityNoForm" name="activityNo" >
            		<input type="hidden" id="customerNo" name="customerNo" >
            		<input type="hidden" id="empNo" name="empNo" >
            		<div th:align="right" class="form-group col-lg-12 row">
                		<input type="hidden" th:value="emptyRow">
                		<div class="form-group col-lg-9"></div>
                		<label for="writingTime" th:align="center" style="margin-right: 10px;">작성일시 :</label>
               			<span id="writingTime" th:align="center"></span>
            		</div>
            		<div class="card mb-auto">
                		<div class="row">
                    		<div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
                		</div>
                		<div class="row" id="insertActivityForm">
                    		<div class="form-group col-lg-12 row">
                        		<div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        		<label for="businessSubject" class="col-lg-1 form-control-plaintext"
                              	   	   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                               	       th:align="center">활동주제</label>
                        		<input type="text" class="form-control col-lg-4"
                               	       id="businessSubject" name="businessSubject" readonly>
                        		<label for="empName" class="col-lg-1 form-control-plaintext"
                                       style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                       th:align="center">담당자</label>
                        		<input type="text" class="form-control col-lg-4"
                                       id="empNameModal" name="empNameModal" readonly>
                    		</div>
                    		<div class="form-group col-lg-12 row">
                        		<div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        		<label for="customerName" class="col-lg-1 form-control-plaintext"
                               	       style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                       th:align="center">고객명</label>
                        		<input type="text" class="form-control col-lg-4"
                                       id="customerNameModal" name="customerNameModal" readonly>
                        		<label for="businessType" class="col-lg-1 form-control-plaintext"
                                       style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                       th:align="center">유형</label>
                        		<input type="text" class="form-control col-lg-4"
                                       id="businessType" name="businessType" readonly>
                    		</div>
                    		<div class="form-group col-lg-12 row">
                        		<div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        		<label for="insertBusinessLocation" class="col-lg-1 form-control-plaintext"
                                       style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                       th:align="center">장소</label>
                        		<input type="text" class="form-control col-lg-9"
                                       id="businessLocation" name="businessLocation" readonly>
                    		</div>
                    		<div class="form-group col-lg-12 row">
                        		<div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        		<label for="insertBusinessPurpose" class="col-lg-1 form-control-plaintext"
                               	   	   style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                       th:align="center">목적</label>
                        		<input type="text" class="form-control col-lg-9"
                                       id="businessPurpose" name="businessPurpose" readonly>
                    		</div>
                    		<div class="form-group col-lg-12 row">
                        		<div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        		<label for="insertBusinessContents" class="col-lg-1 form-control-plaintext"
                                       style="color: #109EDE; background-color: #DEE5FF; padding-top: 85px; padding-bottom: 85px;">활동내용</label>
                        		<textarea type="text" class="form-control col-lg-9" style="resize: none; height: 200px;"
                                          id="businessContents" name="businessContents" disabled></textarea>
                    		</div>
                    		<div class="form-group col-lg-12 row">
                        		<div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        		<label for="activityStartTime" class="col-lg-1 form-control-plaintext"
                                       style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                       th:align="center">시작시간</label>
                        		<input type="text" class="form-control col-lg-9"
                                       id="activityStartTime" name="activityStartTime" readonly>
                    		</div>
                    		<div class="form-group col-lg-12 row">
                        		<div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                        		<label for="activityEndTime" class="col-lg-1 form-control-plaintext"
                                       style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF"
                                       th:align="center">종료시간</label>
                        		<input type="text" class="form-control col-lg-9"
                                       id="activityEndTime" name="activityEndTime" readonly>
                    		</div>
                		</div>
            		</div>
        		</div>
    		</form>
    		<div id="count" value="1"></div>
		</div>
	</div>
</div> 

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>

	<script>
		$(document).ready(function() {
			$('#dataTable').DataTable(); // ID From dataTable
			$('#table_activity').DataTable(); // ID Fromtable_activity with Hover
		});

		/* 영업기회 현황 목록에서 [상세정보] 버튼 클릭 시 동작 */
		$(document).on('click', '#detailInfo', function() {
			$('#detailModal').modal();
		});
	
		/* 뒤로가기 [X] 버튼 */
		$('#btnBack').click(function() {
			window.history.back();
		});

		/* 영업기회목록에서 상세정보 버튼 클릭 시 동작 */
		$(document).on('click', '.activityDetail', function() {
			$.ajax({
				url : "customer/activity/select",
				type : "GET",
				data : {
					activityNo : $("#activityDetail").val()
				},
				success : function(data, status, xhr) {

					const activity = JSON.parse(data.activityOne);
				},
				error : function(xhr, status, error) {
					console.log(error);
				}
			});
			$('#activityDetailInfoModal').modal();
		});

		/* [수정하기] 버튼 눌렀을경우 동작 */
		$(document).on('click', '#modifyChanceInfoBtn', function() {
			
			const beforeTitle = $('#businessTitle').val();
			const beforeStatus = $('#progressStatus').val();
			const beforeLevel = $('#salesLevel').val();
			const beforePosibillity = $('#successPosibillity').val();
			const beforeDate = $('#dueDate').val();
			
			$('#businessTitle').attr('readonly', false);
			$('#progressStatus').attr('disabled', false);
			$('#salesLevel').attr('disabled', false);
			$('#successPosibillity').attr('disabled', false);
			$('#dueDate').attr('readonly', false);

		        var text = $('#modifyChanceInfoBtn').text();
		        if(text == '수정하기') {

		            $('#modifyChanceInfoBtn').text('수정완료');
		            $('#modifyChanceInfoBtn').attr('class', 'btn btn-primary');
		            $('#modifyChanceInfoBtn').attr('id', 'successmodifyChanceInfoBtn');

		            $('#detailInfo').text('취소');
		            $('#detailInfo').attr('class', 'btn btn-secondary');
		            $('#detailInfo').attr('id', 'backToDetail');
		            
		            var endTime = $('#dueDate').val();

		            $('#dueDate').attr('type', 'date');
		            $('#dueDate').val(endTime);
		        } 
		        
		        /* [수정완료] 버튼 클릭 시 동작(form 전송) */
				 $(document).on('click', '#successmodifyChanceInfoBtn', function() {
					
					if(beforeTitle == $('#businessTitle').val() && beforeStatus == $('#progressStatus').val() &&
					   beforeLevel == $('#salesLevel').val() && beforePosibillity == $('#successPosibillity').val() &&
					   beforeDate == $('#dueDate').val()) {
						
						alert("변경된 내용이 없습니다.");
						
					} else {
						
					   $('#modifyChanceInfoForm').submit(); 
					}
					 
				 });
		});
		
		 /* [취소하기] 버튼 클릭 시 동작 */
		 $(document).on('click', '#backToDetail', function() {
				
				$('#businessTitle').attr('readonly', true);
				$('#progressStatus').attr('disabled', true);
				$('#salesLevel').attr('disabled', true);
				$('#successPosibillity').attr('disabled', true);
				$('#dueDate').attr('readonly', true);

			        var text = $('#successmodifyChanceInfoBtn').text();
			        if(text == '수정완료') {

			            $('#successmodifyChanceInfoBtn').text('수정하기');
			            $('#successmodifyChanceInfoBtn').attr('class', 'btn btn-warning');
			            $('#successmodifyChanceInfoBtn').attr('id', 'modifyChanceInfoBtn');

			            $('#backToDetail').text('고객상세정보');
			            $('#backToDetail').attr('class', 'btn btn-success');
			            $('#backToDetail').attr('id', 'detailInfo');
			            
			            var endTime = $('#dueDate').val();

			            $('#dueDate').attr('type', 'text');
			            $('#dueDate').val(endTime);
			        }
			});
	
		 	/* [상세정보] 버튼 클릭 시 동작 */
		    $('.activityDetail').on('click', function test() {
		    	
		       const activityNo = $(this).parent().siblings().eq(0).text();
		       
		       $('#activityDetailInfoModal').modal();
		       
		       $.ajax({
		           url: "/business/activity/selectDetailInfo",
		           type: "GET",
		           data: {activityNo: activityNo},
		           success: function(data, status, xhr) {
		              
		              const activityInfo = JSON.parse(data.activityInfo);
		   		      
		   			  $('#activityNoForm').val(activityInfo.activityNo);
		              $('#customerNo').val(activityInfo.customerNo); 
		              $('#empNo').val(activityInfo.empNo); 
		              $('#writingTime').text(activityInfo.writingTime); 
		              $('#businessSubject').val(activityInfo.businessSubject); 
		              $('#empNameModal').val(activityInfo.empName); 
		              $('#customerNameModal').val(activityInfo.customerName); 
		              $('#businessType').val(activityInfo.businessType); 
		              $('#businessLocation').val(activityInfo.businessLocation); 
		              $('#businessPurpose').val(activityInfo.businessPurpose); 
		              $('#businessContents').val(activityInfo.businessContents); 
		              $('#businessPurpose').val(activityInfo.businessPurpose); 
		              $('#activityStartTime').val(activityInfo.activityStartTime); 
		              $('#activityEndTime').val(activityInfo.activityEndTime); 
		           },
		           error: function(xhr, status, error) {
		             console.log(xhr);
		           }
		        });
		     });
		
	</script>
</body>
</html>