<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head>
<th:block th:replace="@{common/config} :: config"></th:block>
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">
	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">

				<!-- Header -->
				<th:block th:replace="@{/common/header} :: header"></th:block>

				<!-- Container Fluid-->
				<div class="container-fluid" id="container-wrapper">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">영업기회 조회</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
							<li class="breadcrumb-item">영업관리</li>
							<li class="breadcrumb-item active" aria-current="page">영업기회조회</li>
						</ol>
					</div>

					<!-- Row -->
					<div class="row">
						
						<!-- businessChanceTable -->
						<div class="col-lg-12" style="margin-left: 10px; margin-right: 10px;">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary" id="tableTitle">영업기회 현황 (전체)</h6>
									<div><a class="btn btn-info btn-icon-split" th:onclick="location.href=''">
											<span class="icon text-white"><i class="fas fa-edit"></i></span>
											<span class="text text-white">영업기회등록</span>
										</a>
									</div>
								</div>
								
								<ul class="nav nav-tabs nav-justfied">
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="all" class="nav-link active" data-toggle="tab">전체</a>
									</li>
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="progress" class="nav-link" data-toggle="tab">진행중</a>
									</li>
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="success" class="nav-link" data-toggle="tab">성공</a>
									</li>
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="postpone" class="nav-link" data-toggle="tab">보류</a>
									</li>
									<li class="nav-item">
										<a th:href="@{ #businessChanceTable }" th:name="status" th:value="failed" class="nav-link" data-toggle="tab">실패</a>
									</li>
								</ul>

								<div class="table-responsive p-3">
									<table class="table align-items-center table-flush table-hover" id="businessChanceTable">
										<thead th:align="center" class="thead-light">
											<tr>
												<th>영업기회번호</th>
												<th>영업기회명</th>
												<th>고객명</th>
												<th>진행상태</th>
												<th>담당자</th>
												<th>영업단계</th>
												<th>등록일시</th>
												<th>관리</th>
											</tr>
										</thead>
										
										<tbody th:align="center">
											<tr th:each="chanceList : ${businessChanceList}">
												<td th:text="${chanceList.businessChanceNo}"></td>
												<td th:text="${chanceList.businessTitle}"></td>
												<td th:text="${chanceList.customerName}"></td>
												<td th:switch="${chanceList.progressStatus}">
													<span th:case="'진행중'" class="badge badge-success" th:text="${chanceList.progressStatus}"></span>
													<span th:case="'실패'" class="badge badge-danger" th:text="${chanceList.progressStatus}"></span>
													<span th:case="'성공'" class="badge badge-info" th:text="${chanceList.progressStatus}"></span>
													<span th:case="'보류중'" class="badge badge-warning" th:text="${chanceList.progressStatus}"></span>
												</td>
												<td th:text="${chanceList.empName}"></td>
												<td th:text="${chanceList.salesLevel}"></td>
												<td th:text="${chanceList.dueDate}"></td>
												<td><a class="btn btn-sm btn-dark btn-icon-split" 
													   th:href="@{/business/chance/selectBasicInfo(customerNo=${ chanceList.customerNo }, businessChanceNo=${ chanceList.businessChanceNo })}">
													<span class="icon text-white-50"><i class="fas fa-clipboard-list"></i></span>
													<span class="text text-white">상세정보</span>
													</a>
												</td>
											</tr>
										</tbody>
										
										<tfoot th:align="center">
										</tfoot>
										
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Script -->
	<th:block th:replace="@{/common/script} :: script"></th:block>

<script>
$(document).ready(function () {

	// ID From dataTable with Hover
	$('#businessChanceTable').DataTable({     
		order:[]
	});
});
	/* 메세지 출력 */
	const message = '[[${ message }]]';

	if(message) {
		alert(message);
	}
	
 
    
 // 테이블 (진행상태)별 검색 결과 
    $(document).on('click', "a[name=status]",  function() {
    	
    	let businessChanceStatus = $(this).attr('value');
    	
			if(businessChanceStatus == 'all') {
				$("#tableTitle").html("영업기회 현황 (전체)");
			} else {
				$("#tableTitle").html("영업기회 현황 (" + $(this).text() + ")");
			}
    	
		$.ajax({
			url: "/business/chance/selectAll/status?businessChanceStatus=" + businessChanceStatus,
			type: "get",
			success: function(data, status, xhr) {
				
				const businessChanceList = JSON.parse(data.businessChanceList);
				
				console.table(businessChanceList);
				
				const $table = $('#businessChanceTable tbody');
				
				$table.html("");		//기존 테이블데이터(body내용) 초기화
				
				if(businessChanceList != null) {
				
				for(let index in  businessChanceList) {
					let businessChance = businessChanceList[index];
					
					$tr = $("<tr>").prop("th:align", "center");
					$businessChanceNoTd = $("<td>").text(businessChance.businessChanceNo);
					$estimateTitleTd = $("<td>").prop("th:align", "center").text(businessChance.businessTitle);
					$customerNoTd = $("<td>").text(businessChance.customerNo).attr("hidden", "hidden");
					$customerNameTd = $("<td>").text(businessChance.customerName);
					$badgeSpan = $("<span>").text(businessChance.progressStatus);
					switch(businessChance.progressStatus) {
						case '진행중' : $badgeSpan.addClass("badge badge-success"); break;
						case '성공' : $badgeSpan.addClass("badge badge-info"); break;
						case '보류중' : $badgeSpan.addClass("badge badge-warning"); break;
						case '실패' : $badgeSpan.addClass("badge badge-danger"); break;
					}
					$progressStatusTd = $("<td>").append($badgeSpan);
					$empNameTd = $("<td>").text(businessChance.empNo + " " + businessChance.empName);
					$salesLevelTd = $("<td>").text(businessChance.salesLevel);
					$dueDateTd = $("<td>").text(businessChance.dueDate);
					$btnIcon = $("<i>").addClass("fas fa-clipboard-list");
					$btnIconSpan = $("<span>").addClass("icon text-white-50").append($btnIcon);
					$btnTextSpan = $("<span>").addClass("text text-white").text("상세정보");
					$detailBtn = $("<button>").addClass("btn btn-sm btn-dark btn-icon-split")
											  .attr('id', 'detailInfoBtn')
									          .attr("data-business-chance-no", businessChanceList[index].businessChanceNo)
								          	  .attr("name", "businessChanceDetailBtn").append($btnIconSpan).append($btnTextSpan);
					$detailTd = $("<td>").append($detailBtn);

					$tr.append($businessChanceNoTd);
					$tr.append($estimateTitleTd);
					$tr.append($customerNoTd);
					$tr.append($customerNameTd);
					$tr.append($progressStatusTd);
					$tr.append($empNameTd);
					$tr.append($salesLevelTd);
					$tr.append($dueDateTd);
					$tr.append($empNameTd);
					$tr.append($salesLevelTd);
					$tr.append($dueDateTd);
					$tr.append($detailTd);
					
					$table.append($tr);
				}
				}	
			},
			error: function(xhr, status, error) {
				console.log(xhr);
			}
		});
    });
    
    $(document).on("click", "button[name='businessChanceDetailBtn']", function() {
		const businessChanceNo = $(this).parent().parent().children().eq(0).text();
		const customerNo = $(this).parent().parent().children().eq(2).text();

		location.href="/business/chance/selectBasicInfo?businessChanceNo=" + businessChanceNo + "&customerNo=" + customerNo;
	});
    
    
    
    
  </script>
</body>
</html>