<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="@{common/config} :: config"></th:block>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Header -->
                <th:block th:replace="@{/common/header} :: header"></th:block>

                <!-- Content -->
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">분석 고객 현황</h6>
                        <div>
                            <a class="btn btn-info btn-icon-split"
                               th:onclick="location.href='#'">
                                                        <span class="icon text-white">
                                                            <i class="fas fa-edit"></i>
                                                        </span>
                                <span class="text text-white">분석고객등록</span>
                            </a>
                        </div>
                    </div>
                    <div class="container-fluid" id="container-wrapper">
                        <table id="table_customer" class="table align-items-center table-flush table-hover">
                            <thead class="thead-light" th:align="center">
                                <tr>
                                    <th>고객상태</th>
                                    <th>업태</th>
                                    <th>고객사명</th>
                                    <th>고객명</th>
                                    <th>담당사원</th>
                                    <th>관심상품</th>
                                    <th>상세보기</th>
                                </tr>
                            </thead>
                            <tbody th:align="center">
                                <tr th:each="customer : ${ customerCompanyList }" >
                                    <td th:each="cus : ${ customer.customerList }"
                                        th:text="${ cus.extCustomerDetail.customerStatus }"></td>
                                    <td th:text="${ customer.businessStatus }"></td>
                                    <td th:text="${ customer.companyName }"></td>
                                    <td th:each="cus : ${ customer.customerList }"
                                        th:text="${ cus.customerName }"></td>
                                    <td th:each="cus : ${ customer.customerList }"
                                        th:text="${ cus.empInfo.empName }"></td>
                                    <td th:each="cus, i : ${ customer.customerList }"
                                        th:text="${ cus.customerProductList[i.index].product.productName }"></td>
                                    <td th:each="cus : ${ customer.customerList }">
                                        <a class="btn btn-dark btn-icon-split"
                                                th:href="@{/customer/anainfo(customerNo=${ cus.customerNo })}">
                                            <span class="icon text-white-50">
                                                            <i class="fas fa-clipboard-list"></i>
                                                        </span>
                                            <span class="text text-white">상세정보</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable
            $('#table_customer').DataTable(); // ID From dataTable with Hover
        });
    </script>
</body>

</html>