<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="@{common/config} :: config"></th:block>
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css"
          rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <th:block th:replace="@{/common/sidebar} :: sidebar"></th:block>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Header -->
                <th:block th:replace="@{/common/header} :: header"></th:block>

                <!-- Content -->
                <div class="container-fluid" id="container-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-11">
                                <button type="button" id="btnBack" class="close"><i class="far fa-times-circle"></i></button>
                                <h1 style="color: #2e2f37">기존 고객 조회</h1>
                            </div>
                            <div class="col-lg-1">

                            </div>
                            <hr>
                        </div>

                        <div class="col-lg-3">
                            <h3 style="color: #2e2f37">상품구매내역</h3>

                            <ul class="navbar-nav">
                                <li class="alert alert-danger mb-1">구매내역</li>
                                <li class="alert alert-light mb-1">진행중</li>
                                <li class="alert alert-light mb-1">성공</li>
                                <li class="alert alert-light mb-1">실패</li>
                                <li class="alert alert-light mb-1">보류중</li>
                            </ul>
                        </div>

<!--                        <div class="col-lg-1"><input type="hidden" value="emptyRow"></div>-->
                        <div class="col-lg-8">
                            <h3 style="color: #2e2f37">기본정보</h3>
                            <div class="card mb-auto">
                                <div class="row">
                                    <div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4 row">
                                        <label for="customerNo" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">고객번호</label>
                                        <input th:disabled="${customerInfo.customerList[0].customerNo}"
                                               id="customerNo" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.customerList[0].customerNo}">
                                    </div>
                                    <div class="form-group col-lg-4 row">
                                        <label for="customerName" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">고객명</label>
                                        <input th:disabled="${customerInfo.customerList[0].customerName}"
                                               id="customerName" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.customerList[0].customerName}">
                                    </div>
                                    <div class="form-group col-lg-4 row">
                                        <label for="empName" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">담당사원</label>
                                        <input th:disabled="${customerInfo.customerList[0].empInfo.empName}"
                                               id="empName" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.customerList[0].empInfo.empName}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4 row">
                                        <label for="email" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">이메일</label>
                                        <input th:disabled="${customerInfo.customerList[0].customerEmail}"
                                               id="email" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.customerList[0].customerEmail}">
                                    </div>
                                    <div class="form-group col-lg-4 row">
                                        <label for="businessStatus" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">업태</label>
                                        <input th:disabled="${customerInfo.businessStatus}"
                                               id="businessStatus" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.businessStatus}">
                                    </div>
                                    <div class="form-group col-lg-4 row">
                                        <label for="customerStatus" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">고객상태</label>
                                        <input th:disabled="${customerInfo.customerList[0].extCustomerDetail.customerStatus}"
                                               id="customerStatus" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.customerList[0].extCustomerDetail.customerStatus}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4 row">
                                        <label for="phone" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">전화번호</label>
                                        <input th:disabled="${customerInfo.customerList[0].customerPhone}"
                                               id="phone" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.customerList[0].customerPhone}">
                                    </div>
                                    <div class="form-group col-lg-4 row">
                                        <label for="numberOfEmp" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">직원수</label>
                                        <input th:disabled="${customerInfo.numberOfEmployees}"
                                               id="numberOfEmp" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.numberOfEmployees}">
                                    </div>
                                    <div class="form-group col-lg-4 row">
                                        <div class="col-lg-1"><input type="hidden"></div>
                                        <a class="btn btn-primary btn-icon-split col-lg-5"
                                           style="height: 41px; font-size: 19px">
                                        <span class="text text-white">담당사원변경</span>
                                        </a>
                                        <div class="col-lg-1"><input type="hidden"></div>
                                        <a class="btn btn-primary btn-icon-split col-lg-5"
                                           style="height: 41px; font-size: 19px">
                                            <span class="text text-white">고객상태변경</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-4 row">
                                        <label for="fax" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">팩스</label>
                                        <input th:disabled="${customerInfo.customerList[0].customerFax}"
                                               id="fax" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.customerList[0].customerFax}">
                                    </div>
                                    <div class="form-group col-lg-4 row">
                                        <label for="revenue" class="col-lg-4 form-control-plaintext"
                                               th:align="center" style="padding: 10px 0;">매출액(만)</label>
                                        <input th:disabled="${customerInfo.companyRevenue}"
                                               id="revenue" type="text" class="form-control col-lg-8"
                                               th:value="${customerInfo.companyRevenue}">
                                    </div>
                                    <div class="form-group col-lg-4 row">
                                        <div class="col-lg-1"><input type="hidden"></div>
                                        <a class="btn btn-primary btn-icon-split col-lg-5"
                                           style="height: 41px; font-size: 19px">
                                            <span class="text text-white">기본정보수정</span>
                                        </a>
                                        <div class="col-lg-1"><input type="hidden"></div>
                                        <a class="btn btn-primary btn-icon-split col-lg-5"
                                           id="detailInfo"
                                           style="height: 41px; font-size: 19px">
                                            <span class="text text-white">상세정보</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
                            <br>
                            <h3 style="color: #2e2f37">활동 이력</h3>
                            <div class="form-group col-lg-12" style="overflow-y: scroll; height: 200px;">

                                <table id="table_activity" class="table align-items-center table-flush table-hover">
                                    <thead class="thead-light" th:align="center">
                                        <tr>
                                            <th>활동이력번호</th>
                                            <th>활동주제</th>
                                            <th>등록자</th>
                                            <th>등록일</th>
                                            <th>고객접촉일자</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody th:align="center">
                                        <tr th:each="activity : ${ businessActivityList }">
                                            <td th:text="${ activity.activityNo }"></td>
                                            <td th:text="${ activity.businessSubject }"></td>
                                            <td th:text="${ activity.empInfo.empName }"></td>
                                            <td th:text="${ activity.writingDate }"></td>
                                            <td th:text="${ activity.activityStartTime}"></td>
                                            <td>
                                                <a class="btn btn-primary btn-icon-split"
                                                   id="activityDetail"
                                                   th:value="${ activity.activityNo }"
                                                   style="font-size: 12px; height: 30px;">
                                                    <span class="text text-white">상세정보</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------- Detail Info Modal --------------->
        <div class="modal fade" id="detailModal" role="dialog">
            <div class="modal-dialog modal-xl">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: #0da8ee">상세정보</h4>
                        <button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle"></i></button>
                        <div class="row">
                            <div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <span style="font-size: x-large; color: #2e2f37;" th:text="${ customerInfo.companyName }"></span>
                        <div class="row">
                            <div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
                        </div>
                        <div class="card mb-auto">
                            <div class="row">
                                <div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomerNo" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">고객번호</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerNo}"
                                           id="modalCustomerNo" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerNo}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomerName" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">담당자</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerName}"
                                           id="modalCustomerName" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerName}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalRegistNo" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">사업자등록번호</label>
                                    <input th:disabled="${customerInfo.companyRegistNo}"
                                           id="modalRegistNo" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.companyRegistNo}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomerPhone" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">담당자 전화번호</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerPhone}"
                                           id="modalCustomerPhone" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerPhone}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalBusinessStatus" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">업태</label>
                                    <input th:disabled="${customerInfo.businessStatus}"
                                           id="modalBusinessStatus" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.businessStatus}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomerEmail" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">담당자 이메일</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerEmail}"
                                           id="modalCustomerEmail" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerEmail}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalBusinessType" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">종목</label>
                                    <input th:disabled="${customerInfo.businessType}"
                                           id="modalBusinessType" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.businessType}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalAddress" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">주소</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerAddress}"
                                           id="modalAddress" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerAddress}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalNumberOfEmp" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">직원수(명)</label>
                                    <input th:disabled="${customerInfo.numberOfEmployees}"
                                           id="modalNumberOfEmp" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.numberOfEmployees}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomizationDate" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">고객화일자</label>
                                    <input th:disabled="${customerInfo.customerList[0].extCustomerDetail.customizationDate}"
                                           id="modalCustomizationDate" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].extCustomerDetail.customizationDate}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalRevenue" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">연매출액(만원)</label>
                                    <input th:disabled="${customerInfo.companyRevenue}"
                                           id="modalRevenue" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.companyRevenue}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <input type="hidden" value="emptyRow">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalWebsite" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">웹사이트</label>
                                    <input th:disabled="${customerInfo.homepage}"
                                           id="modalWebsite" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.homepage}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <input type="hidden" value="emptyRow">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalFax" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">팩스</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerFax}"
                                           id="modalFax" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerFax}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <input type="hidden" value="emptyRow">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modifyDetailInfo" class="btn btn-primary">상세정보수정</button>
                    </div>
                    <div id="count" value="1"></div>
                </div>
            </div>
        </div>


        <!------------- Activity Detail Modal --------------->
        <div class="modal fade" id="activityModal" role="dialog">
            <div class="modal-dialog modal-xl">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row col-sm-12">
                            <h4 class="modal-title" style="color: #0da8ee; padding: 10px">영업활동 상세정보</h4>
                            <button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle"></i></button>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12"><input type="hidden" value="emptyRow"></div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-12"><input type="hidden" value="emptyRow"></div>
                        </div>

                    </div>
                    <div class="modal-body">
                        <span style="font-size: x-large; color: #2e2f37; padding: 20px"
                              th:text="${ customerInfo.companyName }"></span>
                        <span style="padding: 330px;"></span>
                        <span th:text="|등록일자 : ${ businessActivityList[0].writingDate }|"></span>
                       <div class="row">
                            <div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
                        </div>
                        <div class="card mb-auto">
                            <div class="row">
                                <div class="form-group col-lg-12"><input type="hidden" value="emptyRow"></div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomerNo" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">고객번호</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerNo}"
                                           id="modalCustomerNo" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerNo}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomerName" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">담당자</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerName}"
                                           id="modalCustomerName" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerName}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalRegistNo" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">사업자등록번호</label>
                                    <input th:disabled="${customerInfo.companyRegistNo}"
                                           id="modalRegistNo" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.companyRegistNo}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomerPhone" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">담당자 전화번호</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerPhone}"
                                           id="modalCustomerPhone" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerPhone}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalBusinessStatus" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">업태</label>
                                    <input th:disabled="${customerInfo.businessStatus}"
                                           id="modalBusinessStatus" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.businessStatus}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomerEmail" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">담당자 이메일</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerEmail}"
                                           id="modalCustomerEmail" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerEmail}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalBusinessType" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">종목</label>
                                    <input th:disabled="${customerInfo.businessType}"
                                           id="modalBusinessType" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.businessType}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalAddress" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">주소</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerAddress}"
                                           id="modalAddress" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerAddress}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalNumberOfEmp" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">직원수(명)</label>
                                    <input th:disabled="${customerInfo.numberOfEmployees}"
                                           id="modalNumberOfEmp" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.numberOfEmployees}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalCustomizationDate" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">고객화일자</label>
                                    <input th:disabled="${customerInfo.customerList[0].extCustomerDetail.customizationDate}"
                                           id="modalCustomizationDate" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].extCustomerDetail.customizationDate}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalRevenue" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">연매출액(만원)</label>
                                    <input th:disabled="${customerInfo.companyRevenue}"
                                           id="modalRevenue" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.companyRevenue}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <input type="hidden" value="emptyRow">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalWebsite" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">웹사이트</label>
                                    <input th:disabled="${customerInfo.homepage}"
                                           id="modalWebsite" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.homepage}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <input type="hidden" value="emptyRow">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6 row">
                                    <div class="form-group col-lg-1"><input type="hidden" value="emptyRow"></div>
                                    <label for="modalFax" class="col-lg-4 form-control-plaintext"
                                           th:align="center"
                                           style="height: 43px; padding: 10px 0; color: #109EDE; background-color: #DEE5FF">팩스</label>
                                    <input th:disabled="${customerInfo.customerList[0].customerFax}"
                                           id="modalFax" type="text" class="form-control col-lg-7"
                                           th:value="${customerInfo.customerList[0].customerFax}">
                                </div>
                                <div class="form-group col-lg-6 row">
                                    <input type="hidden" value="emptyRow">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modifyDetailInfo" class="btn btn-primary">상세정보수정</button>
                    </div>
                    <div id="count" value="1"></div>
                </div>
            </div>
        </div>
    </div>

<!-- Script -->
    <th:block th:replace="@{/common/script} :: script"></th:block>
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable(); // ID From dataTable
            $('#table_activity').DataTable(); // ID From dataTable with Hover
        });

        $('#detailInfo').click(function () {
           $('#detailModal').modal();
        });

        $('#btnBack').click(function () {
           window.history.back();
        });

        $('#activityDetail').click(function() {
            $.ajax({
               url: "customer/activity/select",
               type: "GET",
               data: { activityNo : $("#activityDetail").val() },
                success: function (data, status, xhr) {

                   const activity = JSON.parse(data.activityOne);

                   console.log(activity);
                },
                error: function (xhr, status, error) {
                   console.log(error);
                }
            });
            $('#activityModal').modal();
        });
    </script>
</body>

</html>